div.icon-filter{
    text-align: right;
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);

}
div.icon-filter>span.filter-active{
    -webkit-transform: rotate(-90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-90deg);  /* IE 9 */
    transform: rotate(-90deg);
}

div.list-item-template{
    display: none !important;
}
div.sorted.desc::after{
    display: inline-block;
    content: "\e114";
    font-size: 13px;
    /* position: absolute; */
    margin-left: 4px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

div.sorted.ask::after {
    display: inline-block;
    content: "\e113";
    font-size: 13px;
    margin-left: 4px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

div.sorted:hover{
    text-decoration: underline;
    cursor: pointer;
}
div.wrp-more-button{
    height: 39px;
    text-align: center;
    background-color: #ffffff;
}
div.wrp-more-button span{
    font-size: 26px;
    margin-top: 7px;
}
div.wrp-more-button:hover{
    cursor: pointer;
    opacity: 0.7;
}