/* line 4, ../sass/blacklist.scss */
.form-with-bg, .form-with-border, .form-with-border-bl {
  background: #cbe3ea;
  width: 500px;
  padding: 10px;
  margin-bottom: 26px;
}

/* line 11, ../sass/blacklist.scss */
.form-with-border, .form-with-border-bl {
  border: 1px solid #0681b9;
  margin-top: 3px;
}

/* line 18, ../sass/blacklist.scss */
.form-header {
  color: #0681b9;
}

/* line 22, ../sass/blacklist.scss */
.text-area-bl {
  width: 472px;
  height: 161px;
}

/* line 27, ../sass/blacklist.scss */
.form-with-border-bl {
  width: 70%;
}

/* line 32, ../sass/blacklist.scss */
.text-area-bl {
  width: 472px;
  height: 161px;
}

/* line 38, ../sass/blacklist.scss */
.blacklist {
  background: #cbe3ea;
  padding-left: 16pt;
  padding-top: 10pt;
  width: 98%;
}
/* line 44, ../sass/blacklist.scss */
.blacklist .group-search, .blacklist .group-add, .blacklist .group-remove, .blacklist .blacklist-letters {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 47, ../sass/blacklist.scss */
.blacklist .group-search .row, .blacklist .group-add .row, .blacklist .group-remove .row, .blacklist .blacklist-letters .row {
  margin-top: 5pt;
  margin-bottom: 10pt;
}
/* line 52, ../sass/blacklist.scss */
.blacklist .group-search label, .blacklist .group-add label, .blacklist .group-remove label, .blacklist .blacklist-letters label {
  margin-left: 15pt;
}
/* line 57, ../sass/blacklist.scss */
.blacklist .group-add, .blacklist .group-remove {
  margin-top: 0;
}
/* line 68, ../sass/blacklist.scss */
.blacklist .blacklist-letters-row, .blacklist #black_list_letters4 {
  margin-top: 10px;
}
/* line 70, ../sass/blacklist.scss */
.blacklist .blacklist-letters-row span, .blacklist #black_list_letters4 span, .blacklist .blacklist-letters-row a, .blacklist #black_list_letters4 a {
  float: left;
  margin-left: 5px;
}
