/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-light-webfont.eot");
  src: url("/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light-webfont.woff") format("woff"), url("/fonts/opensans-light-webfont.ttf") format("truetype"), url("/fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-lightitalic-webfont.eot");
  src: url("/fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-lightitalic-webfont.woff") format("woff"), url("/fonts/opensans-lightitalic-webfont.ttf") format("truetype"), url("/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-italic-webfont.eot");
  src: url("/fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-italic-webfont.woff") format("woff"), url("/fonts/opensans-italic-webfont.ttf") format("truetype"), url("/fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-regular-webfont.eot");
  src: url("/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular-webfont.woff") format("woff"), url("/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bold-webfont.eot");
  src: url("/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bold-webfont.woff") format("woff"), url("/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bolditalic-webfont.eot");
  src: url("/fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bolditalic-webfont.woff") format("woff"), url("/fonts/opensans-bolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabold-webfont.eot");
  src: url("/fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabold-webfont.woff") format("woff"), url("/fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabolditalic-webfont.eot");
  src: url("/fonts/opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabolditalic-webfont.woff") format("woff"), url("/fonts/opensans-extrabolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Bold.svg#pt_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot");
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-BoldItalic.woff") format("woff"), url("/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-BoldItalic.svg#pt_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Italic.eot");
  src: url("/fonts/PT_Sans-Web-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Italic.woff") format("woff"), url("/fonts/PT_Sans-Web-Italic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Italic.svg#pt_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Regular.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marck Script';
  src: url("/fonts/MarckScript-Regular.eot");
  src: url("/fonts/MarckScript-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MarckScript-Regular.woff") format("woff"), url("/fonts/MarckScript-Regular.ttf") format("truetype"), url("/fonts/MarckScript-Regular.svg#marck_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Regular.svg#PTSans-Caption") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Bold.svg#PTSans-CaptionBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1380882321');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1380882321');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1380882321');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1380882321');
  position: absolute;
  right: -60px;
  top: 29px;
}

/* line 7, ../sass/blog_layout.scss */
#content {
  min-height: 600px;
}

/* line 11, ../sass/blog_layout.scss */
.side-bar {
  padding-right: 15px;
  float: left;
  width: 237px;
}

/* line 17, ../sass/blog_layout.scss */
.side-bar ul li {
  padding-right: 18px;
  line-height: 47px;
  background-color: #cbe3ea;
  background-image: url("/themes/modern/img/sidebar_menu_border.jpg?1378724357");
  background-repeat: no-repeat;
  text-align: right;
}

/* line 26, ../sass/blog_layout.scss */
.side-bar ul li a {
  display: block;
  width: 100%;
  color: #01355b;
  line-height: inherit;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* line 37, ../sass/blog_layout.scss */
.list-view {
  display: block;
  padding: 10px;
  margin-left: 267px;
}

/* line 43, ../sass/blog_layout.scss */
.title {
  color: #233857;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 49, ../sass/blog_layout.scss */
.date {
  margin-top: 10px;
  color: #0495d4;
}

/* line 54, ../sass/blog_layout.scss */
.description {
  margin-top: 10px;
  font-size: 11pt;
  line-height: 1.2;
  /*Переопределение стандартных стилей*/
  /*-------------------------------------*/
}
/* line 60, ../sass/blog_layout.scss */
.description h1, .description h2, .description h3, .description h4, .description h5, .description h6 {
  font-weight: normal;
  line-height: 1.2em;
}
/* line 64, ../sass/blog_layout.scss */
.description h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
/* line 73, ../sass/blog_layout.scss */
.description h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
/* line 82, ../sass/blog_layout.scss */
.description strong, .description b {
  font-weight: bold;
}
/* line 85, ../sass/blog_layout.scss */
.description a {
  color: #0782C1;
}
/* line 88, ../sass/blog_layout.scss */
.description blockquote {
  font-style: italic;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}
/* line 100, ../sass/blog_layout.scss */
.description thead tr th {
  padding: 4px;
  font-weight: bold;
  border: solid 1px #ccc;
}
/* line 105, ../sass/blog_layout.scss */
.description tbody tr td {
  padding: 4px;
  border: solid 1px #ccc;
}

/* line 112, ../sass/blog_layout.scss */
.description * {
  margin: 8px;
}

/* line 116, ../sass/blog_layout.scss */
.more {
  margin-top: 10px;
  text-align: right;
  color: #0495d4;
  font-style: italic;
  text-decoration: underline;
}

/* line 124, ../sass/blog_layout.scss */
.space {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #BBD6E1;
  height: 10px;
}

/* line 131, ../sass/blog_layout.scss */
.tags {
  margin: 0 auto;
}

/* line 135, ../sass/blog_layout.scss */
.tags li {
  display: inline-block;
  padding: 10px;
}

/* line 140, ../sass/blog_layout.scss */
#content > .side-bar ul li.active {
  -webkit-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  -moz-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  background: #0094d4;
  position: relative;
  margin-left: 8px;
}

/* line 148, ../sass/blog_layout.scss */
#content > .side-bar ul li.active a {
  color: white;
  font-weight: bold;
}

/*Классы для CKEditor*/
/* line 153, ../sass/blog_layout.scss */
.right {
  float: right;
}

/* line 157, ../sass/blog_layout.scss */
.left {
  float: left;
}

/*-------------------*/
/* line 162, ../sass/blog_layout.scss */
#scroll-up {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 0%;
  right: 0%;
  background-color: #7db9e8;
  opacity: .3;
  color: #fff;
  padding: 10px;
  margin: 5px 15px 15px 5px;
  border-radius: 3px;
}

/* line 176, ../sass/blog_layout.scss */
#scroll-up span {
  font-size: 20px;
}

/* line 180, ../sass/blog_layout.scss */
#scroll-up:hover {
  opacity: .8;
}

/* line 184, ../sass/blog_layout.scss */
#scroll-up:active {
  opacity: 1;
}

/* line 188, ../sass/blog_layout.scss */
.actions {
  text-align: right;
}
