/* line 4, ../sass/carousel_directions.scss */
.list-carousel {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 100;
}
/* line 10, ../sass/carousel_directions.scss */
.list-carousel ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
/* line 17, ../sass/carousel_directions.scss */
.list-carousel ul li {
  position: relative;
  color: #666;
  text-align: center;
  background-color: #E8F5F6;
  border-right: 1px solid #898989;
  width: 50px;
  height: 100%;
  padding: 0;
  display: block;
  float: left;
}
/* line 29, ../sass/carousel_directions.scss */
.list-carousel ul li div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
  position: realtive;
}
/* line 35, ../sass/carousel_directions.scss */
.list-carousel ul li div h1 {
  color: #0A3456;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 41, ../sass/carousel_directions.scss */
.list-carousel ul li div span {
  color: #38a8d0;
}
/* line 45, ../sass/carousel_directions.scss */
.list-carousel ul li div .more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 27px;
}
/* line 52, ../sass/carousel_directions.scss */
.list-carousel ul li div .more a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 146px;
  height: 27px;
  line-height: 27px;
  background: #008CC7;
  color: white;
  border-radius: 3px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-shadow: 3px 3px 5px -3px black, 0px 0px 6px -4px black;
  -moz-box-shadow: 3px 3px 5px -3px black, 0px 0px 6px -4px black;
  box-shadow: 3px 3px 5px -3px black, 0px 0px 6px -4px black;
}
/* line 67, ../sass/carousel_directions.scss */
.list-carousel ul li:hover {
  background: linear-gradient(#0092d1 0%, #06365c 100%);
}
/* line 69, ../sass/carousel_directions.scss */
.list-carousel ul li:hover h1 {
  color: white;
}
/* line 73, ../sass/carousel_directions.scss */
.list-carousel ul li:hover span {
  color: white;
}
/* line 78, ../sass/carousel_directions.scss */
.list-carousel ul li.active {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 82, ../sass/carousel_directions.scss */
.list-carousel ul li.last {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* line 88, ../sass/carousel_directions.scss */
.list-carousel .caroufredsel_wrapper {
  z-index: 5;
}
/* line 92, ../sass/carousel_directions.scss */
.list-carousel .clearfix {
  float: none;
  clear: both;
}
