/* line 3, ../sass/direction_layout.scss */
.about-picture {
  display: block;
  position: relative;
  background: url('/themes/modern/img/direction-about.png?1380882321') no-repeat;
  height: 59px;
  width: 281px;
}

/* line 11, ../sass/direction_layout.scss */
.wm-picture-border, .opt-picture-border {
  position: relative;
  margin-top: 55px;
}
/* line 15, ../sass/direction_layout.scss */
.wm-picture-border .wm-picture-header, .opt-picture-border .wm-picture-header {
  position: absolute;
  background: url('/themes/modern/img/directions/wm-caption.png?1380882321') no-repeat;
  height: 55px;
  width: 172px;
  top: -40px;
  left: 60px;
}
/* line 23, ../sass/direction_layout.scss */
.wm-picture-border .picture-border, .opt-picture-border .picture-border, .wm-picture-border .picture-border-tl, .opt-picture-border .picture-border-tl, .wm-picture-border .picture-border-tr, .opt-picture-border .picture-border-tr, .wm-picture-border .picture-border-bl, .opt-picture-border .picture-border-bl, .wm-picture-border .picture-border-br, .opt-picture-border .picture-border-br {
  height: 40px;
  width: 40px;
  position: absolute;
}
/* line 28, ../sass/direction_layout.scss */
.wm-picture-border .picture-border-tl, .opt-picture-border .picture-border-tl {
  top: 0px;
  left: 0px;
}
/* line 33, ../sass/direction_layout.scss */
.wm-picture-border .picture-border-tr, .opt-picture-border .picture-border-tr {
  top: 0px;
  right: 0px;
}
/* line 38, ../sass/direction_layout.scss */
.wm-picture-border .picture-border-bl, .opt-picture-border .picture-border-bl {
  bottom: 0px;
  left: 0px;
}
/* line 43, ../sass/direction_layout.scss */
.wm-picture-border .picture-border-br, .opt-picture-border .picture-border-br {
  bottom: 0px;
  right: 0px;
}

/* line 49, ../sass/direction_layout.scss */
.opt-picture-border {
  position: relative;
  margin-top: 50px;
}
/* line 54, ../sass/direction_layout.scss */
.opt-picture-border .wm-picture-header {
  position: absolute;
  background: url('/themes/modern/img/directions/opt-caption.png?1380882321') no-repeat;
  height: 50px;
  width: 209px;
  top: -25px;
}

/* line 63, ../sass/direction_layout.scss */
.wm-picture-underline {
  position: relative;
  margin-top: 55px;
}
/* line 68, ../sass/direction_layout.scss */
.wm-picture-underline .wm-picture-header {
  position: relative;
  background: url('/themes/modern/img/directions/wm-caption.png?1380882321') no-repeat;
  height: 55px;
  width: 172px;
  left: 77px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 76, ../sass/direction_layout.scss */
.wm-picture-underline .picture-underline {
  position: relative;
  left: 40px;
  background: url('/themes/modern/img/directions/underline/wm_underline.png?1380882321') no-repeat;
  height: 14px;
  width: 100%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 86, ../sass/direction_layout.scss */
.opt-picture-underline {
  position: relative;
  margin-top: 50px;
}
/* line 91, ../sass/direction_layout.scss */
.opt-picture-underline .wm-picture-header {
  position: relative;
  background: url('/themes/modern/img/directions/opt-caption.png?1380882321') no-repeat;
  height: 50px;
  width: 209px;
  left: 77px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 99, ../sass/direction_layout.scss */
.opt-picture-underline .picture-underline {
  position: relative;
  left: 40px;
  background: url('/themes/modern/img/directions/underline/opt_underline.png?1380882321') no-repeat;
  height: 18px;
  width: 100%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 108, ../sass/direction_layout.scss */
.arrow-block {
  position: absolute;
  margin-left: 40%;
  top: -25px;
}

/* line 113, ../sass/direction_layout.scss */
.wm-picture-arrow {
  position: relative;
  margin-top: 55px;
}
/* line 118, ../sass/direction_layout.scss */
.wm-picture-arrow .wm-picture-header {
  position: relative;
  background: url('/themes/modern/img/directions/wm-caption.png?1380882321') no-repeat;
  height: 55px;
  width: 172px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 125, ../sass/direction_layout.scss */
.wm-picture-arrow .picture-arrow {
  position: relative;
  background: url('/themes/modern/img/directions/upperarrow/wm_arrow.png?1380882321') no-repeat;
  height: 49px;
  width: 130px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 135, ../sass/direction_layout.scss */
.opt-picture-arrow {
  position: relative;
  margin-top: 50px;
}
/* line 140, ../sass/direction_layout.scss */
.opt-picture-arrow .wm-picture-header {
  position: relative;
  background: url('/themes/modern/img/directions/opt-caption.png?1380882321') no-repeat;
  height: 50px;
  width: 209px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 147, ../sass/direction_layout.scss */
.opt-picture-arrow .picture-arrow {
  position: relative;
  background: url('/themes/modern/img/directions/upperarrow/opt_arrow.png?1380882321') no-repeat;
  height: 51px;
  width: 116px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 158, ../sass/direction_layout.scss */
.description .slide-benefits {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
/* line 164, ../sass/direction_layout.scss */
.description .slide-list {
  margin-top: -20px;
}
/* line 166, ../sass/direction_layout.scss */
.description .slide-list li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  width: 46%;
  margin-top: 40px;
}
/* line 171, ../sass/direction_layout.scss */
.description .slide-list li .slide-list-img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 173, ../sass/direction_layout.scss */
.description .slide-list li .slide-list-img img {
  height: 51px;
  width: 54px;
  padding-top: 5px;
}
/* line 180, ../sass/direction_layout.scss */
.description .slide-list li .list-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 150%;
  width: 60%;
  margin-left: 11px;
}
