/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/**
 *   Список ссылок на страницы описания направлений
 */
/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/* line 42, ../sass/_traverse.scss */
.t-info-text {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 47, ../sass/_traverse.scss */
.t-info-text .notice-text {
  float: left;
  color: #0094D6;
}

/* line 53, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 58, ../sass/_traverse.scss */
.t-header-2, #content .content-wrapper .direct .note h2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 78, ../sass/_traverse.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/**
 *   Buttons
 */
/* line 86, ../sass/_traverse.scss */
.submit-button, .submit-button:active, .no-submit-button {
  border: 1px solid white;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0681b9), color-stop(100%, #0094d4));
  background: -webkit-linear-gradient(bottom, #0681b9 0%, #0094d4 25px);
  background: -moz-linear-gradient(bottom, #0681b9 0%, #0094d4 25px);
  background: -o-linear-gradient(bottom, #0681b9 0%, #0094d4 25px);
  background: linear-gradient(bottom, #0681b9 0%, #0094d4 25px);
  border-radius: 6px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 7px -3px black, -3px -4px 7px -7px black;
  -moz-box-shadow: 1px 1px 7px -3px black, -3px -4px 7px -7px black;
  box-shadow: 1px 1px 7px -3px black, -3px -4px 7px -7px black;
  text-align: center;
}
/* line 101, ../sass/_traverse.scss */
.submit-button a, .submit-button:active a, .no-submit-button a {
  color: white;
}
/* line 104, ../sass/_traverse.scss */
.submit-button:hover, .no-submit-button:hover {
  text-decoration: none;
}

/* line 109, ../sass/_traverse.scss */
.submit-button:active, .no-submit-button:active {
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
  border-bottom: 1px solid #D3FAFE;
  border-right: 1px solid #D3FAFE;
}

/* line 117, ../sass/_traverse.scss */
.no-submit-button, .no-submit-button:active {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #9cbec9), color-stop(100%, #b0d7e2));
  background: -webkit-linear-gradient(bottom, #9cbec9 0%, #b0d7e2 25px);
  background: -moz-linear-gradient(bottom, #9cbec9 0%, #b0d7e2 25px);
  background: -o-linear-gradient(bottom, #9cbec9 0%, #b0d7e2 25px);
  background: linear-gradient(bottom, #9cbec9 0%, #b0d7e2 25px);
  color: #335977;
  font-weight: normal;
}

/* line 125, ../sass/_traverse.scss */
.no-submit-button:active {
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
  border-bottom: 1px solid #D3FAFE;
  border-right: 1px solid #D3FAFE;
}

/* line 131, ../sass/_traverse.scss */
.simple-rounded-submit {
  border-radius: 5px;
}

/* line 136, ../sass/_traverse.scss */
.simple-submit, .simple-rounded-submit {
  background: #0094D4;
  border: none;
  outline: none;
  padding: 3px 10px;
  color: white;
  margin-top: 7px;
  cursor: pointer;
}

/* line 146, ../sass/_traverse.scss */
.simple-submit:active, .simple-rounded-submit:active {
  -webkit-box-shadow: 3px 3px 5px -3px black inset;
  -moz-box-shadow: 3px 3px 5px -3px black inset;
  box-shadow: 3px 3px 5px -3px black inset;
}

/* line 150, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 156, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 160, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 167, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 172, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 177, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 191, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 199, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/* line 6, ../sass/direction_links.scss */
#content {
  width: 98%;
  margin: 0 auto;
}
/* line 23, ../sass/_mixins.scss */
#content .content-wrapper {
  float: right;
  width: 100%;
}
/* line 32, ../sass/_mixins.scss */
#content .direct {
  padding: 0;
  margin-right: 245px;
}
/* line 41, ../sass/_mixins.scss */
#content .direct-links {
  padding-right: 0;
  float: right;
  width: 245px;
  margin-right: -100%;
}
/* line 11, ../sass/direction_links.scss */
#content .content-wrapper {
  background: #B0D7E2;
  border-radius: 5px 5px 0 0;
  padding-bottom: 10px;
}
/* line 23, ../sass/_mixins.scss */
#content .content-wrapper .content-wrapper {
  float: left;
  width: 100%;
}
/* line 32, ../sass/_mixins.scss */
#content .content-wrapper .note {
  padding: 10px;
  margin-left: 245px;
}
/* line 41, ../sass/_mixins.scss */
#content .content-wrapper .sidebar-left {
  padding-right: 10px;
  float: left;
  width: 225px;
  margin-left: -100%;
}
/* line 18, ../sass/direction_links.scss */
#content .content-wrapper .direct .note {
  font-size: 1em;
  line-height: 1.8em;
}
/* line 22, ../sass/direction_links.scss */
#content .content-wrapper .direct .note h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 28, ../sass/direction_links.scss */
#content .content-wrapper .direct .note .context-icon-left {
  float: left;
}
/* line 32, ../sass/direction_links.scss */
#content .content-wrapper .direct .note .context-icon-right {
  float: right;
}
/* line 37, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left {
  background: #E8F5F6;
}
/* line 40, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left .statistic {
  background: #B0D7E2;
  padding: 10px;
  color: #0D3459;
  font-size: 0.9em;
}
/* line 46, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left .statistic .number {
  font-weight: bold;
}
/* line 52, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left .tips ul {
  margin-left: 16px;
}
/* line 54, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left .tips ul li {
  list-style-type: square;
  margin: 10px 0;
}
/* line 62, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left > div h2 {
  margin: 28px 0 9px 0;
  color: #0495D5;
  font-size: 1.2em;
}
/* line 68, ../sass/direction_links.scss */
#content .content-wrapper .direct .sidebar-left > div .play {
  display: block;
  width: 225px;
  height: 128px;
  background: url('/themes/modern/img/video_lesson.jpg?1380818687');
}
/* line 188, ../sass/_mixins.scss */
#content .direct-links .title {
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #08375d), color-stop(100%, #0094d4));
  background: -webkit-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -moz-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -o-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: linear-gradient(bottom, #08375d 0%, #0094d4 100%);
}
/* line 206, ../sass/_mixins.scss */
#content .direct-links .title {
  border-radius: 5px 5px 0 0;
}
/* line 210, ../sass/_mixins.scss */
#content .direct-links ul {
  background: #E8F5F6;
}
/* line 213, ../sass/_mixins.scss */
#content .direct-links ul li {
  padding-right: 18px;
}
/* line 216, ../sass/_mixins.scss */
#content .direct-links ul li a {
  color: white;
}
/* line 233, ../sass/_mixins.scss */
#content .direct-links ul a {
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: underline;
  color: #01355D;
  font-weight: bold;
}
/* line 224, ../sass/_mixins.scss */
#content .direct-links ul li.active a {
  text-decoration: none;
  color: #0094D4;
}
