/* line 1, ../sass/documents_create.scss */
.form {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 70%;
  padding: 20px;
  border: 1px solid #0681b9;
}
/* line 9, ../sass/documents_create.scss */
.form .row {
  margin-top: 15px;
}
/* line 11, ../sass/documents_create.scss */
.form .row .errorMessage {
  color: red;
  padding-bottom: 10px;
}

/* line 17, ../sass/documents_create.scss */
.errorMessage {
  margin-left: 10px;
  margin-top: 15px;
  color: red;
  padding-bottom: 10px;
}
