/* line 1, ../sass/documents.scss */
.acts {
  /*.documents_create a :hover:-webkit-any-link*/
}
/* line 2, ../sass/documents.scss */
.acts .documents_create a {
  margin-left: 10px;
  padding: 6px;
  border: 1px solid #0681b9;
  border-radius: 15px;
  color: #0681b9;
}
/* line 9, ../sass/documents.scss */
.acts .documents_create a:hover {
  text-decoration: none;
}
/* line 14, ../sass/documents.scss */
.acts .form_container {
  margin-top: 15px;
  margin-left: 10px;
  width: 70%;
  padding: 20px;
  border: 1px solid #0681b9;
}
/* line 21, ../sass/documents.scss */
.acts .form_container h6.form_title {
  font-size: 1em;
  font-weight: bold;
  color: #0681b9;
}
/* line 28, ../sass/documents.scss */
.acts .form_container .form .buttons {
  margin-top: 20px;
}
/* line 32, ../sass/documents.scss */
.acts .form_container .form .radio_list {
  padding-left: 20px;
}
/* line 36, ../sass/documents.scss */
.acts .form_container .form .row {
  margin-top: 15px;
}
/* line 39, ../sass/documents.scss */
.acts .form_container .form .group_title {
  font-style: italic;
}
