/* line 4, ../sass/forms.scss */
.form-with-bg, .form-with-border, .fast-search, .add-site, .add-project, .group-prices, .group-settings, .group-settings-addurl, .wmsite-setting, .change-prices {
  background: #cbe3ea;
  padding: 15px;
  margin-bottom: 26px;
  width: 500px;
}

/* line 11, ../sass/forms.scss */
.row {
  margin-top: 10px;
}

/* line 15, ../sass/forms.scss */
.form-with-border, .fast-search {
  border: 1px solid #0681b9;
  margin-top: 3px;
}

/* line 23, ../sass/forms.scss */
.form-fixed-input-width .row > label, .form-fixed-input-width-small .row > label, .add-site .row > label, .add-audit-order .row > label, .group-settings .row > label, .group-settings-addurl .row > label, .wmsite-setting .row > label, .change-prices .row > label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 450px;
}

/* line 31, ../sass/forms.scss */
.form-fixed-input-width-small .row > label, .add-site .row > label {
  width: 150px;
}

/* line 36, ../sass/forms.scss */
#content .info, #content .opt-link-switcher {
  background: #cbe3ea;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 42, ../sass/forms.scss */
.tabs-in-content {
  position: relative;
  bottom: 75px;
  left: -25px;
}
/* line 47, ../sass/forms.scss */
.tabs-in-content li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 30px;
  padding: 5px 10px;
}
/* line 53, ../sass/forms.scss */
.tabs-in-content li a {
  color: black;
  text-decoration: underline;
}
/* line 58, ../sass/forms.scss */
.tabs-in-content li.active {
  background: #B0D7E2;
}

/** Implementation **/
/* line 64, ../sass/forms.scss */
.add-site {
  background: #cbe3ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding-top: 20pt;
}
/* line 68, ../sass/forms.scss */
.add-site h1 {
  padding-left: 20pt;
  margin-bottom: 10px !important;
}
/* line 73, ../sass/forms.scss */
.add-site .code-for > p.target-header {
  margin: 0 !important;
  padding: 20px 0px;
  font-size: 24px !important;
  font-weight: bold;
  padding-left: 35pt;
  border-bottom: 1px solid #A0B0B2;
  text-shadow: 0px 1px 0px white;
  color: #677278;
}
/* line 84, ../sass/forms.scss */
.add-site .code-for .download {
  -webkit-box-shadow: 0px 3px 9px #a0b0b2 inset;
  -moz-box-shadow: 0px 3px 9px #a0b0b2 inset;
  box-shadow: 0px 3px 9px #a0b0b2 inset;
  margin-bottom: 10pt;
  z-index: 12000;
}
/* line 88, ../sass/forms.scss */
.add-site .code-for .download ul.target-list {
  -webkit-box-shadow: 0px 3px 9px #a0b0b2 inset;
  -moz-box-shadow: 0px 3px 9px #a0b0b2 inset;
  box-shadow: 0px 3px 9px #a0b0b2 inset;
  width: 80%;
  background: #E2F2F2;
  margin: 0 auto;
  z-index: 1;
  padding: 12px 0px;
}
/* line 95, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li {
  padding: 12px 8%;
}
/* line 97, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li a {
  color: #677278;
  font-size: 14px;
}
/* line 101, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li span {
  float: left;
  color: #677278;
  background: url('/themes/modern/img/user_cabinet/addsite/dot_for_list.png?1382335058') left center no-repeat;
  padding-left: 17px;
}
/* line 107, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list {
  float: right;
}
/* line 110, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .information {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_information.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
}
/* line 113, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .information:hover {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_information_hover.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  color: #5CA6CA;
}
/* line 119, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .get {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  margin-left: 15px;
}
/* line 123, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .get:hover {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_hover.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  color: #5CA6CA;
}
/* line 135, ../sass/forms.scss */
.add-site form {
  padding-left: 45pt;
}
/* line 137, ../sass/forms.scss */
.add-site form .add-site-fieldset {
  background: #B0D7E2;
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
}

/* line 148, ../sass/forms.scss */
.add-site {
  margin: 10px auto;
  position: relative;
  width: auto;
}
/* line 154, ../sass/forms.scss */
.add-site .progress-generating {
  display: none;
  height: 40px;
  width: 250px;
  border: 2px solid #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  background-color: #4d9fed;
  background-image: url('/themes/modern/img/ajax-loader.gif?1391437090');
  background-size: cover;
}
/* line 166, ../sass/forms.scss */
.add-site label {
  width: 140px;
  margin-bottom: 4px;
}
/* line 170, ../sass/forms.scss */
.add-site .name {
  width: 240px;
}
/* line 174, ../sass/forms.scss */
.add-site h2 {
  margin-bottom: 10px;
}
/* line 177, ../sass/forms.scss */
.add-site #part {
  width: 145px;
}
/* line 180, ../sass/forms.scss */
.add-site .drop-down-menu {
  width: 90px !important;
  height: 25px;
  margin-top: 0px;
}
/* line 185, ../sass/forms.scss */
.add-site .drop-down-menu option {
  height: 25px;
}
/* line 190, ../sass/forms.scss */
.add-site .buttons {
  text-align: center;
  margin-top: 55px;
}

/** Заказ аудита **/
/* line 199, ../sass/forms.scss */
.add-audit-order {
  font-family: 'PT Sans';
  background: #C1E5EC;
  padding: 15px;
  margin-bottom: 26px;
}
/* line 206, ../sass/forms.scss */
.add-audit-order .registration-submit-button-leave {
  height: 32px;
  margin: 0;
  float: left;
}
/* line 212, ../sass/forms.scss */
.add-audit-order .cell {
  width: 15%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 215, ../sass/forms.scss */
.add-audit-order .cell.name {
  width: 35%;
  min-width: 350px;
}
/* line 218, ../sass/forms.scss */
.add-audit-order .cell.name input {
  width: 340px;
}
/* line 222, ../sass/forms.scss */
.add-audit-order .cell.error {
  width: 40%;
}
/* line 227, ../sass/forms.scss */
.add-audit-order label {
  width: 140px;
  vertical-align: top !important;
}
/* line 232, ../sass/forms.scss */
.add-audit-order .last-child {
  height: 29px;
}
/* line 235, ../sass/forms.scss */
.add-audit-order .last-child .empty {
  position: relative;
}
/* line 240, ../sass/forms.scss */
.add-audit-order #audit-arrow {
  position: absolute;
  width: 212px;
  height: 48px;
  line-height: 48px;
  background: url('/themes/modern/img/audit-arrow.png?1380882321');
  right: -6px;
  top: 5px;
  text-indent: 30px;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 1.5 em;
  color: white;
}

/** Проекты оптимизатора **/
/* line 261, ../sass/forms.scss */
.group-prices {
  width: auto;
}

/* line 266, ../sass/forms.scss */
.group-settings, .group-settings-addurl {
  width: auto;
}

/* line 274, ../sass/forms.scss */
.group-settings-addurl label {
  width: 250px;
}

/* line 279, ../sass/forms.scss */
#wm-site-settings-global {
  background: #CBE3EA;
  padding: 10px;
}

/* line 283, ../sass/forms.scss */
.wmsite-setting {
  width: 100%;
  padding: 0;
}
/* line 288, ../sass/forms.scss */
.wmsite-setting #settings {
  border: 1px solid #FFF;
  outline: 1px solid #919697;
}
/* line 291, ../sass/forms.scss */
.wmsite-setting #settings .general, .wmsite-setting #settings .maxlinks, .wmsite-setting #settings .stop-words {
  background: #CBE3EA;
}
/* line 293, ../sass/forms.scss */
.wmsite-setting #settings .general .left, .wmsite-setting #settings .maxlinks .left, .wmsite-setting #settings .stop-words .left {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 39%;
  padding-left: 2px;
  vertical-align: top;
}
/* line 299, ../sass/forms.scss */
.wmsite-setting #settings .general .right, .wmsite-setting #settings .maxlinks .right, .wmsite-setting #settings .stop-words .right {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 60%;
}
/* line 303, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row, .wmsite-setting #settings .maxlinks .right .row, .wmsite-setting #settings .stop-words .right .row {
  margin: 0;
}
/* line 305, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row input, .wmsite-setting #settings .maxlinks .right .row input, .wmsite-setting #settings .stop-words .right .row input {
  width: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 310, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row label, .wmsite-setting #settings .maxlinks .right .row label, .wmsite-setting #settings .stop-words .right .row label {
  width: 65%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 317, ../sass/forms.scss */
.wmsite-setting #settings .maxlinks {
  background: #DBEFF0;
}
/* line 323, ../sass/forms.scss */
.wmsite-setting #settings .stop-words label.own {
  width: 100px !important;
}
/* line 326, ../sass/forms.scss */
.wmsite-setting #settings .stop-words input.own {
  width: 65% !important;
}

/* line 333, ../sass/forms.scss */
.change-prices {
  width: 450px;
}
/* line 338, ../sass/forms.scss */
.change-prices label {
  width: 250px;
}

/** Optimizer **/
/* line 344, ../sass/forms.scss */
.fast-search {
  width: 90%;
  margin-top: 100px;
  border: 10px solid #B0D7E2;
}
/* line 351, ../sass/forms.scss */
.fast-search .criteria-name {
  width: 200px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-weight: bold;
}
/* line 357, ../sass/forms.scss */
.fast-search input[type="text"] {
  width: 50px;
  margin-right: 20px;
}
/* line 360, ../sass/forms.scss */
.fast-search input[type="text"] .error {
  border-color: #FC5A5C;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 368, ../sass/forms.scss */
.fast-search .from,
.fast-search .to {
  width: 40px;
}

/* line 373, ../sass/forms.scss */
.opt-link-switcher {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 1.5em;
  padding-right: 25px;
}
/* line 379, ../sass/forms.scss */
.opt-link-switcher h2 .name {
  color: black;
  text-transform: uppercase;
}

/* line 384, ../sass/forms.scss */
.textinput, input[type="text"],
input[type="password"], textarea {
  border: 1px solid #279BD6;
  outline: 1px solid white;
  background: #E8F5F6;
  height: 21px;
  -webkit-box-shadow: 0px 0px 12px #cbe3ea inset;
  -moz-box-shadow: 0px 0px 12px #cbe3ea inset;
  box-shadow: 0px 0px 12px #cbe3ea inset;
}
/* line 391, ../sass/forms.scss */
.textinput:focus, input[type="text"]:focus,
input[type="password"]:focus, textarea:focus {
  background: whitesmoke;
}

/* line 401, ../sass/forms.scss */
textarea {
  width: 450px;
  height: 70px;
}

/* line 407, ../sass/forms.scss */
label {
  margin: 10px !important;
}

/* line 411, ../sass/forms.scss */
#search-search-form {
  width: 500px;
}
/* line 414, ../sass/forms.scss */
#search-search-form .row input {
  float: right;
}
