/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block, #content .list-carousel td a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1380882321');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1380882321');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1380882321');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1380882321');
  position: absolute;
  right: -60px;
  top: 29px;
}

                                         /*@import "homepage/directions-list-icons/*.png";
@include all-directions-list-icons-sprites;*/
/* line 9, ../sass/front_page.scss */
html {
  font-family: 'PT Sans';
}

/* line 14, ../sass/front_page.scss */
.directions-list-icons-sprite {
  display: block;
  margin: 0 auto;
  width: 185px;
  height: 167px;
}

/* line 23, ../sass/front_page.scss */
#content > h1 {
  text-align: center;
  margin-top: 33px;
  text-transform: uppercase;
  font-weight: bold;
  color: #043559;
  font-size: 1.1em;
  margin-bottom: 17px;
}
/* line 33, ../sass/front_page.scss */
#content .list-carousel {
  width: 91%;
  margin-top: 40px;
}
/* line 36, ../sass/front_page.scss */
#content .list-carousel td {
  width: 200px;
  background: none;
  border: none;
  text-align: center;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item1 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/1.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item1:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/1_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item2 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/2.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item2:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/2_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item3 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/3.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item3:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/3_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item4 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/4.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item4:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/4_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item5 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/5.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item5:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/5_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item6 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/6.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item6:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/6_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item7 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/7.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item7:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/7_hover.png?1380882321') center 28px no-repeat;
}
/* line 43, ../sass/front_page.scss */
#content .list-carousel td .item8 {
  position: relative;
  color: #78747B;
  background: url('/themes/modern/img/homepage/directions-icons/8.png?1380882321') center 28px no-repeat;
}
/* line 48, ../sass/front_page.scss */
#content .list-carousel td .item8:hover {
  color: white;
  font-weight: bold;
  background: #0094d4 url('/themes/modern/img/homepage/directions-icons/8_hover.png?1380882321') center 28px no-repeat;
}
/* line 54, ../sass/front_page.scss */
#content .list-carousel td .caption {
  position: absolute;
  left: 0px;
  bottom: 28px;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
/* line 63, ../sass/front_page.scss */
#content .list-carousel td a {
  width: 142px;
  height: 160px;
  padding: 28px;
  margin: 0 auto;
}
/* line 74, ../sass/front_page.scss */
#content #slider {
  width: 100%;
  margin: 0 auto;
  margin-top: -16px;
}
/* line 79, ../sass/front_page.scss */
#content #slider #slider-left-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/shadow.png?1380882321');
  background-position: right center;
  background-repeat: no-repeat;
  height: 592px;
  float: left;
  width: 305px;
}
/* line 87, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois {
  font-family: 'PT Sans';
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 238px;
  margin-top: 66px;
  margin-right: 23px;
  margin-left: 44px;
  margin-bottom: 40px;
             /* &.active {
                @include border-radius(10px);
                @include box-shadow(2px 2px 5px -2px black inset);
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  left: 10px;
                  top: 52px;
                  left: 0;
                  right: 0;
                }
              }*/
}
/* line 97, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li {
  text-transform: uppercase;
  text-decoration: none !important;
}
/* line 101, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li a {
  color: #78747B;
  display: block;
  width: 238px;
  height: 107px;
  vertical-align: middle;
  line-height: 107px;
  text-decoration: none;
}
/* line 111, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li.active {
  background: #5D9FC9;
  text-decoration: underline;
}
/* line 115, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li.active a {
  color: white;
}
/* line 119, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li.active:after {
  height: 37px;
  background: url('/themes/modern/img/homepage/slider-nav-arrow.png?1380882321') center no-repeat;
}
/* line 125, ../sass/front_page.scss */
#content #slider #slider-left-block #navigation-whois li:hover {
  background: #bbd6dc;
}
/* line 150, ../sass/front_page.scss */
#content #slider #slider-right-block {
  margin-left: 305px;
  padding-top: 40px;
  padding-right: 38px;
  padding-left: 8px;
}
/* line 155, ../sass/front_page.scss */
#content #slider #slider-right-block > .note {
  color: white;
  top: 0px;
  left: 23px;
  position: relative;
  height: 516px;
  width: 98%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #5d9fc9;
  border-radius: 3px;
  margin: 0 auto;
  -webkit-box-shadow: 0 35px 46px -41px black;
  -moz-box-shadow: 0 35px 46px -41px black;
  box-shadow: 0 35px 46px -41px black;
}
/* line 168, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .image {
  height: 250px;
  width: 392px;
  background: url('/themes/modern/img/note-left-image-0.png?1380818687');
  position: absolute;
}
/* line 176, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .text {
  display: none;
  padding: 36px;
  padding-right: 90px;
  padding-left: 45px;
  line-height: 1.5em;
}
/* line 185, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .text-0 {
  display: block;
}
/* line 188, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-header {
  font-family: 'PT Sans';
}
/* line 191, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-benefits {
  font-family: 'PT Sans';
  text-transform: uppercase;
  margin: 30px auto 0px auto;
  font-size: 24px;
  font-weight: bold;
}
/* line 200, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list {
  margin-top: 40px;
  width: 100%;
}
/* line 206, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .vertical-spacer,
#content #slider #slider-right-block > .note .slide-list .item-note,
#content #slider #slider-right-block > .note .slide-list .note {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 210, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .vertical-spacer {
  height: 80px;
  width: 5px;
}
/* line 215, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item {
  width: 180px;
  text-align: left;
  line-height: 1em;
  padding-left: 50px;
  text-align: left;
  padding-left: 79px;
  margin: 0 auto;
}
/* line 224, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item .note {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 170px;
}
/* line 231, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item-1 {
  background: url('/themes/modern/img/homepage/1.png?1380882321') left center no-repeat;
  height: 80px;
}
/* line 231, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item-2 {
  background: url('/themes/modern/img/homepage/2.png?1380882321') left center no-repeat;
  height: 79px;
}
/* line 231, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item-3 {
  background: url('/themes/modern/img/homepage/3.png?1380882321') left center no-repeat;
  height: 79px;
}
/* line 231, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list .item-4 {
  background: url('/themes/modern/img/homepage/4.png?1380882321') left center no-repeat;
  height: 82px;
}
/* line 237, ../sass/front_page.scss */
#content #slider #slider-right-block > .note .slide-list td {
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
}

/* line 247, ../sass/front_page.scss */
.list-carousel {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 100;
  margin-top: 60px;
}

/* line 256, ../sass/front_page.scss */
#footer .footer-inner {
  -webkit-box-shadow: 0 0 8px 0 black;
  -moz-box-shadow: 0 0 8px 0 black;
  box-shadow: 0 0 8px 0 black;
  background-color: #cbe3ea;
}
