/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-light-webfont.eot");
  src: url("/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light-webfont.woff") format("woff"), url("/fonts/opensans-light-webfont.ttf") format("truetype"), url("/fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-lightitalic-webfont.eot");
  src: url("/fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-lightitalic-webfont.woff") format("woff"), url("/fonts/opensans-lightitalic-webfont.ttf") format("truetype"), url("/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-italic-webfont.eot");
  src: url("/fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-italic-webfont.woff") format("woff"), url("/fonts/opensans-italic-webfont.ttf") format("truetype"), url("/fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-regular-webfont.eot");
  src: url("/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular-webfont.woff") format("woff"), url("/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bold-webfont.eot");
  src: url("/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bold-webfont.woff") format("woff"), url("/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bolditalic-webfont.eot");
  src: url("/fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bolditalic-webfont.woff") format("woff"), url("/fonts/opensans-bolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabold-webfont.eot");
  src: url("/fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabold-webfont.woff") format("woff"), url("/fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabolditalic-webfont.eot");
  src: url("/fonts/opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabolditalic-webfont.woff") format("woff"), url("/fonts/opensans-extrabolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Bold.svg#pt_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot");
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-BoldItalic.woff") format("woff"), url("/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-BoldItalic.svg#pt_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Italic.eot");
  src: url("/fonts/PT_Sans-Web-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Italic.woff") format("woff"), url("/fonts/PT_Sans-Web-Italic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Italic.svg#pt_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Regular.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marck Script';
  src: url("/fonts/MarckScript-Regular.eot");
  src: url("/fonts/MarckScript-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MarckScript-Regular.woff") format("woff"), url("/fonts/MarckScript-Regular.ttf") format("truetype"), url("/fonts/MarckScript-Regular.svg#marck_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Regular.svg#PTSans-Caption") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Bold.svg#PTSans-CaptionBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage, .messages-bg .messages-other {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1380882321');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1380882321');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1380882321');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1380882321');
  position: absolute;
  right: -60px;
  top: 29px;
}

/* line 8, ../sass/front_page_layout.scss */
#root {
  background: #053559;
}
/* line 12, ../sass/front_page_layout.scss */
#root .bg {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 19, ../sass/front_page_layout.scss */
#content,
#header {
  background: #cbe3ea;
  -webkit-box-shadow: 0 0 8px 0 black;
  -moz-box-shadow: 0 0 8px 0 black;
  box-shadow: 0 0 8px 0 black;
}

/* line 24, ../sass/front_page_layout.scss */
#header {
  height: 198px;
}
/* line 28, ../sass/front_page_layout.scss */
#header .line-top,
#header .line-bottom {
  width: 100%;
  height: 1px;
  background: white;
}
/* line 34, ../sass/front_page_layout.scss */
#header .line-top {
  background: radial-gradient(#004664, #cbe3ea 80%, #cbe3ea 100%);
}
/* line 38, ../sass/front_page_layout.scss */
#header .line-bottom {
  background: radial-gradient(#ffffff, #cbe3ea 80%, #cbe3ea 100%);
}
/* line 42, ../sass/front_page_layout.scss */
#header .bottom {
  margin-top: 26px;
}

/* line 47, ../sass/front_page_layout.scss */
.messages-bg {
  background: #053559;
  width: 100%;
}
/* line 50, ../sass/front_page_layout.scss */
.messages-bg .messages-other {
  -webkit-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559, 22px 0px 0px #053559;
  -moz-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559, 22px 0px 0px #053559;
  box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559, 22px 0px 0px #053559;
  font-family: "Arial";
  width: 99%;
  padding: 0px;
}
/* line 56, ../sass/front_page_layout.scss */
.messages-bg .messages-other h1 {
  font-family: 'PT Sans';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 20px;
}

/* line 68, ../sass/front_page_layout.scss */
#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0px 0px 0px;
}
/* line 23, ../sass/_mixins.scss */
#content .content-inner {
  float: left;
  width: 100%;
}
/* line 32, ../sass/_mixins.scss */
#content .column {
  padding: 0;
  margin-left: 267px;
}
/* line 41, ../sass/_mixins.scss */
#content .sidebar {
  padding-right: 15px;
  float: left;
  width: 237px;
  margin-left: -100%;
}
/* line 293, ../sass/_mixins.scss */
#content .sidebar .content .title {
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #08375d), color-stop(100%, #0094d4));
  background: -webkit-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -moz-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -o-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: linear-gradient(bottom, #08375d 0%, #0094d4 100%);
}
/* line 311, ../sass/_mixins.scss */
#content .sidebar .content .title {
  border-radius: 5px 5px 0 0;
}
/* line 315, ../sass/_mixins.scss */
#content .sidebar .content ul {
  background: #E8F5F6;
}
/* line 318, ../sass/_mixins.scss */
#content .sidebar .content ul li {
  padding-right: 18px;
}
/* line 321, ../sass/_mixins.scss */
#content .sidebar .content ul li a {
  color: white;
}
/* line 338, ../sass/_mixins.scss */
#content .sidebar .content ul a {
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: underline;
  color: #01355D;
  font-weight: bold;
}
/* line 329, ../sass/_mixins.scss */
#content .sidebar .content ul li.active a {
  text-decoration: none;
  color: #0094D4;
}
/* line 86, ../sass/front_page_layout.scss */
#content .sidebar .content h2.title {
  display: none;
}
/* line 90, ../sass/front_page_layout.scss */
#content .sidebar .content ul {
  background: #053559;
}
/* line 92, ../sass/front_page_layout.scss */
#content .sidebar .content ul li {
  line-height: 47px;
}
/* line 95, ../sass/front_page_layout.scss */
#content .sidebar .content ul li a {
  display: block;
  width: 100%;
  color: #01355b;
  line-height: inherit;
  text-decoration: none;
  font-weight: normal;
}
/* line 104, ../sass/front_page_layout.scss */
#content .sidebar .content ul li.active a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* line 111, ../sass/front_page_layout.scss */
#content .sidebar .content ul li.active:hover a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* line 117, ../sass/front_page_layout.scss */
#content .sidebar .content ul li:hover {
  cursor: pointer;
}
/* line 119, ../sass/front_page_layout.scss */
#content .sidebar .content ul li:hover a {
  color: #0094d4;
}
/* line 128, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner {
  padding: 10px;
  position: relative;
}
/* line 132, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table {
  color: #35607d;
  font-size: 0.7em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  *border-collapse: expression('separate', cellSpacing = '2px');
}
/* line 140, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table th {
  font-weight: bold;
  height: 36px;
}
/* line 146, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table th,
#content .sidebar .statistics .statistics-inner table td {
  text-align: center;
}
/* line 150, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table td:first-child {
  text-align: left;
}
/* line 155, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table th,
#content .sidebar .statistics .statistics-inner table td:first-child {
  line-height: 27px;
  background: none;
}
/* line 160, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table thead {
  border-bottom: 1px solid #35607d;
}
/* line 164, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tfoot {
  font-size: 14px;
}
/* line 167, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tfoot a {
  color: #35607d;
  text-decoration: underline;
}
/* line 171, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tfoot a:hover {
  text-decoration: underline;
}
/* line 174, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tfoot a:visited {
  color: #35607d;
  text-decoration: none;
}
/* line 178, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tfoot td:first-child {
  text-align: right;
}
/* line 184, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tbody td {
  height: 30px;
}
/* line 188, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tbody td:first-child {
  border: none;
  width: 40px;
}
/* line 193, ../sass/front_page_layout.scss */
#content .sidebar .statistics .statistics-inner table tbody tr:last-child {
  margin-top: 50px;
}
/* line 203, ../sass/front_page_layout.scss */
#content .column .tabs {
  position: relative;
}
/* line 213, ../sass/_mixins.scss */
#content .column .tabs li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 35px;
  text-transform: uppercase;
  background: #B0D7E2;
  text-decoration: none;
}
/* line 221, ../sass/_mixins.scss */
#content .column .tabs li.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  position: absolute;
  background: #38aad1;
}
/* line 231, ../sass/_mixins.scss */
#content .column .tabs li.for-webmaster.active {
  width: 271px;
  height: 46px;
  background: url('/themes/modern/img/user_cabinet/webmaster_on.png?1380882321');
}
/* line 236, ../sass/_mixins.scss */
#content .column .tabs li.for-webmaster.active:after {
  border-left: 1px solid #336D8B;
}
/* line 241, ../sass/_mixins.scss */
#content .column .tabs li.for-optimizer.active {
  width: 271px;
  height: 46px;
  background: url('/themes/modern/img/user_cabinet/optimizer_on.png?1380882321');
}
/* line 246, ../sass/_mixins.scss */
#content .column .tabs li.for-optimizer.active:after {
  background: #5da0ca;
}
/* line 252, ../sass/_mixins.scss */
#content .column .tabs li.for-webmaster.active, #content .column .tabs li.for-optimizer.active {
  z-index: 10;
}
/* line 256, ../sass/_mixins.scss */
#content .column .tabs li.for-webmaster {
  background: #38aad1;
  width: 271px;
  height: 46px;
  background: url('/themes/modern/img/user_cabinet/webmaster_off.png?1380882321');
}
/* line 263, ../sass/_mixins.scss */
#content .column .tabs li.for-optimizer {
  background: #5da0ca;
  width: 271px;
  height: 46px;
  background: url('/themes/modern/img/user_cabinet/optimizer_off.png?1380882321');
  text-indent: 90px;
  margin-left: -76px;
}
/* line 271, ../sass/_mixins.scss */
#content .column .tabs li.for-optimizer a {
  text-indent: 73px;
}
/* line 276, ../sass/_mixins.scss */
#content .column .tabs li:first-child {
  margin-left: 0;
}
/* line 280, ../sass/_mixins.scss */
#content .column .tabs li a {
  margin-top: 7px;
  display: block;
  color: black;
  text-indent: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* line 207, ../sass/front_page_layout.scss */
#content .column .user-profile {
  position: absolute;
  top: 17px;
  right: 41px;
}
/* line 212, ../sass/front_page_layout.scss */
#content .column .user-profile #user-profile-link {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}
/* line 217, ../sass/front_page_layout.scss */
#content .column .user-profile .settings-list {
  background: #def0f4;
  list-style: none;
  position: absolute;
  display: none;
  border: 1px solid #65BDE2;
  border-radius: 5px;
  width: 200px;
  right: 0px;
  top: 20px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 229, ../sass/front_page_layout.scss */
#content .column .user-profile .settings-list .settings-list-item {
  padding-top: 1px;
  float: none;
  border-top: 1px solid #38a8d0;
}
/* line 233, ../sass/front_page_layout.scss */
#content .column .user-profile .settings-list .settings-list-item .settings-list-link {
  display: block;
  font-size: 12px;
  padding: 5px 14px;
  color: #144062;
}
/* line 238, ../sass/front_page_layout.scss */
#content .column .user-profile .settings-list .settings-list-item .settings-list-link:hover {
  text-decoration: none;
  color: #65BDE2;
}
/* line 243, ../sass/front_page_layout.scss */
#content .column .user-profile .settings-list .settings-list-item:first-child {
  border-top: none;
}
/* line 251, ../sass/front_page_layout.scss */
#content .column .inner {
  padding: 10px;
}
/* line 348, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level {
  margin-bottom: 46px;
}
/* line 351, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li {
  padding: 8px;
  float: left;
  font-size: 0.9em;
  border-bottom: 3px solid #AFD7E2;
}
/* line 357, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li a {
  text-decoration: none;
  color: black;
}
/* line 363, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li.active {
  border-bottom: 3px solid #FFFEFF;
  background: url('/themes/modern/img/user_cabinet/triangle_top.png?1380882321') center bottom no-repeat;
}
/* line 367, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li.active a {
  font-weight: bold;
  color: white;
}
/* line 373, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more {
  display: none;
  position: relative;
}
/* line 376, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more #more-link {
  visibility: visible;
}
/* line 379, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more.active {
  background: none;
}
/* line 381, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -7px;
  position: absolute;
  background: url('/themes/modern/img/user_cabinet/triangle_bottom.png?1380882321') center bottom no-repeat;
  height: 4px;
}
/* line 392, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more.active #more-list li a {
  color: #144062 !important;
  font-weight: normal;
}
/* line 396, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more.active #more-list li a:hover {
  text-decoration: none;
  color: #65BDE2 !important;
}
/* line 401, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more.active #more-list li a.active {
  color: #65BDE2 !important;
}
/* line 407, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list {
  background: #def0f4;
  list-style: none;
  position: absolute;
  display: none;
  border: 1px solid #65BDE2;
  border-radius: 5px;
  width: 150px;
  z-index: 100;
  right: 0;
  top: 40px;
  font-size: 12px;
  line-height: 12px;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 421, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li {
  padding-left: 12px;
  float: none;
  border-top: 1px solid #38a8d0;
  border-bottom: none;
}
/* line 426, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li .a {
  display: block;
  padding: 5px 14px;
  color: #144062;
}
/* line 430, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li .a:hover {
  text-decoration: none;
  color: #65BDE2;
}
/* line 435, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li:first-child {
  border-top: none;
}
/* line 438, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li.active {
  border-bottom: none;
  background: none;
  color: #65BDE2;
}
/* line 442, ../sass/_mixins.scss */
#content .column .inner .navigation-third-level li#more > #more-list li.active a {
  color: #0094D4 !important;
  font-weight: normal;
}
/* line 257, ../sass/front_page_layout.scss */
#content .column .inner .navigation-fourth-level {
  border: 1px solid #3B7495;
  border-bottom: 1px solid #9BCCEE;
  border-right: 1px solid #9BCCEE;
  padding: 14px;
  width: 520px;
  margin-bottom: 20px;
}
/* line 265, ../sass/front_page_layout.scss */
#content .column .inner .navigation-fourth-level li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 10px;
  margin-right: 50px;
}
/* line 270, ../sass/front_page_layout.scss */
#content .column .inner .navigation-fourth-level li a {
  color: black;
  text-decoration: underline;
  font-family: 'Open Sans' !important;
  font-size: 12px;
}
/* line 279, ../sass/front_page_layout.scss */
#content .column .inner .navigation-fourth-level li.active a {
  color: white;
  text-decoration: none;
}
/* line 288, ../sass/front_page_layout.scss */
#content .column .inner .breadcrumbs {
  margin-bottom: 20px;
}
/* line 290, ../sass/front_page_layout.scss */
#content .column .inner .breadcrumbs a,
#content .column .inner .breadcrumbs span {
  color: black;
  font-size: 0.8em;
}
/* line 295, ../sass/front_page_layout.scss */
#content .column .inner .breadcrumbs a {
  text-decoration: underline;
}
/* line 304, ../sass/front_page_layout.scss */
#content .content-inner {
  padding-bottom: 18px;
}

/* line 309, ../sass/front_page_layout.scss */
#scroll-up {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 0%;
  right: 0%;
  background-color: #7db9e8;
  opacity: .3;
  color: #fff;
  padding: 10px;
  margin: 5px 15px 15px 5px;
  border-radius: 3px;
}

/* line 322, ../sass/front_page_layout.scss */
#scroll-up span {
  font-size: 20px;
}

/* line 325, ../sass/front_page_layout.scss */
#scroll-up:hover {
  opacity: .8;
}

/* line 328, ../sass/front_page_layout.scss */
#scroll-up:active {
  opacity: 1;
}

/* line 332, ../sass/front_page_layout.scss */
.actions {
  text-align: right;
}

/* line 335, ../sass/front_page_layout.scss */
#footer {
  padding-right: 9px;
}
