/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-light-webfont.eot");
  src: url("/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light-webfont.woff") format("woff"), url("/fonts/opensans-light-webfont.ttf") format("truetype"), url("/fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-lightitalic-webfont.eot");
  src: url("/fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-lightitalic-webfont.woff") format("woff"), url("/fonts/opensans-lightitalic-webfont.ttf") format("truetype"), url("/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-italic-webfont.eot");
  src: url("/fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-italic-webfont.woff") format("woff"), url("/fonts/opensans-italic-webfont.ttf") format("truetype"), url("/fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-regular-webfont.eot");
  src: url("/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular-webfont.woff") format("woff"), url("/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bold-webfont.eot");
  src: url("/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bold-webfont.woff") format("woff"), url("/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-bolditalic-webfont.eot");
  src: url("/fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bolditalic-webfont.woff") format("woff"), url("/fonts/opensans-bolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabold-webfont.eot");
  src: url("/fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabold-webfont.woff") format("woff"), url("/fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensans-extrabolditalic-webfont.eot");
  src: url("/fonts/opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabolditalic-webfont.woff") format("woff"), url("/fonts/opensans-extrabolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Bold.svg#pt_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot");
  src: url("/fonts/PT_Sans-Web-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-BoldItalic.woff") format("woff"), url("/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-BoldItalic.svg#pt_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Italic.eot");
  src: url("/fonts/PT_Sans-Web-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Italic.woff") format("woff"), url("/fonts/PT_Sans-Web-Italic.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Italic.svg#pt_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/PT_Sans-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Web-Regular.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marck Script';
  src: url("/fonts/MarckScript-Regular.eot");
  src: url("/fonts/MarckScript-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MarckScript-Regular.woff") format("woff"), url("/fonts/MarckScript-Regular.ttf") format("truetype"), url("/fonts/MarckScript-Regular.svg#marck_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Regular.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Regular.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Regular.svg#PTSans-Caption") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot");
  src: url("/fonts/PT_Sans-Caption-Web-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PT_Sans-Caption-Web-Bold.woff") format("woff"), url("/fonts/PT_Sans-Caption-Web-Bold.ttf") format("truetype"), url("/fonts/PT_Sans-Caption-Web-Bold.svg#PTSans-CaptionBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text, #header > .info {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text, #header > .info .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1380882321');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1380882321');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1380882321');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1380882321');
  position: absolute;
  right: -60px;
  top: 29px;
}

/* line 98, homepage/social-icons/*.png */
.social-icons-sprite, .social-icons-f, .social-icons-od, .social-icons-t, .social-icons-vk {
  background: url('/themes/modern/img/homepage/social-icons-s0c690b4c33.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-f {
  background-position: 0 -147px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-f:hover, .social-icons-f.f_hover, .social-icons-f.f-hover {
  background-position: 0 -126px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-od {
  background-position: 0 -105px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-od:hover, .social-icons-od.od_hover, .social-icons-od.od-hover {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-t {
  background-position: 0 -42px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-t:hover, .social-icons-t.t_hover, .social-icons-t.t-hover {
  background-position: 0 -84px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-vk {
  background-position: 0 -63px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icons-vk:hover, .social-icons-vk.vk_hover, .social-icons-vk.vk-hover {
  background-position: 0 -21px;
}

/* line 10, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 72px;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 72px;
}

/** Icons **/
/* line 170, icons/*.png */
.icons, .icons-checkbox_disabled, .icons-checkbox_enabled, .icons-facebook, .icons-flag-britain, .icons-flag-russia, .icons-google-plus, .icons-mastercard, .icons-qiwi, .icons-radio_disabled, .icons-radio_enabled, .icons-rss, .icons-twitter, .icons-visa, .icons-vk, .icons-webmoney, .custom_checkbox, .custom_checkbox_active, .custom_radio, .custom_radio_active {
  background: url('/themes/modern/img/icons-sff74aea8fd.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-checkbox_disabled {
  background-position: 0 0;
  height: 17px;
  width: 17px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-checkbox_enabled {
  background-position: 0 -60px;
  height: 17px;
  width: 17px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: -27px -106px;
  height: 26px;
  width: 26px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-britain {
  background-position: -14px -40px;
  height: 20px;
  width: 32px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-britain:active, .icons-flag-britain.flag-britain_active, .icons-flag-britain.flag-britain-active {
  background-position: -17px 0;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-russia {
  background-position: -14px -20px;
  height: 20px;
  width: 32px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-russia:active, .icons-flag-russia.flag-russia_active, .icons-flag-russia.flag-russia-active {
  background-position: -17px -60px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-google-plus {
  background-position: 0 -80px;
  height: 26px;
  width: 26px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mastercard {
  background-position: 0 -158px;
  height: 41px;
  width: 59px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-qiwi {
  background-position: 0 -240px;
  height: 41px;
  width: 59px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-radio_disabled {
  background-position: 0 -40px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-radio_enabled {
  background-position: 0 -20px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rss {
  background-position: 0 -106px;
  height: 26px;
  width: 27px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: -26px -80px;
  height: 26px;
  width: 26px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-visa {
  background-position: 0 -199px;
  height: 41px;
  width: 59px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vk {
  background-position: 0 -132px;
  height: 26px;
  width: 26px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-webmoney {
  background-position: 0 -281px;
  height: 41px;
  width: 59px;
}

/** Некоторые иконки являются сслыками <a href="" ... **/
/* line 26, ../sass/global_layout.scss */
.icons, .icons-checkbox_disabled, .icons-checkbox_enabled, .icons-facebook, .icons-flag-britain, .icons-flag-russia, .icons-google-plus, .icons-mastercard, .icons-qiwi, .icons-radio_disabled, .icons-radio_enabled, .icons-rss, .icons-twitter, .icons-visa, .icons-vk, .icons-webmoney, .custom_checkbox, .custom_checkbox_active, .custom_radio, .custom_radio_active {
  display: block;
}

/** Icons end **/
/* line 30, ../sass/global_layout.scss */
.hidden {
  display: none;
}

/* line 35, ../sass/global_layout.scss */
html,
body {
  min-width: 1000px;
  font-family: 'PT Sans' !important;
}

/* line 41, ../sass/global_layout.scss */
body a {
  text-decoration: underline;
  color: #38a8d0;
}

/* line 50, ../sass/global_layout.scss */
#root {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background: #053559;
}
/* line 56, ../sass/global_layout.scss */
#root .bg {
  position: relative;
  display: block;
  background: #cbe3ea;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 8px 0 black;
  -moz-box-shadow: 0 0 8px 0 black;
  box-shadow: 0 0 8px 0 black;
  max-width: 1600px;
  min-width: 981px;
}

/* line 66, ../sass/global_layout.scss */
#header {
  position: relative;
}
/* line 69, ../sass/global_layout.scss */
#header .language {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 30px;
}
/* line 73, ../sass/global_layout.scss */
#header .language > a {
  margin-right: 3px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 79, ../sass/global_layout.scss */
#header .social-buttons {
  position: relative;
  right: 14px;
  float: right;
}
/* line 83, ../sass/global_layout.scss */
#header .social-buttons a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 3px;
}
/* line 89, ../sass/global_layout.scss */
#header .social-icons-sprite, #header .social-icons-f, #header .social-icons-od, #header .social-icons-t, #header .social-icons-vk {
  width: 21px;
  height: 21px;
}
/* line 95, ../sass/global_layout.scss */
#header .navigation {
  color: white;
  text-transform: uppercase;
  padding: 0;
  color: #01355b;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: none;
  border: none;
  font-size: 0.95em;
  margin-left: 10px;
}
/* line 106, ../sass/global_layout.scss */
#header .navigation a {
  color: #01355b;
}
/* line 110, ../sass/global_layout.scss */
#header .navigation ul {
  background: #b7d9e3;
  color: white;
  margin-top: 32px;
}
/* line 116, ../sass/global_layout.scss */
#header .navigation li {
  cursor: pointer;
  line-height: 32px;
  font-weight: bold;
  padding: 0 10px;
  width: auto;
  border-bottom: 1px solid gray;
  font-weight: normal !important;
  margin: 0px !important;
}
/* line 126, ../sass/global_layout.scss */
#header .navigation li a {
  background: none;
  border: none;
}
/* line 132, ../sass/global_layout.scss */
#header .navigation > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-bottom: none;
}

/* line 139, ../sass/global_layout.scss */
#header {
  position: relative;
}
/* line 142, ../sass/global_layout.scss */
#header .logo-bitarget {
  position: absolute;
  width: 217px;
  height: 45px;
  background: url('/themes/modern/img/logo-bitarget.png?1380882321');
  left: 21px;
  top: 15px;
  z-index: 500;
}
/* line 152, ../sass/global_layout.scss */
#header > .note {
  color: #01355b;
  position: absolute;
  left: 290px;
  top: 17px;
  line-height: 1.1em;
}
/* line 160, ../sass/global_layout.scss */
#header > .info {
  position: absolute;
  left: 266px;
  width: 500px;
  margin-top: 11px;
}
/* line 167, ../sass/global_layout.scss */
#header > .info .notice-text {
  float: left;
  color: #0094D6;
}
/* line 172, ../sass/global_layout.scss */
#header > .info .notice-value {
  color: #01355b;
  font-weight: bold;
}
/* line 176, ../sass/global_layout.scss */
#header > .info .notice-value.money {
  display: inline-block;
}
/* line 178, ../sass/global_layout.scss */
#header > .info .notice-value.money a {
  color: #01355b;
  text-decoration: underline;
}
/* line 185, ../sass/global_layout.scss */
#header > .info .icon-ruble {
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 10px;
  line-height: 10px;
  background: url('/themes/modern/img/ruble-header.png?1380882321');
}
/* line 195, ../sass/global_layout.scss */
#header > .registration {
  text-align: center;
  height: 115px;
  margin-right: 130px;
}
/* line 200, ../sass/global_layout.scss */
#header > .registration > div {
  z-index: 10;
}
/* line 204, ../sass/global_layout.scss */
#header > .registration .logout {
  position: absolute;
  right: 16px;
  top: 17px;
}
/* line 209, ../sass/global_layout.scss */
#header > .registration .logout .row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: right;
  margin-top: 0px;
}
/* line 214, ../sass/global_layout.scss */
#header > .registration .logout .row .entered-notice {
  color: #01355b;
}
/* line 217, ../sass/global_layout.scss */
#header > .registration .logout .row .entered-notice .entered-username {
  color: #01355b;
  font-weight: bold;
  text-decoration: underline;
}
/* line 224, ../sass/global_layout.scss */
#header > .registration .logout .row input[type="submit"] {
  margin-top: 7px;
  padding: 3px 10px;
}
/* line 232, ../sass/global_layout.scss */
#header > .registration .login {
  position: absolute;
  right: 16px;
  top: 17px;
  /*            * размеры поля ввода логина/пароля *
      $input-height: 25px;
      $input-width: 150px;
      
      * размеры кнопки отправки и регистрации *
      $submit-height: 25px;
      $submit-width: 121px;
      
      #login,
      #password {          
      position: absolute;
      background: transparent;
      border: none;
      width: $input-width;
      height: $input-height;
      }
      
      #login,
      #password,
      .for-login,
      .for-password {
      color: $form-input-text-color;
      font-size: 0.9em;
      text-indent: 11px;            
      }          
      
      .for-login,
      .for-password {
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      
      position: absolute;
      background: $main-color-1;
      width: $input-width;
      height: $input-height - 5px;                    
      text-align: left;
      padding-top: 5px;
      }
      
      #password,
      .for-password {
      top: 32px;
      }
      
      .password-forgot {
      position: relative;
      top: 60px;
      left: 72px;
      color: $form-input-text-color;
      font-size: 0.8em;
      text-decoration: underline;            
      }
      
      #rememeber-me {
      position: absolute;
      top: 61px;
      }
      
      .for-remember-me {
      position: relative;
      color: $form-input-text-color;
      font-size: 0.75em;
      top: 61px;
      left: 21px;           
      }
      
      .registration {
      top: -1px;
      position: absolute;
      left: 154px;
      padding-right: 3px;
      width: $submit-width - 3px;
      height: $input-height - 4px;
      padding-top: 7px;
      font-size: 0.7em;
      font-weight: bold;
      text-transform: uppercase;
      color: black;
      }
      
      input[type="submit"] {
      position: absolute;
      left: 154px;
      top: 31px;
      width: $submit-width + 1;
      height: $input-height + 4;
      line-height: $input-height + 3;
      padding-bottom: 4px;
      border: none;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: bold;            
      }
      
      input[type="submit"]:hover {
      cursor: pointer;
      text-decoration: underline;
      }
      
      .registration,
      input[type="submit"] {
      background: #082E52;
      text-align: center;
      color: white;
      border-left: 1px solid white;
      border-top: 1px solid white;
  }*/
}
/* line 236, ../sass/global_layout.scss */
#header > .registration .login .login-links {
  color: #053559;
  font-size: 14px;
}
/* line 240, ../sass/global_layout.scss */
#header > .registration .login > span {
  margin: 0 5px;
}

/* line 357, ../sass/global_layout.scss */
#content {
  position: relative;
  z-index: 100;
}
/* line 361, ../sass/global_layout.scss */
#content > .description-wrapper {
  width: 98%;
  margin: 0 auto;
}
/* line 368, ../sass/global_layout.scss */
#content > .sidebar ul li {
  background-color: #cbe3ea;
  background-image: url('/themes/modern/img/sidebar_menu_border.jpg?1380818687');
  background-repeat: no-repeat;
  text-align: right;
}
/* line 375, ../sass/global_layout.scss */
#content > .sidebar ul li.active {
  -webkit-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  -moz-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  background: #0094d4;
  position: relative;
  margin-left: 8px;
  /*&:after {
      content: "";
      width: image-width('directions_nav_triangle.png');
      height: image-height('directions_nav_triangle.png');
      background: image-url('directions_nav_triangle.png');
      position: absolute;
      right: -25px;
      top: 6px;
  }*/
}
/* line 395, ../sass/global_layout.scss */
#content .direction-description {
  padding: 60px;
  line-height: 1.4em;
}
/* line 401, ../sass/global_layout.scss */
#content > .description-wrapper h1,
#content > .content-inner .column .inner h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  color: #053559;
}
/* line 409, ../sass/global_layout.scss */
#content > .description-wrapper h2,
#content > .content-inner .column .inner h2 {
  font-size: 1em;
  font-weight: bold;
}
/* line 414, ../sass/global_layout.scss */
#content > .description-wrapper p,
#content > .content-inner .column .inner p {
  margin: 25px 0px;
  font-family: 'PT Sans';
  font-size: 14px;
}
/* line 420, ../sass/global_layout.scss */
#content > .description-wrapper.wm,
#content > .content-inner .column .inner.wm {
  background: #38aad1;
  box-shadow: 0 0 0px 1px #336D8B inset;
}
/* line 425, ../sass/global_layout.scss */
#content > .description-wrapper.opt,
#content > .content-inner .column .inner.opt {
  background: #5da0ca;
  box-shadow: 0 0 2px 1px #367aa5 inset;
}
/* line 430, ../sass/global_layout.scss */
#content > .description-wrapper .description,
#content > .content-inner .column .inner .description {
  padding: 5px 40px 50px 40px;
  line-height: 1.3em;
}
/* line 436, ../sass/global_layout.scss */
#content textarea {
  resize: vertical;
}

/* line 441, ../sass/global_layout.scss */
#footer {
  margin: 0 auto;
  text-align: center;
  color: #053559;
  font-family: 'PT Sans';
  max-width: 1600px;
  min-width: 980px;
  height: 72px !important;
  clear: both;
  position: relative;
  padding-left: 10px;
  padding-right: 4px;
  z-index: 100;
}
/* line 454, ../sass/global_layout.scss */
#footer .footer-inner {
  height: 100%;
}
/* line 458, ../sass/global_layout.scss */
#footer .copyright {
  margin-top: 30px;
  display: inline-block;
  color: #0094d4;
}
/* line 464, ../sass/global_layout.scss */
#footer .logo-prostep {
  color: #0096d4;
  width: 257px;
  height: image-size("logo-prostep.png");
  line-height: 50px;
  position: absolute;
  right: 50px;
  bottom: 7px;
  background: url('/themes/modern/img/logo-prostep.png?1380818687') no-repeat right bottom;
  text-align: left;
}
/* line 476, ../sass/global_layout.scss */
#footer .pay-systems {
  position: absolute;
  left: 39px;
  top: 15px;
}
/* line 481, ../sass/global_layout.scss */
#footer .pay-systems li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 1px;
}
/* line 485, ../sass/global_layout.scss */
#footer .pay-systems li a {
  border-radius: 2px;
}

/* line 492, ../sass/global_layout.scss */
.clearfix {
  clear: both;
}

/* line 496, ../sass/global_layout.scss */
h1 {
  color: #0094D3;
  font-size: 1.3em;
}

/* line 502, ../sass/global_layout.scss */
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  background: none;
}

/*Стилизация checkboxes*/
/* line 508, ../sass/global_layout.scss */
.custom_checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-position: 0 0;
  height: 17px;
  width: 17px;
}

/* line 512, ../sass/global_layout.scss */
.custom_checkbox_active {
  background-position: 0 -60px;
  height: 17px;
  width: 17px;
}

/*Стилизация radio*/
/* line 516, ../sass/global_layout.scss */
.custom_radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-position: 0 -40px;
  height: 14px;
  width: 14px;
}

/* line 520, ../sass/global_layout.scss */
.custom_radio_active {
  background-position: 0 -20px;
  height: 14px;
  width: 14px;
}
