/* line 1, ../sass/help.scss */
img {
  vertical-align: middle !important;
  padding: 10px !important;
}

/* line 7, ../sass/help.scss */
.image-wrapper,
.help-attention {
  padding: 20px;
  border: 2px solid #08355A;
  font-weight: bold;
  background: white;
}
/* line 13, ../sass/help.scss */
.image-wrapper img,
.help-attention img {
  margin: 20px;
}
/* line 17, ../sass/help.scss */
.image-wrapper img.full-width,
.help-attention img.full-width {
  width: 95%;
}

/* line 22, ../sass/help.scss */
.image-wrapper {
  margin: 10px;
}

/* line 26, ../sass/help.scss */
span.middle {
  vertical-align: middle;
}

/* line 30, ../sass/help.scss */
span.image-description {
  margin-left: 50px;
  font-style: italic;
}

/* line 35, ../sass/help.scss */
b {
  font-weight: bold !important;
}

/* line 39, ../sass/help.scss */
.enumeration {
  line-height: 22px;
}

/* line 43, ../sass/help.scss */
ol {
  list-style: decimal !important;
  list-style-position: inside !important;
  font-weight: bold !important;
}
/* line 48, ../sass/help.scss */
ol li span {
  font-weight: normal;
}

/* line 53, ../sass/help.scss */
ol.clarification {
  list-style: none !important;
  font-weight: normal !important;
}
/* line 57, ../sass/help.scss */
ol.clarification li {
  margin-top: 10px;
  padding-left: 20px;
  background-repeat: no-repeat;
}
/* line 63, ../sass/help.scss */
ol.clarification li:first-child {
  background-image: url('/themes/modern/img/digits/1.png?1380882321');
}
/* line 67, ../sass/help.scss */
ol.clarification li:first-child + li {
  background-image: url('/themes/modern/img/digits/2.png?1380882321');
}
/* line 71, ../sass/help.scss */
ol.clarification li:first-child + li + li {
  background-image: url('/themes/modern/img/digits/3.png?1380882321');
}
/* line 75, ../sass/help.scss */
ol.clarification li:first-child + li + li + li {
  background-image: url('/themes/modern/img/digits/4.png?1380882321');
}
/* line 79, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li {
  background-image: url('/themes/modern/img/digits/5.png?1380882321');
}
/* line 83, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/6.png?1380882321');
}
/* line 87, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/7.png?1380882321');
}
/* line 91, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/8.png?1380882321');
}
/* line 95, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/9.png?1380882321');
}
/* line 99, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/10.png?1380882321');
}
/* line 103, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/11.png?1380882321');
}
/* line 107, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/12.png?1380882321');
}
/* line 111, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/13.png?1380882321');
}
/* line 115, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/14.png?1380882321');
}
/* line 119, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/15.png?1380882321');
}
/* line 123, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/16.png?1380882321');
}
/* line 127, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/17.png?1380882321');
}
/* line 131, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/18.png?1380882321');
}
/* line 135, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/19.png?1380882321');
}
/* line 139, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/20.png?1380882321');
}
/* line 143, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/21.png?1380882321');
}
/* line 147, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/22.png?1380882321');
}
/* line 151, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/23.png?1380882321');
}
/* line 155, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/24.png?1380882321');
}
/* line 159, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/25.png?1380882321');
}
/* line 163, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/26.png?1380882321');
}
/* line 167, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/27.png?1380882321');
}
/* line 171, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/28.png?1380882321');
}
/* line 175, ../sass/help.scss */
ol.clarification li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
  background-image: url('/themes/modern/img/digits/29.png?1380882321');
}
