/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/* line 6, ../sass/news.scss */
#content {
  padding: 20px;
}

/* line 10, ../sass/news.scss */
#fresh_news h1, #tags h1 {
  color: #0495d4;
  font: arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  line-height: 90%;
}

/* line 20, ../sass/news.scss */
#fresh_news h1 {
  background: #e8f5f6;
}

/* line 24, ../sass/news.scss */
#fresh_news_container {
  margin-top: 20px;
  height: 260px;
}
/* line 28, ../sass/news.scss */
#fresh_news_container div.cell_container {
  display: inline-block;
  width: 31%;
  height: 100%;
  line-height: 14px;
  letter-spacing: 0px;
  word-spacing: 0px;
  vertical-align: top;
  padding-right: 2%;
  background: url('/themes/modern/img/homepage/shadow.png?1380882321');
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 40, ../sass/news.scss */
#fresh_news_container div.cell_container:last-child {
  background: none;
}
/* line 44, ../sass/news.scss */
#fresh_news_container div.cell_container div.logo {
  position: relative;
  height: 0px;
}
/* line 48, ../sass/news.scss */
#fresh_news_container div.cell_container div.logo div.logo_container {
  width: 120px;
  height: 88px;
  background-repeat: no-repeat;
  position: absolute;
  right: 28px;
  top: 9px;
}
/* line 57, ../sass/news.scss */
#fresh_news_container div.cell_container div.logo div.logo_container a {
  width: 100%;
  height: 100%;
}
/* line 61, ../sass/news.scss */
#fresh_news_container div.cell_container div.logo div.logo_container a img {
  position: relative;
  top: 5px;
  left: 15px;
  width: 100px;
  height: 67px;
}
/* line 74, ../sass/news.scss */
#fresh_news_container div.cell_container div.new_cell {
  display: block;
  padding: 16px 15px;
  height: 90%;
  overflow: hidden;
}
/* line 80, ../sass/news.scss */
#fresh_news_container div.cell_container div.new_cell div.update {
  width: 100px;
  background: #04355b;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 5px;
  font-size: 10pt;
}
/* line 91, ../sass/news.scss */
#fresh_news_container div.cell_container div.new_cell div.label {
  margin-top: 18px;
  width: 50%;
  font-size: 22px;
  line-height: 100%;
  text-align: left;
}
/* line 98, ../sass/news.scss */
#fresh_news_container div.cell_container div.new_cell div.label a, #fresh_news_container div.cell_container div.new_cell div.label a:hover, #fresh_news_container div.cell_container div.new_cell div.label a:active, #fresh_news_container div.cell_container div.new_cell div.label a:link, #fresh_news_container div.cell_container div.new_cell div.label a:visited {
  font-weight: bold;
  color: #053559;
}
/* line 104, ../sass/news.scss */
#fresh_news_container div.cell_container div.new_cell div.teaser {
  font-size: 10pt;
  margin-top: 22px;
  color: #fff;
  text-align: justify;
  line-height: 14px;
}

/* line 115, ../sass/news.scss */
#fresh_news #fresh_news_container .cell_container {
  width: 23%;
}

/* line 119, ../sass/news.scss */
#tags_news {
  margin-top: 10px;
}
/* line 122, ../sass/news.scss */
#tags_news #tags {
  display: inline-block;
  width: 246px;
  float: left;
}
/* line 127, ../sass/news.scss */
#tags_news #tags #tags_list {
  margin-top: 12px;
  margin-left: 6px;
}
/* line 131, ../sass/news.scss */
#tags_news #tags #tags_list div.tag_name {
  margin-top: 10px;
}
/* line 133, ../sass/news.scss */
#tags_news #tags #tags_list div.tag_name a, #tags_news #tags #tags_list div.tag_name a:hover, #tags_news #tags #tags_list div.tag_name a:active, #tags_news #tags #tags_list div.tag_name a:link, #tags_news #tags #tags_list div.tag_name a:visited {
  font-size: 12pt;
  color: #000000;
  text-decoration: underline;
}
/* line 143, ../sass/news.scss */
#tags_news #tags #tags_list #selected a, #tags_news #tags #tags_list #selected a:hover, #tags_news #tags #tags_list #selected a:active, #tags_news #tags #tags_list #selected a:link, #tags_news #tags #tags_list #selected a:visited {
  font-size: 12pt;
  color: #0495d4;
  text-decoration: none;
  font-weight: bold;
}
/* line 153, ../sass/news.scss */
#tags_news #tags #ad240200 {
  margin-left: 3px;
  margin-top: 30px;
  width: 240px;
  height: 200px;
  background: url('/themes/modern/img/reklama240x200.jpg?1380818687');
}
/* line 162, ../sass/news.scss */
#tags_news #tags #ad240300 {
  margin-left: 3px;
  margin-top: 14px;
  width: 240px;
  height: 300px;
  background: url('/themes/modern/img/reklama240x300.jpg?1380818687');
}
/* line 171, ../sass/news.scss */
#tags_news #news {
  min-height: 846px;
}
/* line 174, ../sass/news.scss */
#tags_news #news h3 {
  font-size: 12pt;
  color: #0495d4;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 12px;
}
/* line 184, ../sass/news.scss */
#tags_news #news #blue_container {
  padding: 10px;
  min-height: 155px;
}
/* line 188, ../sass/news.scss */
#tags_news #news #blue_container div.news_header {
  padding-top: 3px;
  margin-bottom: 15px;
}
/* line 191, ../sass/news.scss */
#tags_news #news #blue_container div.news_header a, #tags_news #news #blue_container div.news_header a:hover, #tags_news #news #blue_container div.news_header a:active, #tags_news #news #blue_container div.news_header a:link, #tags_news #news #blue_container div.news_header a:visited {
  font-size: 14pt;
  color: black;
  font-weight: bold;
}
/* line 198, ../sass/news.scss */
#tags_news #news #blue_container div.data_logo_container {
  width: 146px;
  /*                height: 136px;*/
  float: left;
  margin-right: 26px;
}
/* line 204, ../sass/news.scss */
#tags_news #news #blue_container div.data_logo_container div.data_container {
  background: #04355b;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 5px;
  font-size: 10pt;
}
/* line 214, ../sass/news.scss */
#tags_news #news #blue_container div.data_logo_container div.news_logo_container {
  width: 146px;
  height: 101px;
  background: url('/themes/modern/img/news_bg.png?1380818687');
  background-repeat: no-repeat;
  position: relative;
}
/* line 221, ../sass/news.scss */
#tags_news #news #blue_container div.data_logo_container div.news_logo_container img.news_logo {
  position: absolute;
  width: 134px;
  height: 89px;
  left: 6px;
  top: 6px;
}
/* line 230, ../sass/news.scss */
#tags_news #news #blue_container div.news_container_big {
  margin-bottom: 20px;
}
/* line 236, ../sass/news.scss */
#tags_news #news #blue_container div.news_container_big div.news_text {
  text-align: justify;
  margin-top: 17px;
  font-size: 11pt;
  line-height: 1.2;
}
/* line 243, ../sass/news.scss */
#tags_news #news #blue_container div.news_container_big .data_container {
  color: #0495d4;
  font-style: italic;
}

/* line 253, ../sass/news.scss */
#to_up_page {
  text-align: right;
  padding-top: 5px;
  color: #003659;
  font-size: 20pt;
}
/* line 258, ../sass/news.scss */
#to_up_page a, #to_up_page a:hover, #to_up_page a:active, #to_up_page a:link, #to_up_page a:visited {
  font-size: 11pt;
  color: #003659;
}
