/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/* line 130, notification/*.png */
.icons, .notification-admin, .notification-all, .notification-hide-big, .notification-hide-small, .notification-hint, .notification-important, .notification-info, .notification-navicon {
  background: url('/themes/modern/img/notification-sb243d04cd6.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-admin {
  background-position: 0 -236px;
  height: 30px;
  width: 40px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-all {
  background-position: 0 -7px;
  height: 7px;
  width: 31px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-all:hover, .notification-all.all_hover, .notification-all.all-hover {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-hide-big {
  background-position: 0 -118px;
  height: 28px;
  width: 28px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-hide-big:hover, .notification-hide-big.hide-big_hover, .notification-hide-big.hide-big-hover {
  background-position: 0 -90px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-hide-small {
  background-position: -20px -14px;
  height: 20px;
  width: 20px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-hide-small:hover, .notification-hide-small.hide-small_hover, .notification-hide-small.hide-small-hover {
  background-position: 0 -14px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-hint {
  background-position: 0 -206px;
  height: 30px;
  width: 40px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-important {
  background-position: 0 -176px;
  height: 30px;
  width: 40px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-info {
  background-position: 0 -146px;
  height: 30px;
  width: 40px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-navicon {
  background-position: 0 -34px;
  height: 28px;
  width: 30px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.notification-navicon:hover, .notification-navicon.navicon_hover, .notification-navicon.navicon-hover {
  background-position: 0 -62px;
}

/* line 12, ../sass/notification.scss */
#messages {
  padding: 20px 15px 10px 15px;
  text-align: none;
}
/* line 16, ../sass/notification.scss */
#messages #notifications {
  border: none;
  width: 100%;
  min-height: 40px;
}
/* line 21, ../sass/notification.scss */
#messages #notifications #notification-navicon {
  vertical-align: top;
}
/* line 23, ../sass/notification.scss */
#messages #notifications #notification-navicon .notification-navicon {
  cursor: pointer;
}
/* line 28, ../sass/notification.scss */
#messages #notifications #notification-items {
  vertical-align: middle;
  text-align: center;
}
/* line 31, ../sass/notification.scss */
#messages #notifications #notification-items ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 70%;
}
/* line 34, ../sass/notification.scss */
#messages #notifications #notification-items ul li {
  text-align: left;
  margin-bottom: 10px;
}
/* line 43, ../sass/notification.scss */
#messages #notifications #notification-items .notification-item .notification-info,
#messages #notifications #notification-items .notification-item .notification-important,
#messages #notifications #notification-items .notification-item .notification-admin,
#messages #notifications #notification-items .notification-item .notification-hint {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 47, ../sass/notification.scss */
#messages #notifications #notification-items .notification-item .notification-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 20px;
}
/* line 52, ../sass/notification.scss */
#messages #notifications #notification-items .notification-item .notification-hide-small {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 57, ../sass/notification.scss */
#messages #notifications #notification-items .notification-item .notification-hide-big {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  right: 15px;
}
/* line 66, ../sass/notification.scss */
#messages #notifications #notifications-all {
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
}
/* line 70, ../sass/notification.scss */
#messages #notifications #notifications-all a {
  font-family: 'PT Sans';
  font-size: 1.0em;
  color: white;
  text-decoration: underline;
}
