/*Переменные*/
/*основной цвет, по умолчанию в макете был #0096D4*/
/*цвет для неактивных элементов*/
/* line 11, ../sass/paginator.scss */
ul.yiiPager {
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 5px;
  line-height: 100%;
  display: block;
  text-align: center;
  cursor: default;
}

/* line 22, ../sass/paginator.scss */
ul.yiiPager li {
  display: inline;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 27, ../sass/paginator.scss */
ul.yiiPager li a {
  text-decoration: none;
}

/*Все элементы*/
/* line 33, ../sass/paginator.scss */
ul.yiiPager a {
  color: white;
  background: #0096d4;
  padding: 2px 6px;
  border: solid 1px #0096d4;
  font-family: monospace;
}
/* line 40, ../sass/paginator.scss */
ul.yiiPager a:hover {
  text-decoration: none;
  background-color: #0096d4;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #74cdff), color-stop(100%, #0096d4));
  background-image: -webkit-radial-gradient(#74cdff, #0096d4);
  background-image: -moz-radial-gradient(#74cdff, #0096d4);
  background-image: -o-radial-gradient(#74cdff, #0096d4);
  background-image: radial-gradient(#74cdff, #0096d4);
}
/* line 46, ../sass/paginator.scss */
ul.yiiPager a:active {
  text-decoration: none;
  background-color: #0096d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0096d4), color-stop(100%, #4070a0));
  background-image: -webkit-linear-gradient(#0096d4, #4070a0);
  background-image: -moz-linear-gradient(#0096d4, #4070a0);
  background-image: -o-linear-gradient(#0096d4, #4070a0);
  background-image: linear-gradient(#0096d4, #4070a0);
}

/*Выделенный элемент*/
/* line 54, ../sass/paginator.scss */
ul.yiiPager .selected a {
  background: white;
  color: #0096d4;
  cursor: default;
}

/*Неактивный элемент*/
/* line 61, ../sass/paginator.scss */
ul.yiiPager .hidden a {
  background: #a1e4ff;
  border: solid 1px #a1e4ff;
  cursor: default;
}
