/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text, #content .sidebar .balance-info {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text, #content .sidebar .balance-info .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2, #content .sidebar h2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1380882321');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1380882321');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1380882321');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1380882321');
  position: absolute;
  right: -60px;
  top: 29px;
}

/* line 69, ../sass/_mixins.scss */
#root .top-spacer .navigation li {
  color: white !important;
}
/* line 71, ../sass/_mixins.scss */
#root .top-spacer .navigation li a {
  color: white !important;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 79, ../sass/_mixins.scss */
#root .top-spacer .misc-links {
  max-width: 1600px;
  min-width: 981px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}
/* line 88, ../sass/_mixins.scss */
#root .bg {
  min-height: 552px;
}

/* line 9, ../sass/profile.scss */
#content {
  width: 98%;
  margin: 0 auto;
}
/* line 23, ../sass/_mixins.scss */
#content .content-wrapper {
  float: right;
  width: 100%;
}
/* line 32, ../sass/_mixins.scss */
#content .column {
  padding: 0;
  margin-right: 245px;
}
/* line 41, ../sass/_mixins.scss */
#content .sidebar {
  padding-right: 0;
  float: right;
  width: 245px;
  margin-right: -100%;
}
/* line 14, ../sass/profile.scss */
#content .column {
  border: 1px solid #D4FBFF;
  border-top: 1px solid #84AEB9;
  border-left: 1px solid #84AEB9;
  background: #B0D7E2;
}
/* line 348, ../sass/_mixins.scss */
#content .column .navigation-third-level {
  margin-bottom: 46px;
}
/* line 351, ../sass/_mixins.scss */
#content .column .navigation-third-level li {
  padding: 8px;
  float: left;
  font-size: 0.9em;
  border-bottom: 3px solid #AFD7E2;
}
/* line 357, ../sass/_mixins.scss */
#content .column .navigation-third-level li a {
  text-decoration: none;
  color: black;
}
/* line 363, ../sass/_mixins.scss */
#content .column .navigation-third-level li.active {
  border-bottom: 3px solid #FFFEFF;
  background: url('/themes/modern/img/user_cabinet/triangle_top.png?1380882321') center bottom no-repeat;
}
/* line 367, ../sass/_mixins.scss */
#content .column .navigation-third-level li.active a {
  font-weight: bold;
  color: white;
}
/* line 373, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more {
  display: none;
  position: relative;
}
/* line 376, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more #more-link {
  visibility: visible;
}
/* line 379, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more.active {
  background: none;
}
/* line 381, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -7px;
  position: absolute;
  background: url('/themes/modern/img/user_cabinet/triangle_bottom.png?1380882321') center bottom no-repeat;
  height: 4px;
}
/* line 392, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more.active #more-list li a {
  color: #144062 !important;
  font-weight: normal;
}
/* line 396, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more.active #more-list li a:hover {
  text-decoration: none;
  color: #65BDE2 !important;
}
/* line 401, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more.active #more-list li a.active {
  color: #65BDE2 !important;
}
/* line 407, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list {
  background: #def0f4;
  list-style: none;
  position: absolute;
  display: none;
  border: 1px solid #65BDE2;
  border-radius: 5px;
  width: 150px;
  z-index: 100;
  right: 0;
  top: 40px;
  font-size: 12px;
  line-height: 12px;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 421, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li {
  padding-left: 12px;
  float: none;
  border-top: 1px solid #38a8d0;
  border-bottom: none;
}
/* line 426, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li .a {
  display: block;
  padding: 5px 14px;
  color: #144062;
}
/* line 430, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li .a:hover {
  text-decoration: none;
  color: #65BDE2;
}
/* line 435, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li:first-child {
  border-top: none;
}
/* line 438, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li.active {
  border-bottom: none;
  background: none;
  color: #65BDE2;
}
/* line 442, ../sass/_mixins.scss */
#content .column .navigation-third-level li#more > #more-list li.active a {
  color: #0094D4 !important;
  font-weight: normal;
}
/* line 21, ../sass/profile.scss */
#content .column .navigation-third-level {
  margin: 10px;
}
/* line 25, ../sass/profile.scss */
#content .column h1 {
  color: #0094D3;
  font-size: 1.3em;
  margin: 10px;
}
/* line 32, ../sass/profile.scss */
#content .user-info {
  margin: 20px;
  margin-left: 244px;
}
/* line 37, ../sass/profile.scss */
#content .tabs {
  display: table;
  position: relative;
}
/* line 41, ../sass/profile.scss */
#content .tabs li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  display: table-cell;
  width: 96px;
  padding: 1px;
  padding-left: 7px;
  padding-right: 10px;
  height: 100%;
  position: relative;
  text-align: center;
}
/* line 52, ../sass/profile.scss */
#content .tabs li a {
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
  font-size: 0.8em;
}
/* line 59, ../sass/profile.scss */
#content .tabs li.long-text {
  width: 125px;
}
/* line 63, ../sass/profile.scss */
#content .tabs li.active {
  border-top: 1px solid #84AEB9;
  border-left: 1px solid #84AEB9;
  border-right: 1px solid #D4FBFF;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #B0D7E2;
  position: relative;
}
/* line 71, ../sass/profile.scss */
#content .tabs li.active a {
  color: #1294D3;
  text-decoration: none;
}
/* line 76, ../sass/profile.scss */
#content .tabs li.active:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #B0D7E2;
  left: 0;
  bottom: -2px;
}
/* line 91, ../sass/profile.scss */
#content .sidebar .balance-info {
  margin-left: 10px;
}
/* line 96, ../sass/profile.scss */
#content .sidebar .another-links {
  margin: 20px 10px;
}
/* line 338, ../sass/_mixins.scss */
#content .sidebar .another-links a {
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: underline;
  color: #01355D;
  font-weight: bold;
}
/* line 101, ../sass/profile.scss */
#content .sidebar h2 {
  margin: 20px 10px;
}
/* line 106, ../sass/profile.scss */
#content .sidebar .news {
  margin-left: 27px;
}
/* line 38, ../sass/_traverse.scss */
#content .sidebar .news li {
  list-style-type: disc;
  margin: 10px 0;
}
/* line 42, ../sass/_traverse.scss */
#content .sidebar .news li a {
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
}
/* line 293, ../sass/_mixins.scss */
#content .sidebar .direct-links .title {
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #08375d), color-stop(100%, #0094d4));
  background: -webkit-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -moz-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: -o-linear-gradient(bottom, #08375d 0%, #0094d4 100%);
  background: linear-gradient(bottom, #08375d 0%, #0094d4 100%);
}
/* line 311, ../sass/_mixins.scss */
#content .sidebar .direct-links .title {
  border-radius: 5px 5px 0 0;
}
/* line 315, ../sass/_mixins.scss */
#content .sidebar .direct-links ul {
  background: #E8F5F6;
}
/* line 318, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li {
  padding-right: 18px;
}
/* line 321, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li a {
  color: white;
}
/* line 338, ../sass/_mixins.scss */
#content .sidebar .direct-links ul a {
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: underline;
  color: #01355D;
  font-weight: bold;
}
/* line 329, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li.active a {
  text-decoration: none;
  color: #0094D4;
}
/* line 454, ../sass/_mixins.scss */
#content .sidebar .direct-links .title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 457, ../sass/_mixins.scss */
#content .sidebar .direct-links .title .arrow {
  position: relative;
  top: -1px;
  margin-left: 6px;
}
/* line 464, ../sass/_mixins.scss */
#content .sidebar .direct-links ul {
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 468, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li {
  background: none;
}
/* line 471, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li a {
  color: white;
}
/* line 474, ../sass/_mixins.scss */
#content .sidebar .direct-links ul li a.active {
  color: white;
}
/* line 114, ../sass/profile.scss */
#content .sidebar .direct-links h2 {
  margin: 0;
}
/* line 118, ../sass/profile.scss */
#content .sidebar .direct-links h2 .arrow {
  display: inline;
}

/* line 125, ../sass/profile.scss */
.profile-note {
  margin-left: 10px;
  font-size: 0.9em;
  width: 400px;
  line-height: 19px;
}

/* line 132, ../sass/profile.scss */
.ahtung {
  color: red;
}
