/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/* line 4, ../sass/profile_new.scss */
.blue_container {
  background-color: #0094D4;
  padding: 20px 15px;
  border: 1px solid #547390;
}
/* line 9, ../sass/profile_new.scss */
.blue_container .grey_container {
  background-color: #cbe3ea;
  padding: 15px 10px;
  border: 1px solid #a5b2b8;
}

/* line 15, ../sass/profile_new.scss */
.profile-tabs {
  position: relative;
}
/* line 103, ../sass/_mixins.scss */
.profile-tabs li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 35px;
  text-transform: uppercase;
  background: #B0D7E2;
  text-decoration: none;
  width: 199px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab.png?1380882321');
  background-repeat: no-repeat;
  z-index: 25;
  margin: 0px -30px;
  text-align: center;
}
/* line 117, ../sass/_mixins.scss */
.profile-tabs li a {
  margin-top: 7px;
  display: block;
  color: black;
  color: #053559;
  text-decoration: none;
  font-weight: bold;
  font-family: "PT Sans";
}
/* line 126, ../sass/_mixins.scss */
.profile-tabs li.active {
  width: 199px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab_active.png?1380882321');
  background-repeat: no-repeat;
  z-index: 50;
}
/* line 132, ../sass/_mixins.scss */
.profile-tabs li.active a {
  color: white;
}
/* line 136, ../sass/_mixins.scss */
.profile-tabs li.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  position: absolute;
  background: #0094d4;
}
/* line 146, ../sass/_mixins.scss */
.profile-tabs li:first-child {
  width: 166px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab_first_child.png?1380882321');
  z-index: 20;
  margin-right: -40px;
  text-align: left;
}
/* line 153, ../sass/_mixins.scss */
.profile-tabs li:first-child.active {
  width: 156px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab_first_child_active.png?1380882321');
  z-index: 50;
  color: white;
  margin-right: -30px;
}
/* line 161, ../sass/_mixins.scss */
.profile-tabs li:first-child.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  position: absolute;
  background: #0094d4;
}
/* line 175, ../sass/_mixins.scss */
.profile-tabs li:last-child {
  width: 166px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab_last_child.png?1380882321');
  z-index: 20;
  text-align: right;
}
/* line 181, ../sass/_mixins.scss */
.profile-tabs li:last-child.active {
  width: 166px;
  height: 46px;
  background: url('/themes/modern/img/profile/tabs/tab_last_child_active.png?1380882321');
  z-index: 50;
  color: white;
  margin: 0px -25px;
}
/* line 189, ../sass/_mixins.scss */
.profile-tabs li:last-child.active:after {
  content: "";
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  position: absolute;
  background: #0094d4;
}
/* line 198, ../sass/_mixins.scss */
.profile-tabs li:last-child a {
  padding-right: 10px;
}
/* line 203, ../sass/_mixins.scss */
.profile-tabs li:first-child {
  margin-left: 0;
  padding-left: 10px;
}
