/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/* line 4, ../sass/forms.scss */
.form-with-bg, .form-with-border, .fast-search, .add-site, .add-project, .group-prices, .group-settings, .group-settings-addurl, .wmsite-setting, .change-prices {
  background: #cbe3ea;
  padding: 15px;
  margin-bottom: 26px;
  width: 500px;
}

/* line 11, ../sass/forms.scss */
.row {
  margin-top: 10px;
}

/* line 15, ../sass/forms.scss */
.form-with-border, .fast-search {
  border: 1px solid #0681b9;
  margin-top: 3px;
}

/* line 23, ../sass/forms.scss */
.form-fixed-input-width .row > label, .form-fixed-input-width-small .row > label, .add-site .row > label, .add-audit-order .row > label, .group-settings .row > label, .group-settings-addurl .row > label, .wmsite-setting .row > label, .change-prices .row > label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 450px;
}

/* line 31, ../sass/forms.scss */
.form-fixed-input-width-small .row > label, .add-site .row > label {
  width: 150px;
}

/* line 36, ../sass/forms.scss */
#content .info, #content .opt-link-switcher {
  background: #cbe3ea;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 42, ../sass/forms.scss */
.tabs-in-content {
  position: relative;
  bottom: 75px;
  left: -25px;
}
/* line 47, ../sass/forms.scss */
.tabs-in-content li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 30px;
  padding: 5px 10px;
}
/* line 53, ../sass/forms.scss */
.tabs-in-content li a {
  color: black;
  text-decoration: underline;
}
/* line 58, ../sass/forms.scss */
.tabs-in-content li.active {
  background: #B0D7E2;
}

/** Implementation **/
/* line 64, ../sass/forms.scss */
.add-site {
  background: #cbe3ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding-top: 20pt;
}
/* line 68, ../sass/forms.scss */
.add-site h1 {
  padding-left: 20pt;
  margin-bottom: 10px !important;
}
/* line 73, ../sass/forms.scss */
.add-site .code-for > p.target-header {
  margin: 0 !important;
  padding: 20px 0px;
  font-size: 24px !important;
  font-weight: bold;
  padding-left: 35pt;
  border-bottom: 1px solid #A0B0B2;
  text-shadow: 0px 1px 0px white;
  color: #677278;
}
/* line 84, ../sass/forms.scss */
.add-site .code-for .download {
  -webkit-box-shadow: 0px 3px 9px #a0b0b2 inset;
  -moz-box-shadow: 0px 3px 9px #a0b0b2 inset;
  box-shadow: 0px 3px 9px #a0b0b2 inset;
  margin-bottom: 10pt;
  z-index: 12000;
}
/* line 88, ../sass/forms.scss */
.add-site .code-for .download ul.target-list {
  -webkit-box-shadow: 0px 3px 9px #a0b0b2 inset;
  -moz-box-shadow: 0px 3px 9px #a0b0b2 inset;
  box-shadow: 0px 3px 9px #a0b0b2 inset;
  width: 80%;
  background: #E2F2F2;
  margin: 0 auto;
  z-index: 1;
  padding: 12px 0px;
}
/* line 95, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li {
  padding: 12px 8%;
}
/* line 97, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li a {
  color: #677278;
  font-size: 14px;
}
/* line 101, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li span {
  float: left;
  color: #677278;
  background: url('/themes/modern/img/user_cabinet/addsite/dot_for_list.png?1382335058') left center no-repeat;
  padding-left: 17px;
}
/* line 107, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list {
  float: right;
}
/* line 110, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .information {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_information.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
}
/* line 113, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .information:hover {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_information_hover.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  color: #5CA6CA;
}
/* line 119, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .get {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  margin-left: 15px;
}
/* line 123, ../sass/forms.scss */
.add-site .code-for .download ul.target-list li .get-list .get:hover {
  background: url('/themes/modern/img/user_cabinet/addsite/download_code_hover.png?1382335058') left bottom no-repeat;
  padding-left: 25px;
  color: #5CA6CA;
}
/* line 135, ../sass/forms.scss */
.add-site form {
  padding-left: 45pt;
}
/* line 137, ../sass/forms.scss */
.add-site form .add-site-fieldset {
  background: #B0D7E2;
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
}

/* line 148, ../sass/forms.scss */
.add-site {
  margin: 10px auto;
  position: relative;
  width: auto;
}
/* line 154, ../sass/forms.scss */
.add-site .progress-generating {
  display: none;
  height: 40px;
  width: 250px;
  border: 2px solid #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
  background-color: #4d9fed;
  background-image: url('/themes/modern/img/ajax-loader.gif?1391437090');
  background-size: cover;
}
/* line 166, ../sass/forms.scss */
.add-site label {
  width: 140px;
  margin-bottom: 4px;
}
/* line 170, ../sass/forms.scss */
.add-site .name {
  width: 240px;
}
/* line 174, ../sass/forms.scss */
.add-site h2 {
  margin-bottom: 10px;
}
/* line 177, ../sass/forms.scss */
.add-site #part {
  width: 145px;
}
/* line 180, ../sass/forms.scss */
.add-site .drop-down-menu {
  width: 90px !important;
  height: 25px;
  margin-top: 0px;
}
/* line 185, ../sass/forms.scss */
.add-site .drop-down-menu option {
  height: 25px;
}
/* line 190, ../sass/forms.scss */
.add-site .buttons {
  text-align: center;
  margin-top: 55px;
}

/** Заказ аудита **/
/* line 199, ../sass/forms.scss */
.add-audit-order {
  font-family: 'PT Sans';
  background: #C1E5EC;
  padding: 15px;
  margin-bottom: 26px;
}
/* line 206, ../sass/forms.scss */
.add-audit-order .registration-submit-button-leave, .add-audit-order .submit-button, .add-audit-order #content .registration-first-form form input[type="submit"], #content .registration-first-form form .add-audit-order input[type="submit"], .add-audit-order #content .registration-second-step1 input[type="submit"], #content .registration-second-step1 .add-audit-order input[type="submit"], .add-audit-order #content .registration-second-step2 input[type="submit"], #content .registration-second-step2 .add-audit-order input[type="submit"], .add-audit-order #content .registration-second-step3 input[type="submit"], #content .registration-second-step3 .add-audit-order input[type="submit"], .add-audit-order #content .registration-second-step4 input[type="submit"], #content .registration-second-step4 .add-audit-order input[type="submit"], .add-audit-order #content .registration-second-step4-user-info input[type="submit"], #content .registration-second-step4-user-info .add-audit-order input[type="submit"], .add-audit-order .submit-button-dark, .add-audit-order .submit-button-light {
  height: 32px;
  margin: 0;
  float: left;
}
/* line 212, ../sass/forms.scss */
.add-audit-order .cell {
  width: 15%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 215, ../sass/forms.scss */
.add-audit-order .cell.name {
  width: 35%;
  min-width: 350px;
}
/* line 218, ../sass/forms.scss */
.add-audit-order .cell.name input {
  width: 340px;
}
/* line 222, ../sass/forms.scss */
.add-audit-order .cell.error {
  width: 40%;
}
/* line 227, ../sass/forms.scss */
.add-audit-order label {
  width: 140px;
  vertical-align: top !important;
}
/* line 232, ../sass/forms.scss */
.add-audit-order .last-child {
  height: 29px;
}
/* line 235, ../sass/forms.scss */
.add-audit-order .last-child .empty {
  position: relative;
}
/* line 240, ../sass/forms.scss */
.add-audit-order #audit-arrow {
  position: absolute;
  width: 212px;
  height: 48px;
  line-height: 48px;
  background: url('/themes/modern/img/audit-arrow.png?1380882321');
  right: -6px;
  top: 5px;
  text-indent: 30px;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 1.5 em;
  color: white;
}

/** Проекты оптимизатора **/
/* line 261, ../sass/forms.scss */
.group-prices {
  width: auto;
}

/* line 266, ../sass/forms.scss */
.group-settings, .group-settings-addurl {
  width: auto;
}

/* line 274, ../sass/forms.scss */
.group-settings-addurl label {
  width: 250px;
}

/* line 279, ../sass/forms.scss */
#wm-site-settings-global {
  background: #CBE3EA;
  padding: 10px;
}

/* line 283, ../sass/forms.scss */
.wmsite-setting {
  width: 100%;
  padding: 0;
}
/* line 288, ../sass/forms.scss */
.wmsite-setting #settings {
  border: 1px solid #FFF;
  outline: 1px solid #919697;
}
/* line 291, ../sass/forms.scss */
.wmsite-setting #settings .general, .wmsite-setting #settings .maxlinks, .wmsite-setting #settings .stop-words {
  background: #CBE3EA;
}
/* line 293, ../sass/forms.scss */
.wmsite-setting #settings .general .left, .wmsite-setting #settings .maxlinks .left, .wmsite-setting #settings .stop-words .left {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 39%;
  padding-left: 2px;
  vertical-align: top;
}
/* line 299, ../sass/forms.scss */
.wmsite-setting #settings .general .right, .wmsite-setting #settings .maxlinks .right, .wmsite-setting #settings .stop-words .right {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 60%;
}
/* line 303, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row, .wmsite-setting #settings .maxlinks .right .row, .wmsite-setting #settings .stop-words .right .row {
  margin: 0;
}
/* line 305, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row input, .wmsite-setting #settings .maxlinks .right .row input, .wmsite-setting #settings .stop-words .right .row input {
  width: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 310, ../sass/forms.scss */
.wmsite-setting #settings .general .right .row label, .wmsite-setting #settings .maxlinks .right .row label, .wmsite-setting #settings .stop-words .right .row label {
  width: 65%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 317, ../sass/forms.scss */
.wmsite-setting #settings .maxlinks {
  background: #DBEFF0;
}
/* line 323, ../sass/forms.scss */
.wmsite-setting #settings .stop-words label.own {
  width: 100px !important;
}
/* line 326, ../sass/forms.scss */
.wmsite-setting #settings .stop-words input.own {
  width: 65% !important;
}

/* line 333, ../sass/forms.scss */
.change-prices {
  width: 450px;
}
/* line 338, ../sass/forms.scss */
.change-prices label {
  width: 250px;
}

/** Optimizer **/
/* line 344, ../sass/forms.scss */
.fast-search {
  width: 90%;
  margin-top: 100px;
  border: 10px solid #B0D7E2;
}
/* line 351, ../sass/forms.scss */
.fast-search .criteria-name {
  width: 200px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-weight: bold;
}
/* line 357, ../sass/forms.scss */
.fast-search input[type="text"] {
  width: 50px;
  margin-right: 20px;
}
/* line 360, ../sass/forms.scss */
.fast-search input[type="text"] .error {
  border-color: #FC5A5C;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 368, ../sass/forms.scss */
.fast-search .from,
.fast-search .to {
  width: 40px;
}

/* line 373, ../sass/forms.scss */
.opt-link-switcher {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 1.5em;
  padding-right: 25px;
}
/* line 379, ../sass/forms.scss */
.opt-link-switcher h2 .name {
  color: black;
  text-transform: uppercase;
}

/* line 384, ../sass/forms.scss */
.textinput, input[type="text"],
input[type="password"], textarea {
  border: 1px solid #279BD6;
  outline: 1px solid white;
  background: #E8F5F6;
  height: 21px;
  -webkit-box-shadow: 0px 0px 12px #cbe3ea inset;
  -moz-box-shadow: 0px 0px 12px #cbe3ea inset;
  box-shadow: 0px 0px 12px #cbe3ea inset;
}
/* line 391, ../sass/forms.scss */
.textinput:focus, input[type="text"]:focus,
input[type="password"]:focus, textarea:focus {
  background: whitesmoke;
}

/* line 401, ../sass/forms.scss */
textarea {
  width: 450px;
  height: 70px;
}

/* line 407, ../sass/forms.scss */
label {
  margin: 10px !important;
}

/* line 411, ../sass/forms.scss */
#search-search-form {
  width: 500px;
}
/* line 414, ../sass/forms.scss */
#search-search-form .row input {
  float: right;
}

/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, .submit-button, #content .registration-first-form form input[type="submit"], #content .registration-second-step1 input[type="submit"], #content .registration-second-step2 input[type="submit"], #content .registration-second-step3 input[type="submit"], #content .registration-second-step4 input[type="submit"], #content .registration-second-step4-user-info input[type="submit"], .submit-button-dark, .submit-button-light, .no-submit-button, #registration-second-navigation li.registration-second-navigation-li {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, #content .registration-first-form form input[type="submit"]:active, #content .registration-second-step1 input[type="submit"]:active, #content .registration-second-step2 input[type="submit"]:active, #content .registration-second-step3 input[type="submit"]:active, #content .registration-second-step4 input[type="submit"]:active, #content .registration-second-step4-user-info input[type="submit"]:active, .submit-button-dark:active, .submit-button-light:active, .no-submit-button:active, #registration-second-navigation li.registration-second-navigation-li.current {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, .submit-button, #content .registration-first-form form input[type="submit"], #content .registration-second-step1 input[type="submit"], #content .registration-second-step2 input[type="submit"], #content .registration-second-step3 input[type="submit"], #content .registration-second-step4 input[type="submit"], #content .registration-second-step4-user-info input[type="submit"], .submit-button-dark, .submit-button-light, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, #content .registration-first-form form input[type="submit"] a, #content .registration-second-step1 input[type="submit"] a, #content .registration-second-step2 input[type="submit"] a, #content .registration-second-step3 input[type="submit"] a, #content .registration-second-step4 input[type="submit"] a, #content .registration-second-step4-user-info input[type="submit"] a, .submit-button-dark a, .submit-button-light a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button, #content .registration-first-form form input[type="submit"], #content .registration-second-step1 input[type="submit"], #content .registration-second-step2 input[type="submit"], #content .registration-second-step3 input[type="submit"], #content .registration-second-step4 input[type="submit"], #content .registration-second-step4-user-info input[type="submit"], .submit-button-dark, .submit-button-light {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active, #content .registration-first-form form input[type="submit"]:active, #content .registration-second-step1 input[type="submit"]:active, #content .registration-second-step2 input[type="submit"]:active, #content .registration-second-step3 input[type="submit"]:active, #content .registration-second-step4 input[type="submit"]:active, #content .registration-second-step4-user-info input[type="submit"]:active, .submit-button-dark:active, .submit-button-light:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a, #content .registration-first-form form input[type="submit"] a, #content .registration-second-step1 input[type="submit"] a, #content .registration-second-step2 input[type="submit"] a, #content .registration-second-step3 input[type="submit"] a, #content .registration-second-step4 input[type="submit"] a, #content .registration-second-step4-user-info input[type="submit"] a, .submit-button-dark a, .submit-button-light a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link, a.submit-button-dark:link, a.submit-button-light:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 69, ../sass/_mixins.scss */
#root .top-spacer .navigation li {
  color: white !important;
}
/* line 71, ../sass/_mixins.scss */
#root .top-spacer .navigation li a {
  color: white !important;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 79, ../sass/_mixins.scss */
#root .top-spacer .misc-links {
  max-width: 1600px;
  min-width: 981px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}
/* line 88, ../sass/_mixins.scss */
#root .bg {
  min-height: 552px;
}

/* line 13, ../sass/registration.scss */
#content {
  padding-bottom: 40px;
}
/* line 16, ../sass/registration.scss */
#content .content-inner {
  width: 750px;
  margin: 0 auto;
  float: none;
  padding-bottom: 50px;
}
/* line 22, ../sass/registration.scss */
#content .content-inner > * {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 28, ../sass/registration.scss */
#content h1 {
  margin-bottom: 10px;
  padding-top: 10px;
}
/* line 34, ../sass/registration.scss */
#content h1.top-line {
  padding: 0;
  text-align: center;
  color: #38a8d0;
  font-size: 0.9em;
  margin-bottom: 50px;
}
/* line 42, ../sass/registration.scss */
#content .top-line {
  padding: 0;
  width: 100%;
  line-height: 32px;
  font-size: 0.9em;
  color: #38a8d0;
  text-indent: 14px;
  margin-bottom: 20px;
}
/* line 50, ../sass/registration.scss */
#content .top-line .cell {
  display: block;
  float: left;
  color: #0094D3;
  width: 44%;
  margin-left: 3%;
  font-style: italic;
}
/* line 58, ../sass/registration.scss */
#content .top-line .cell.description {
  font-size: 0.8em;
}
/* line 62, ../sass/registration.scss */
#content .top-line .cell:first-child {
  text-indent: 40px;
}
/* line 68, ../sass/registration.scss */
#content .top-line.step3 .cell:first-child {
  background: url('/themes/modern/img/adv-circle-blue.png?1380818687') no-repeat 17px center;
}
/* line 72, ../sass/registration.scss */
#content .top-line.step3 .cell:first-child + .cell {
  background: url('/themes/modern/img/adv-circle-white.png?1380818687') no-repeat left center;
}
/* line 78, ../sass/registration.scss */
#content .registration-first-form form {
  width: 80%;
}
/* line 79, ../sass/registration.scss */
#content .registration-first-form form .submit {
  text-align: center;
}
/* line 84, ../sass/registration.scss */
#content .registration-first-form form .cell:first-child {
  width: 300px;
}
/* line 87, ../sass/registration.scss */
#content .registration-first-form form .cell:first-child label {
  padding-left: 30px;
  display: block;
  background: red;
  background: url('/themes/modern/img/adv-circle-blue.png?1380818687') no-repeat 8px center;
}
/* line 93, ../sass/registration.scss */
#content .registration-first-form form .cell:first-child label.unrequired {
  background: url('/themes/modern/img/adv-circle-white.png?1380818687') no-repeat 8px center;
}
/* line 99, ../sass/registration.scss */
#content .registration-first-form form .cell {
  width: 49% !important;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 104, ../sass/registration.scss */
#content .registration-first-form form input[type="submit"] {
  line-height: 1px;
  height: 32px;
  margin-right: 10px;
  margin-left: auto;
}
/* line 113, ../sass/registration.scss */
#content .registration-first-form form span input[type="radio"] {
  margin-left: 25px;
}
/* line 121, ../sass/registration.scss */
#content .registration-second-step1 .cell.description {
  padding-left: 30px;
}
/* line 124, ../sass/registration.scss */
#content .registration-second-step1 .cell {
  width: 100% !important;
}
/* line 126, ../sass/registration.scss */
#content .registration-second-step1 .cell label {
  font-weight: normal;
}
/* line 130, ../sass/registration.scss */
#content .registration-second-step1 input[type="submit"] {
  line-height: 1px;
  height: 32px;
  float: right;
  margin: 0;
}
/* line 140, ../sass/registration.scss */
#content .registration-second-step2 label {
  line-height: 30px;
}
/* line 143, ../sass/registration.scss */
#content .registration-second-step2 .cell:first-child {
  width: 300px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 146, ../sass/registration.scss */
#content .registration-second-step2 .cell:first-child label {
  font-weight: normal;
}
/* line 150, ../sass/registration.scss */
#content .registration-second-step2 .cell.description {
  padding-left: 10px;
  width: 395px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #0094D3;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 12px;
}
/* line 159, ../sass/registration.scss */
#content .registration-second-step2 input[type="submit"] {
  line-height: 1px;
  height: 32px;
  float: right;
  margin: 0;
}
/* line 169, ../sass/registration.scss */
#content .registration-second-step3 .cell:first-child {
  width: 300px;
}
/* line 172, ../sass/registration.scss */
#content .registration-second-step3 .cell:first-child label {
  padding-left: 30px;
  display: block;
  background: red;
  background: url('/themes/modern/img/adv-circle-blue.png?1380818687') no-repeat 8px center;
}
/* line 178, ../sass/registration.scss */
#content .registration-second-step3 .cell:first-child label.unrequired {
  background: url('/themes/modern/img/adv-circle-white.png?1380818687') no-repeat 8px center;
}
/* line 184, ../sass/registration.scss */
#content .registration-second-step3 .cell input[type="text"] {
  width: 330px;
}
/* line 188, ../sass/registration.scss */
#content .registration-second-step3 .cell {
  width: 49% !important;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 193, ../sass/registration.scss */
#content .registration-second-step3 input[type="submit"] {
  line-height: 1px;
  height: 32px;
  float: right;
  margin: 0;
}
/* line 201, ../sass/registration.scss */
#content .registration-second-step3 span input[type="radio"] {
  margin-left: 25px;
}
/* line 208, ../sass/registration.scss */
#content .registration-second-step4 .cell:first-child + .cell, #content .registration-second-step4-user-info .cell:first-child + .cell {
  padding: 3px;
  border: 1px solid #cbe3ea;
  outline: 1px solid white;
  background: white;
}
/* line 214, ../sass/registration.scss */
#content .registration-second-step4 input[type="submit"], #content .registration-second-step4-user-info input[type="submit"] {
  line-height: 1px;
  height: 32px;
  float: right;
  margin: 0;
}
/* line 221, ../sass/registration.scss */
#content .registration-second-step4 .cell, #content .registration-second-step4-user-info .cell {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 35%;
  text-align: justify;
}
/* line 226, ../sass/registration.scss */
#content .registration-second-step4 .cell:first-child, #content .registration-second-step4-user-info .cell:first-child {
  width: 63% !important;
}
/* line 229, ../sass/registration.scss */
#content .registration-second-step4 .cell.description, #content .registration-second-step4-user-info .cell.description {
  font-size: 0.8em;
}
/* line 235, ../sass/registration.scss */
#content .registration-second-step4-user-info {
  margin: 0 auto;
}
/* line 238, ../sass/registration.scss */
#content .registration-second-step4-user-info .disabled, #content .registration-second-step4-user-info tr td input:disabled {
  color: #01355b;
}
/* line 241, ../sass/registration.scss */
#content .registration-second-step4-user-info tr {
  height: 35px;
}
/* line 253, ../sass/registration.scss */
#content form {
  margin: 0 auto;
}
/* line 256, ../sass/registration.scss */
#content form h1 {
  font-weight: bold;
}
/* line 260, ../sass/registration.scss */
#content form .row {
  margin: 10px 0;
}
/* line 262, ../sass/registration.scss */
#content form .row a {
  height: 24px !important;
}
/* line 267, ../sass/registration.scss */
#content form label {
  font-weight: bold;
}
/* line 272, ../sass/registration.scss */
#content form .cell:first-child,
#content form .errors {
  width: 200px;
}
/* line 276, ../sass/registration.scss */
#content form .errorMessage {
  color: red;
  font-size: 0.7em;
}
/* line 287, ../sass/registration.scss */
#content form input.error,
#content form input.error-second {
  outline: 1px solid red;
}
/* line 291, ../sass/registration.scss */
#content form .submit-button {
  font-size: 1em;
}

/* line 297, ../sass/registration.scss */
#registration-second-navigation {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: default;
}
/* line 304, ../sass/registration.scss */
#registration-second-navigation li.registration-second-navigation-li {
  cursor: default;
}
/* line 312, ../sass/registration.scss */
#registration-second-navigation .submit-button {
  position: relative;
  margin-right: 25px;
  margin-left: 25px;
  width: 100px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 4px;
}
/* line 320, ../sass/registration.scss */
#registration-second-navigation .submit-button:after {
  content: "►";
  position: absolute;
  right: -38px;
  color: #0094D3;
}
/* line 328, ../sass/registration.scss */
#registration-second-navigation .submit-button.last-child:after {
  content: "";
}

/** Buttons **/
/* line 337, ../sass/registration.scss */
.submit-button-fixed-width {
  width: 170px;
  display: block;
  font-weight: normal;
  font-size: 1em;
  margin: 0 auto;
  padding: 9px;
}

/* line 346, ../sass/registration.scss */
.submit-button-dark {
  margin-bottom: 20px;
  margin-left: 4px;
  width: 196px !important;
}

/** Login form **/
/* line 360, ../sass/registration.scss */
.login-form {
  text-align: center;
}
/* line 365, ../sass/registration.scss */
.login-form .row .centered label {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 370, ../sass/registration.scss */
.login-form .row .centered a {
  color: #38a8d0;
  text-decoration: underline;
}
/* line 375, ../sass/registration.scss */
.login-form .row .centered input {
  float: none;
}
/* line 378, ../sass/registration.scss */
.login-form .row .centered .left {
  text-align: left;
}
/* line 379, ../sass/registration.scss */
.login-form .row .centered .left label {
  width: 17px;
}
/* line 391, ../sass/registration.scss */
.login-form .row {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}
/* line 398, ../sass/registration.scss */
.login-form .row.rememberMe .centered {
  width: 330px;
  margin: 0 auto;
}
/* line 404, ../sass/registration.scss */
.login-form .row.rememberMe .left,
.login-form .row.rememberMe .right {
  width: 50%;
}
/* line 408, ../sass/registration.scss */
.login-form .row.rememberMe .left {
  float: left;
}
/* line 412, ../sass/registration.scss */
.login-form .row.rememberMe .left input,
.login-form .row.rememberMe .left label {
  vertical-align: middle;
}
/* line 417, ../sass/registration.scss */
.login-form .row.rememberMe .right {
  float: right;
  margin-top: 8px;
}

/* line 424, ../sass/registration.scss */
.form-fixed-width-blue-label, .login-form label {
  color: #38a8d0;
  font-weight: normal !important;
  width: 140px;
}

/* line 430, ../sass/registration.scss */
.terms {
  width: 715px;
  height: 430px;
  border: 1px #000 solid;
}
