/**
    *   Buttons
*/
.registration-submit-button-base{
    font-weight: bold;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1em;
    text-align: center;
    @include background-image(linear-gradient(#B0D7E2 0%, #87A5AE 100%));
    line-height: 24px;
    color: #053559;
    border: 1px solid #96BDCB;
    @include border-radius(5px);
    @include box-shadow(none);
    @include inline-block;
}

.registration-submit-button-active-base{
    border: 1px solid transparent;
    @include background(#B0D7E2);
    @include box-shadow(0px 0px 10px #87A5AE inset);
}

.registration-submit-button {
    @extend .registration-submit-button-base;
    cursor: pointer;
    height:32px;
    text-decoration: none;
    &:active{
        @extend .registration-submit-button-active-base;
    }
    a{color: #053559;}
}

.registration-submit-button-leave {
    @extend .registration-submit-button;
    color: white;
    @include background-image(linear-gradient(#0094D4 0%, #0571A1 100%));
    border: 1px solid #0C89CC;
    &:active{
        border: 1px solid transparent;
        @include background(#0094D4);
        @include box-shadow(0px 0px 10px #0571A1 inset);
    }
    a{
        color: #ffffff; 
        text-decoration: none;
    }
}
a.registration-submit-button-leave{
    @extend .registration-submit-button-leave;
    &:link{
        color: #ffffff;
        text-decoration: none;
    }
}

.send_form_submit_button{
    color: white;
    padding: 2px 10px;
    margin: 0px;
    border: 1px solid #0084c8;
    
    font-size: 12px;
    text-transform: uppercase;
    
    position: relative;
    float: right;
    
    @include background-image(linear-gradient(#0094d4 0%,#0571a3  100%));
    
    &:active{
        border: 1px solid transparent;
        @include background(#15a0e8);
        @include box-shadow(0px 0px 15px #006196 inset);
    }
    
    &:hover{
        @include background-image(linear-gradient(#00d5ff 0%,#0084cb  100%));
    }
}

.submit-button {
    @extend .registration-submit-button-leave;
}

.no-submit-button {
    @extend .registration-submit-button;
}

.simple-rounded-submit {
    @extend .send_form_submit_button;
    margin-top: 7px;
    padding: 3px 10px;
    float: none;
}

.simple-submit {
    @extend .simple-rounded-submit; 
}


