$main-text-color: #01355B;
$header-width: 100%;
$content-margin: 24px;
$page-margin: 10px;
$main-text-color-second: #38A8D0;
$form-input-text-color: $main-text-color-second;

$max-width: 1600px;
$page-min-width: 981px;

$main-color-1: #CBE3EA;
$navigation-bg: #B7D9E3;

$logo-bitarget-filename: 'logo-bitarget.png';
$ruble-header-filename: 'ruble-header.png';

$body-gradient-top: #0094D4;
$body-gradient-bottom: #08375D;

$footer-height: 72px;
$footer-text-color: #0096D4;

//высота элемента таба
$list-item-height: 35px;

//Рекламные направления

  //Ширина навигации рекламных направлений
  $direct-links-width: 245px;
  
  //цвет табов
  $direct-tab-1-color: #38AAD1;
  $direct-tab-2-color: #5DA0CA; 
  $direct-tab-3-color: #0094D4; 