
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-light-webfont.eot');
    src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light-webfont.woff') format('woff'),
         url('/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 200;
    font-style: normal;
}



@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-lightitalic-webfont.eot');
    src: url('/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('/fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-italic-webfont.eot');
    src: url('/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-italic-webfont.woff') format('woff'),
         url('/fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bold-webfont.eot');
    src: url('/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bolditalic-webfont.eot');
    src: url('/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('/fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-extrabold-webfont.eot');
    src: url('/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('/fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-extrabolditalic-webfont.eot');
    src: url('/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('/fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PT_Sans-Web-Bold.eot');
    src: url('/fonts/PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PT_Sans-Web-Bold.woff') format('woff'),
         url('/fonts/PT_Sans-Web-Bold.ttf') format('truetype'),
         url('/fonts/PT_Sans-Web-Bold.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PT_Sans-Web-BoldItalic.eot');
    src: url('/fonts/PT_Sans-Web-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PT_Sans-Web-BoldItalic.woff') format('woff'),
         url('/fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype'),
         url('/fonts/PT_Sans-Web-BoldItalic.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PT_Sans-Web-Italic.eot');
    src: url('/fonts/PT_Sans-Web-Italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PT_Sans-Web-Italic.woff') format('woff'),
         url('/fonts/PT_Sans-Web-Italic.ttf') format('truetype'),
         url('/fonts/PT_Sans-Web-Italic.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PT_Sans-Web-Regular.eot');
    src: url('/fonts/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PT_Sans-Web-Regular.woff') format('woff'),
         url('/fonts/PT_Sans-Web-Regular.ttf') format('truetype'),
         url('/fonts/PT_Sans-Web-Regular.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marck Script';
    src: url('/fonts/MarckScript-Regular.eot');
    src: url('/fonts/MarckScript-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MarckScript-Regular.woff') format('woff'),
         url('/fonts/MarckScript-Regular.ttf') format('truetype'),
         url('/fonts/MarckScript-Regular.svg#marck_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('/fonts/PT_Sans-Caption-Web-Regular.eot');
  src: url('/fonts/PT_Sans-Caption-Web-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/PT_Sans-Caption-Web-Regular.woff') format('woff'),
       url('/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype'),
       url('/fonts/PT_Sans-Caption-Web-Regular.svg#PTSans-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('/fonts/PT_Sans-Caption-Web-Bold.eot');
  src: url('/fonts/PT_Sans-Caption-Web-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/PT_Sans-Caption-Web-Bold.woff') format('woff'),
       url('/fonts/PT_Sans-Caption-Web-Bold.ttf') format('truetype'),
       url('/fonts/PT_Sans-Caption-Web-Bold.svg#PTSans-CaptionBold') format('svg');
  font-weight: normal;
  font-style: normal;
}