$sites-menu-icons-sprite-dimensions :true; 
@import "../img/sites_menu_icons/*.png";
@include all-sites_menu_icons-sprites;

.sites_menu_icons-sprite
{
    display: block;
    float: left;
    margin-left: 15px;
}

