@import "compass/css3";
@import "conf";

@mixin inline-block-parent {
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing:-1px; /* переубеждаем webkit'ы */
}


@mixin min-max-page-width {
  max-width: $max-width;
  min-width: $page-min-width;
}

@mixin liquid-column-and-sidebar($sidebar-width: 200px,
                                  $sidebar-align: "right",
                                  $column-class: "column",
                                  $sidebar-class: "sidebar",
                                  $content-wrapper-class: "content-wrapper",
                                  $sidebar-padding: 0,
                                  $column-padding: 0) {
  .#{$content-wrapper-class} {
    @if $sidebar-align == "right" {
      float: right;
    } @else if $sidebar-align == "left" {
      float: left;      
    }
    width: 100%;
  }

  .#{$column-class} {
    padding: $column-padding;
    @if $sidebar-align == "right" {
      margin-right: $sidebar-width + $sidebar-padding*2;
    } @else if $sidebar-align == "left" {
      margin-left: $sidebar-width + $sidebar-padding*2;
    }
  }
  
  .#{$sidebar-class} {
    padding-right: $sidebar-padding;
    @if $sidebar-align == "right" {
      float: right;
    } @else if $sidebar-align == "left" {
      float: left;
    }
    width: $sidebar-width;
    @if $sidebar-align == "right" {
      margin-right: -100%;
    } @else if $sidebar-align == "left" {
      margin-left: -100%;
    }
  }
}

@mixin without-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin top-spacer-with-menu {
  .top-spacer {
    .navigation {
      li {
        color: white !important;
        a {
          color: white !important;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    
    .misc-links {
      max-width: $max-width;
      min-width: $page-min-width;
      margin-right: auto;
      margin-left: auto;      
      display: none;
    }
  }
  
  .bg {
    min-height: 552px;
  }
}

/**
 *   Миксины для страниц направлений
 */

/**
 *   Табы на странице направления
 */
@mixin profile-tabs($list-item-height) {
  position: relative;

  li {
    position: relative;
    @include inline-block;
    line-height: $list-item-height;
    text-transform: uppercase;
    background: #B0D7E2;
    text-decoration: none;
    width: image-width("profile/tabs/tab.png");
    height: image-height("profile/tabs/tab.png");
    background: image-url("profile/tabs/tab.png");
    background-repeat: no-repeat;
    z-index:25;
    margin: 0px -30px;
    text-align: center;
    a {
      margin-top: 7px;
      display: block;
      color: black;
      color: #053559;
      text-decoration: none;
      font-weight: bold;
      font-family: "PT Sans";
    }
    &.active {
        width: image-width("profile/tabs/tab_active.png");
        height: image-height("profile/tabs/tab_active.png");
        background: image-url("profile/tabs/tab_active.png");
        background-repeat: no-repeat;
        z-index:50;
        a{
            color: white;
        }
    }
    &.active:after{
        content: "";
		left: 0;
		right: 0;
		bottom: -3px;
		height: 3px;
		position: absolute;
		background: $direct-tab-3-color;
    }

    &:first-child {
        width: image-width("profile/tabs/tab_first_child.png");
        height: image-height("profile/tabs/tab_first_child.png");
        background: image-url("profile/tabs/tab_first_child.png");
        z-index:20;
        margin-right: -40px;
        text-align: left;
        &.active{
             width: image-width("profile/tabs/tab_first_child_active.png")  - 10px;
             height: image-height("profile/tabs/tab_first_child_active.png");
             background: image-url("profile/tabs/tab_first_child_active.png");
             z-index:50;
             color: white;
             margin-right: -30px;
        }
        &.active:after{
            content: "";
            left: 0;
            right: 0;
            bottom: -3px;
            height: 3px;
            position: absolute;
            background: $direct-tab-3-color;
        }
        a{
                //text-indent: 47px;
        }
    }
    
    &:last-child {
        width: image-width("profile/tabs/tab_last_child.png");
        height: image-height("profile/tabs/tab_last_child.png");
        background: image-url("profile/tabs/tab_last_child.png");
        z-index:20;
        text-align: right;
        &.active{
             width: image-width("profile/tabs/tab_last_child_active.png");
             height: image-height("profile/tabs/tab_last_child_active.png");
             background: image-url("profile/tabs/tab_last_child_active.png");
             z-index:50;
             color: white;
             margin: 0px -25px;
        }
        &.active:after{
            content: "";
            left: 0;
            right: 0;
            bottom: -3px;
            height: 3px;
            position: absolute;
            background: $direct-tab-3-color;
        }
        a{
            padding-right: 10px;
        }
    }
    
    &:first-child {
        margin-left: 0;
        padding-left: 10px;
    }    
  }
}
/* Табы на странице профиля */
@mixin tabs($list-item-height) {
  position: relative;

  li {
    position: relative;
    @include inline-block;
    line-height: $list-item-height;
    text-transform: uppercase;
    background: #B0D7E2;
    text-decoration: none;
    
    &.active:after {
		content: "";
		left: 0;
		right: 0;
		bottom: -3px;
		height: 3px;
		position: absolute;
		background: $direct-tab-1-color;
    }    
    
    &.for-webmaster.active {
      width: image-width("user_cabinet/webmaster_on.png");
      height: image-height("user_cabinet/webmaster_on.png");
      background: image-url("user_cabinet/webmaster_on.png");
      
      &:after {
        border-left: 1px solid #336D8B;
      }      
    }
    
    &.for-optimizer.active {
      width: image-width("user_cabinet/optimizer_on.png");
      height: image-height("user_cabinet/optimizer_on.png");
      background: image-url("user_cabinet/optimizer_on.png");
      
      &:after {
        background: $direct-tab-2-color;            
      }
    }

    &.for-webmaster.active,
    &.for-optimizer.active {
        z-index: 10;
    }         

    &.for-webmaster {
      background: $direct-tab-1-color;
      width: image-width("user_cabinet/webmaster_off.png");
      height: image-height("user_cabinet/webmaster_off.png");
      background: image-url("user_cabinet/webmaster_off.png");        
    }

    &.for-optimizer {
      background: $direct-tab-2-color;
      width: image-width("user_cabinet/optimizer_off.png");
      height: image-height("user_cabinet/optimizer_off.png");
      background: image-url("user_cabinet/optimizer_off.png");
      text-indent: 90px;
      margin-left: -76px;
      
      a {
        text-indent: 73px;
      }
    }
    
    &:first-child {
        margin-left: 0;    
    }    

    a {
      margin-top: 7px;
      display: block;
      color: black;
      text-indent: 50px;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@mixin gradiented-title {
    .title {
      line-height: $list-item-height;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 0.8em;
      border-left: 1px solid white;
      border-top: 1px solid white;
      @include background(linear-gradient(bottom, $body-gradient-bottom 0%, $body-gradient-top 100%));
    }  
}

/**
 *   Список ссылок на страницы описания направлений
 */
@mixin direct-links($list-item-height) {
    @include gradiented-title;
    
    .title {
      border-radius: 5px 5px 0 0;      
    }

    ul {
      background: #E8F5F6;

      li {
        padding-right: 18px;
        
        a {
            color: white;
        }
      }

      @include direct-links-unactive-link();

      li.active {
        a {
          text-decoration: none;
          color: #0094D4;
        }
      }
    }  
}

@mixin direct-links-unactive-link {
    a {
      text-transform: uppercase;
      font-size: 0.9em;
      text-decoration: underline;
      color: #01355D;
      font-weight: bold; 
    }
}

@mixin navigation-third-level {
  .navigation-third-level {
    margin-bottom: 46px;
    
    li {
      padding: 8px;
      float: left;
      font-size: 0.9em;
      border-bottom: 3px solid #AFD7E2;
      
      a {
          text-decoration: none;
          color: black;
      }
    }
    
    li.active {  
      border-bottom: 3px solid #FFFEFF;
      background: image-url('user_cabinet/triangle_top.png') center bottom no-repeat;
      
      a {
          font-weight: bold;
          color: white;
      }       
    }
    
    li#more{
        display: none;
        position: relative;
        #more-link{
            visibility: visible;
        }
        &.active{
            background: none;
            &:after{
                content: "";
                left: 0;
                right: 0;
                bottom: -7px;
                position: absolute;
                background: image-url('user_cabinet/triangle_bottom.png') center bottom no-repeat;
                height: image-height('user_cabinet/triangle_bottom.png');
            }
            #more-list{
                li{
                    a{
                        color: #144062 !important;
                        font-weight: normal;
                    }
                    a:hover{
                        text-decoration: none;
                        color: #65BDE2 !important;
                        
                    }
                    a.active{
                        color: #65BDE2 !important;
                    }
                }
            }
        }
        &>#more-list{
            background: #def0f4;
            list-style: none;
            position: absolute;
            display: none;
            border: 1px solid #65BDE2;
            border-radius: 5px;
            width: 150px;
            z-index: 100;
            right: 0;
            top:40px;
            font-size: 12px;
            line-height:12px;
            @include box-shadow(0px 0px 5px black);
            li{
                padding-left: 12px;
                float: none;
                border-top: 1px solid #38a8d0;
                border-bottom: none;
                .a{
                    display: block;
                    padding: 5px 14px;
                    color: #144062;
                    &:hover{
                        text-decoration: none;
                        color: #65BDE2;
                    }
                }
                &:first-child{
                    border-top: none;
                }
                &.active{
                    border-bottom: none;
                    background: none;
                    color: #65BDE2;
                    a{
                        color: #0094D4 !important;
                        font-weight: normal;
                    }
                }
            }
        }
    }    
  }  
}

@mixin t-direct-links-dropdown {
  .title {
    @include without-selection();
    cursor: pointer;
    .arrow {
      position: relative;
      top: -1px;
      margin-left: 6px;
    }
  }

  ul {
    background: rgba(0,0,0,0.5);
    display: none;

    li {
      background: none;

      a {
        color: white;

        &.active {
          color: white;
        }
      }
    }
  }
}