/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */

/**
 *   direction_layout and profile (layout)
 */

@import "conf";
@import "buttons";
@import "icons_wmsites";

.t-info-text {
    font-style: italic;
    font-size: 0.8em;
    line-height: 2em;

    .notice-text {
      float: left;
      color: #0094D6;
    }
}

.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;  
}

@mixin sidebar-list-links {
  margin-left: 27px;
  
  li {
    list-style-type: disc;
    margin: 10px 0;
    
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: black;      
    }
  }
}

.inline-block {
  @include inline-block;
}

.drop-down-menu {
  margin-top: 8px;
  color: $main-text-color-second;
  background: white;
}

.input {
  color: $form-input-text-color; 
}

.error{
        @extend .input;
        color: black;
        border-color: #FC5A5C;
}


.errorMessage{
    color: #FC5A5C;
}

.vertical-form {
  label {
    @include inline-block;
    width: 150px;
  }
}
.notice {
      width: 100%;
      background: #0094D4;
      @include border-radius(5px,5px);
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0.9em;
      color: white;
      text-align: center;
      position: relative;
      margin-top: 10px;
    }

    .notice.attention {
      .attention {
        position: absolute;
        left: 20px;
        top: 10px;
        font-weight: bold;
      }
    }

    .errorSummary {
      @extend .notice;
      background: #FC5A5C;
    }


/** Уведомления **/

#messages {
    padding: 26px 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'PT Sans Caption';
    background: #0094D4;
    text-align: center;
    font-size: 1.1em;
    color: white;
    position: relative;
    @include box-shadow(-1px 0px 12px -3px black inset);
}

#message-homepage {
    @extend #messages;
    text-align: left;

    .how-to {
            font-size:12px;
            color: white;
            font-style: italic;
            position: absolute;
            display: block;
            height: 20px;
            line-height:100%;
            width:110px;
            bottom: 20px;
            right: 50px;
            text-decoration: underline;

            img {
                top: 3px;
                position: relative;
                right: -8px;
            }
     }

    .control {
        margin: 0 auto;
        width: 700px;
        position: relative;

        .start {
            z-index: 200;

            .promotion-site{
                width: 532px;
                height: 45px;
                background-image: image-url("homepage/earth.png");
                background-color: #E8F5F6;
                color: #849190;
                background-repeat: no-repeat;
                background-position: 16px 16px;
                padding-top: 8px;
                padding-left: 50px;
                font-size: 18px;
                border: transparent;
                @include border-radius(8px 0px 0px 8px);
                @include box-shadow(2px 2px 4px -2px black inset);

                &:focus {
                      outline: none;
                }
            }

          .promotion-site,
          .button-go {
            vertical-align: middle;
          }

          .button-go {
            @include border-radius(0px 8px 8px 0px);
            @include box-shadow(0px 2px 4px -2px black inset);
            height: 54px;
            border: transparent;
            background-image: image-url("homepage/go.png");
            background-color: #D4E9EE;
            background-repeat: no-repeat;
            background-position: center center;
            width: 76px;
            position: relative;
            cursor: pointer;
            z-index: 5;
            left: -14px;
          }
        }
    
        .to-optimizer {
            font-family: "PT Sans", Arial;
            position: relative;
            font-size: 16px;
            width: 400px;
            text-align: left;
            line-height: 150%;
            padding-bottom: 65px;
            @include inline-block;
        }

        .begin-note {
            position: relative;
            @include inline-block;
            background: image-url("homepage/start-img.png");
            height: image-height("homepage/start-img.png");
            width: image-width("homepage/start-img.png");
            z-index: 1;
            left: 117px;
            bottom: 13px;
        }

        .begin-arrow {
          width: image-width("homepage/begin_arrow.png");
          height: image-height("homepage/begin_arrow.png");
          background: image-url("homepage/begin_arrow.png");
          position: absolute;
          right: -60px;
          top: 29px;
        }
    }
}
