@import "compass/css3";
@import "conf";
@import "mixins";
@import "fonts";
@import "traverse";

#content {
  min-height: 600px;
}

.side-bar {
  padding-right: 15px;
  float: left;
  width: 237px;
}

.side-bar ul li {
  padding-right: 18px;
  line-height: 47px;
  background-color: #cbe3ea;
  background-image: url('/themes/modern/img/sidebar_menu_border.jpg?1378724357');
  background-repeat: no-repeat;
  text-align: right;
}

.side-bar ul li a {
  display: block;
  width: 100%;
  color: #01355b;
  line-height: inherit;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9em;
}

.list-view {
  display: block;
  padding: 10px;
  margin-left: 267px;
}

.title {
  color: #233857;
  font-size: 1.2em;
  font-weight: bold;
}

.date {
  margin-top: 10px;
  color: #0495d4;
}

.description {
  margin-top: 10px;
  font-size: 11pt;
  line-height: 1.2;

  /*Переопределение стандартных стилей*/
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2em;
  }
  h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  strong, b {
    font-weight: bold;
  }
  a {
    color: #0782C1;
  }
  blockquote {
    font-style: italic;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
  }
  thead tr th {
    padding: 4px;
    font-weight: bold;
    border: solid 1px #ccc;
  }
  tbody tr td {
    padding: 4px;
    border: solid 1px #ccc;
  }
  /*-------------------------------------*/
}

.description * {
  margin: 8px;
}

.more {
  margin-top: 10px;
  text-align: right;
  color: #0495d4;
  font-style: italic;
  text-decoration: underline;
}

.space {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #BBD6E1;
  height: 10px;
}

.tags {
  margin: 0 auto;
}

.tags li {
  display: inline-block;
  padding: 10px;
}

#content > .side-bar ul li.active {
  -webkit-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  -moz-box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  box-shadow: -1px 0px 12px -3px black inset, -22px 0px 0px #053559;
  background: #0094d4;
  position: relative;
  margin-left: 8px;
}
#content > .side-bar ul li.active a {
  color: white;
  font-weight: bold;
}
/*Классы для CKEditor*/
.right {
  float: right;
}

.left {
  float: left;
}

/*-------------------*/
#scroll-up {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 0%;
  right: 0%;
  background-color: #7db9e8;
  opacity: .3;
  color: #fff;
  padding: 10px;
  margin: 5px 15px 15px 5px;
  border-radius: 3px;
}

#scroll-up span {
  font-size: 20px;
}

#scroll-up:hover {
  opacity: .8;
}

#scroll-up:active {
  opacity: 1;
}

.actions {
  text-align: right;
}
