@import "compass/css3";

.about-picture{
    display: block;
    position: relative;
    background: image-url('direction-about.png') no-repeat;
    height: 59px;
    width: 281px;
    
}
.wm-picture-border{
     $image: 'directions/wm-caption.png';
     position: relative;
     margin-top: image-height($image);
    .wm-picture-header{
        position: absolute;
        background: image-url($image) no-repeat;
        height: image-height($image);
        width: image-width($image);
        top: -40px;
        left: 60px;
    }
    .picture-border{
        height: 40px;
        width: 40px;
        position: absolute;
    }
     .picture-border-tl{
         @extend .picture-border;
         top:0px;
         left:0px;
     }
     .picture-border-tr{
         @extend .picture-border;
         top:0px;
         right:0px;
     }
     .picture-border-bl{
         @extend .picture-border;
         bottom:0px;
         left:0px;
     }
     .picture-border-br{
         @extend .picture-border;
         bottom:0px;
         right:0px;
     }
}
.opt-picture-border{
     @extend .wm-picture-border;
     $image: 'directions/opt-caption.png';
     position: relative;
     margin-top: image-height($image);
    .wm-picture-header{
        position: absolute;
        background: image-url($image) no-repeat;
        height: image-height($image);
        width: image-width($image);
        top: -25px;
    }
}

.wm-picture-underline{
     $image: 'directions/wm-caption.png';
     $line-image: 'directions/underline/wm_underline.png';
     position: relative;
     margin-top: image-height($image);
    .wm-picture-header{
        position: relative;
        background: image-url($image) no-repeat;
        height: image-height($image);
        width: image-width($image);
        left: 77px;
        @include rotate(-3deg);
    }
    .picture-underline{
        position: relative;
        left: 40px;
        background: image-url($line-image) no-repeat;
        height: image-height($line-image);
        width: 100%;
        @include rotate(-1deg);
    }
}

.opt-picture-underline{
     $image: 'directions/opt-caption.png';
     $line-image: 'directions/underline/opt_underline.png';
     position: relative;
     margin-top: image-height($image);
    .wm-picture-header{
        position: relative;
        background: image-url($image) no-repeat;
        height: image-height($image);
        width: image-width($image);
        left: 77px;
        @include rotate(-3deg);
    }
    .picture-underline{
        position: relative;
        left: 40px;
        background: image-url($line-image) no-repeat;
        height: image-height($line-image);
        width: 100%;
        @include rotate(-1deg);
    }
}
.arrow-block{
     position: absolute;
     margin-left: 40%;
     top: -25px;
     }
    .wm-picture-arrow{
         $image: 'directions/wm-caption.png';
         $arrow-image: 'directions/upperarrow/wm_arrow.png';
         position: relative;
         margin-top: image-height($image);
        .wm-picture-header{
            position: relative;
            background: image-url($image) no-repeat;
            height: image-height($image);
            width: image-width($image);
            @include inline-block;
        }
        .picture-arrow{
            position: relative;
            background: image-url($arrow-image) no-repeat;
            height: image-height($arrow-image);
            width: image-width($arrow-image);
            @include inline-block;
            
        }
    }

    .opt-picture-arrow{
         $image: 'directions/opt-caption.png';
         $arrow-image: 'directions/upperarrow/opt_arrow.png';
         position: relative;
         margin-top: image-height($image);
        .wm-picture-header{
            position: relative;
            background: image-url($image) no-repeat;
            height: image-height($image);
            width: image-width($image);
            @include inline-block;
        }
        .picture-arrow{
            position: relative;
            background: image-url($arrow-image) no-repeat;
            height: image-height($arrow-image);
            width: image-width($arrow-image);
            @include inline-block;
        }
    }

    
.description{
    .slide-benefits{
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
    }
    .slide-list
    {
           margin-top: -20px;
           li{
              @include inline-block;
              font-size: 12px;
              width: 46%;
              margin-top: 40px;
              .slide-list-img{
                  @include inline-block;
                  img{
                    height: 51px;
                    width: 54px;
                    padding-top: 5px;
                  }
              }

              .list-text{
                  @include inline-block;
                  line-height: 150%;
                  width: 60%;
                  margin-left: 11px;
              }
          }  
    }
    
}
