.acts{
    .documents_create a{
        margin-left: 10px;
        padding: 6px;
        border: 1px solid #0681b9;
        border-radius: 15px;
        color: #0681b9;
    }
    .documents_create a:hover{
        text-decoration: none;
    }
    
    /*.documents_create a :hover:-webkit-any-link*/
    .form_container{
        margin-top: 15px;
        margin-left: 10px;
        width: 70%;
        padding: 20px;
        border: 1px solid #0681b9;
        
        h6.form_title{
            font-size: 1em;
            font-weight: bold;
            color: #0681b9;
        }
        
        .form{
            .buttons{
                margin-top: 20px;
            }
            
            .radio_list{
                padding-left: 20px;
            }
            
            .row{
                margin-top:15px;
            }
            .group_title{
                font-style: italic;
            }
        }
    }
}

