@import "conf";
@import "compass/css3";

.form-with-bg {
  background: $main-color-1;
  padding: 15px;
  margin-bottom: 26px;
  width: 500px;
}

.row{
    margin-top:10px;
}
    
.form-with-border {
  @extend .form-with-bg;
  
  border: 1px solid #0681b9;
  margin-top:3px;
}

.form-fixed-input-width {
  .row > label {
    @include inline-block;
    width: 450px;
  }
}

.form-fixed-input-width-small {
	@extend .form-fixed-input-width;
	.row > label {
	   width: 150px;
    }
}

#content .info {
  background: $main-color-1;
  padding: 10px;
  margin-bottom: 20px;
}

.tabs-in-content {
  position: relative;
  bottom: 75px;
  left: -25px;
  
  li {
    @include inline-block;
    line-height: 30px;
    padding: 5px 10px;
  }
  
  li a {
    color: black;
    text-decoration: underline;
  }
  
  li.active {
    background: #B0D7E2;    
  }
}

/** Implementation **/
.add-site {
    background: #cbe3ea;
    @include border-radius(3px);
    padding-top: 20pt;
    h1{
            padding-left: 20pt;
            margin-bottom: 10px !important;
    }
    .code-for{
        &>p.target-header{
            margin: 0 !important;
            padding: 20px 0px;
            font-size: 24px !important;
            font-weight: bold;
            padding-left: 35pt;
            border-bottom: 1px solid #A0B0B2;
            @include text-shadow(0px 1px 0px white);
            color: #677278;
            
        }
        .download{
             @include box-shadow(0px 3px 9px #A0B0B2 inset);
             margin-bottom: 10pt;
             z-index:12000;
                ul.target-list{
                @include box-shadow(0px 3px 9px #A0B0B2 inset);    
                width:80%;
                background: #E2F2F2;
                margin: 0 auto;
                z-index:1;
                padding:12px 0px;
                li{
                    padding:12px 8%;
                    a{
                        color: #677278;
                        font-size: 14px;
                    }
                    span{
                        float: left;
                        color: #677278;
                        background: image-url("user_cabinet/addsite/dot_for_list.png") left center no-repeat;
                        padding-left: 17px;
                    }
                    .get-list{
                        float: right;
                        $image-padding: 25px;
                        .information{
                            background: image-url("user_cabinet/addsite/download_code_information.png") left bottom no-repeat;
                            padding-left: $image-padding;
                            &:hover{
                                background: image-url("user_cabinet/addsite/download_code_information_hover.png") left bottom no-repeat;
                                padding-left: $image-padding;
                                color: #5CA6CA;
                            }
                        }
                        .get{
                            background: image-url("user_cabinet/addsite/download_code.png") left bottom no-repeat;
                            padding-left: $image-padding;
                            margin-left:15px;
                            &:hover{
                                background: image-url("user_cabinet/addsite/download_code_hover.png") left bottom no-repeat;
                                padding-left: $image-padding;
                                color: #5CA6CA;
                            }
                        }
                    }
                }
            }
        }
        
    }
    form{
        padding-left: 45pt;
        .add-site-fieldset{
            background: #B0D7E2;
            width: 400px;
            padding:15px;
            margin-bottom: 10px;
        }
    }
}



.add-site {
  @extend .form-with-bg;
  @extend .form-fixed-input-width-small;
    margin:10px auto;
    position: relative;
    width: auto;
    .progress-generating {
      display: none;
      height: 40px;
      width: 250px;
      border: 2px solid #333;
      @include border-radius(8px);
      @include box-shadow(0 0 6px 5px rgba(255, 255, 255, 0.5));
      background-color: #4d9fed;
      background-image: image-url("ajax-loader.gif");
      background-size: cover;
    }
  
  label {
    width: 140px;
    margin-bottom:4px;
  }
  .name{
    width: 240px;
}
  
  h2 {
    margin-bottom: 10px;
  }
        #part{
            width: 145px;
        }
  .drop-down-menu {
      
        width: 90px !important;
        height:25px;
        margin-top: 0px;
        option{
            height:25px;
        }
   
  }
    .buttons{
        text-align: center;
        margin-top:55px;
    }
  
}

/** Заказ аудита **/

.add-audit-order {
  font-family: 'PT Sans';
  background: #C1E5EC;
  padding: 15px;
  margin-bottom: 26px;
  @extend .form-fixed-input-width;
    
    .registration-submit-button-leave{
        height: 32px;
        margin: 0;
        float: left;
    }
    
    .cell {
      width: 15%;
      @include inline-block;
          &.name {
              width: 35%;
              min-width: 350px;
              input {
                  width: 340px;
              }
          }
          &.error {
              width: 40%;
          }
    }   

    label {
        width: 140px;
        vertical-align: top !important;
    }
      
    .last-child {
        height: 29px;
        
        .empty {
            position: relative;
        }
    }
    
    #audit-arrow {
        position: absolute;
        width: image-width("audit-arrow.png");
        height: image-height("audit-arrow.png");
        line-height: image-height("audit-arrow.png");
        background: image-url("audit-arrow.png");
        right: -6px;
        top: 5px;
        text-indent: 30px;
        text-transform: uppercase;
        text-shadow: none !important;
        font-size: 1.5 em;
        color: white;
    }
}

/** Проекты оптимизатора **/
.add-project {
  @extend .form-with-bg;       
}

.group-prices {
  @extend .form-with-bg;
  width: auto;
}

.group-settings {
  @extend .form-with-bg;
  @extend .form-fixed-input-width;
  width: auto;
}

.group-settings-addurl{
  @extend .group-settings;
  label{
     width: 250px;
  } 
}

#wm-site-settings-global{
    background: #CBE3EA;
    padding: 10px;
}
.wmsite-setting {
  @extend .form-with-bg;
  @extend .form-fixed-input-width;
  width: 100%;
    padding: 0;
    #settings{
        border: 1px solid #FFF;
        outline: 1px solid #919697;
            .general{
                 background: #CBE3EA;
                .left{
                    @include inline-block;
                    width: 39%;
                    padding-left: 2px;
                    vertical-align: top;
                }
                .right{
                    @include inline-block;
                    width: 60%;

                    .row{
                        margin:0;
                        input{
                            width: 40px;
                            @include inline-block;

                        }
                        label{
                            width: 65%;
                            @include inline-block;
                        }  
                    }
                }
            }
            .maxlinks{
                @extend .general;
                background: #DBEFF0;
            }
            .stop-words{
                @extend .general;
                label.own{
                    width: 100px !important;
                }
                input.own{
                    width: 65% !important;
                }
            }
       }
}

.change-prices {
  @extend .form-with-bg;
  @extend .form-fixed-input-width;
  width: 450px;
  
  label {
    width: 250px;
  }
}

  /** Optimizer **/
.fast-search {
  @extend .form-with-border;
  width: 90%;
  margin-top: 100px;
  border: 10px solid #B0D7E2;
  
  
  .criteria-name {
    width: 200px;
    @include inline-block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 50px;
    margin-right: 20px;
    .error{
      border-color: #FC5A5C;
      @include border-radius(10px,10px);
    }
  }
  

  .from,
  .to {
   width: 40px; 
  }
}

.opt-link-switcher {
      @extend .info;
      @include inline-block;
      line-height: 1.5em;
      padding-right: 25px;

      h2 .name {
        color: black;
        text-transform: uppercase;
      }
    }
    .textinput{
        border: 1px solid #279BD6;
            outline: 1px solid white;
            background: #E8F5F6;
            height: 21px ;
            @include box-shadow(0px 0px 12px #CBE3EA inset);

            &:focus{
                background: whitesmoke;
            }
    }
    
    input[type="text"],
    input[type="password"] {
        @extend .textinput;
    }
    
    textarea{
        @extend .textinput;
        width: 450px;
        height: 70px;
    }
    
label {
	margin: 10px !important;
}   

#search-search-form {
    width: 500px;
    .row {
        input {
            float: right;
        }
    }
    
} 
