@import "compass/css3";
@import "conf";
@import "mixins";
@import "traverse";
/*@import "homepage/directions-list-icons/*.png";
@include all-directions-list-icons-sprites;*/


html {
    font-family: 'PT Sans';    	
}

.directions-list-icons-sprite
{
    display: block;
    margin: 0 auto;
    width: 185px;
    height: 167px;
}


#content {
  &>h1 {
    text-align: center;
    margin-top: 33px;
    text-transform: uppercase;
    font-weight: bold; 
    color: #043559;
    font-size: 1.1em;
    margin-bottom: 17px;      
  }
  
  .list-carousel {
        width: 91%;
        margin-top: 40px;
        td {
            width: 200px;
            background: none;
            border: none;
            text-align: center;

            @for $i from 1 through 8 {
                .item#{$i} {
                       position: relative;
                       color: #78747B;
                       background: image-url('homepage/directions-icons/#{$i}.png') center 28px no-repeat;
                }
                .item#{$i}:hover {
                       color: white;
                       font-weight: bold;
                       background: #0094D4 image-url('homepage/directions-icons/#{$i}_hover.png') center 28px no-repeat; 
                }
            }
            .caption {
                position: absolute;
                left: 0px;
                bottom: 28px;
                text-align: center;
                width: 100%;
                font-size: 18px;
            }
            
            a {
                @extend .inline-block;
                width: 142px;
                height: 160px;
                padding: 28px;
                margin: 0 auto;
            }
         }
  }


#slider{ 
    width:100%;
    margin: 0 auto;
    margin-top: -16px;
    
    #slider-left-block{
        @include inline-block;
        background: image-url("homepage/shadow.png");
        background-position: right center;
        background-repeat: no-repeat;
        height: 592px;
        float: left;
        width: 305px;
        #navigation-whois {
            font-family:'PT Sans';
            letter-spacing: 1px;
            display: block;
            text-align: center;
            width:238px; 
            margin-top: 66px;
            margin-right: 23px;
            margin-left: 44px;
            margin-bottom: 40px;
            li {
                  text-transform: uppercase;
                  text-decoration: none !important;

                  a {
                      color: #78747B;
                      display: block;
                      width: 238px;
                      height: 107px;
                      vertical-align: middle;
                      line-height: 107px;
                      text-decoration: none;
                  }

                  &.active {
                    background: #5D9FC9;
                    text-decoration: underline;

                    a {
                      color: white;
                    }

                    &:after {
                      height: image-height('homepage/slider-nav-arrow.png');
                      background: image-url('homepage/slider-nav-arrow.png') center no-repeat;
                    }
                }

                &:hover {
                        background: #bbd6dc;
                }
                
              }




             /* &.active {
                @include border-radius(10px);
                @include box-shadow(2px 2px 5px -2px black inset);
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  left: 10px;
                  top: 52px;
                  left: 0;
                  right: 0;
                }
              }*/
            }
    }
        #slider-right-block{
            margin-left: 305px;
            padding-top: 40px;
            padding-right: 38px;
            padding-left: 8px;
            &>.note {
	          color: white;
	          top: 0px;
	          left: 23px;
	          position: relative;
	          height: 516px;
	          width: 98%;
	          @include inline-block;
	          background: #5d9fc9;
	          border-radius: 3px;
	          margin: 0 auto;
	          @include box-shadow(0 35px 46px -41px black);

	          .image {
	            height: image-height('note-left-image-0.png');
	            width: image-width('note-left-image-0.png');
	            background: image-url('note-left-image-0.png');
	            position: absolute;
	          }
	            
	
	          .text {
	            display: none;
	            padding: 36px;
	            padding-right: 90px;
	            padding-left: 45px;
	            line-height: 1.5em;
	            
	          }
	
	          .text-0 {
	            display: block;
	          }
	          .slide-header{
	                font-family: 'PT Sans';             
	          }
	          .slide-benefits{
	                font-family: 'PT Sans';
	                text-transform: uppercase;
	                margin: 30px auto 0px auto;
	                font-size: 24px;
	                font-weight: bold;
	          }
	          
	          .slide-list
	          {
	            margin-top: 40px;
                width: 100%;
	            
	            .vertical-spacer,
	            .item-note,
                .note {
	               @include inline-block;
	            }
	            
	            .vertical-spacer {
	               height: 80px;
                   width: 5px
	            }
	            
	            .item {
	               width: 180px;
	               text-align: left;
	               line-height: 1em;
	               padding-left: 50px;
	               text-align: left;
	               padding-left: image-width('homepage/1.png') + 20px;
	               margin: 0 auto;
	               
	               .note {
	                   @include inline-block;
	                   width: 170px;
	               }
	            }
	            
	            @for $i from 1 through 4 {
				  .item-#{$i} {
				    background: image-url('homepage/#{$i}.png') left center no-repeat;
                    height: image-height('homepage/#{$i}.png') + 20px;
				  }
				}
	            
	            td {
	               padding-top: 20px;
	               text-align: center;
	               vertical-align: middle;
	            }
              }
           }
        }
    }
}
.list-carousel {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 100;
  margin-top:60px;
}

#footer {
	.footer-inner {
		@include box-shadow(0 0 8px 0 black);       
		background-color: #cbe3ea;	
	}
}
