@import "compass/css3";
@import "conf";
@import "mixins";
@import "fonts";
@import "traverse";


#root {
  //@include top-spacer-with-menu();
  background: #053559;
  
  .bg {
    background: none;
    @include box-shadow(none);
  }
}

#content,
#header{
	background: $main-color-1;
	@include box-shadow(0 0 8px 0 black);
}

#header {
    height: 198px;
    
    .line-top,
    .line-bottom {
        width: 100%;
        height: 1px;
        background: white;
    }
    
    .line-top {
        background: radial-gradient(#004664, #CBE3EA 80%, #CBE3EA 100%);
    }
    
    .line-bottom {
        background: radial-gradient(#FFFFFF, #CBE3EA 80%, #CBE3EA 100%);
    }
    
    .bottom {
        margin-top: 26px;
    }
}

.messages-bg{
    background: #053559;
    width:100%;
    .messages-other{
        @include box-shadow(-1px 0px 12px -3px black inset, -22px 0px 0px #053559, 22px 0px 0px #053559);
        @extend #messages;
        font-family: "Arial";
        width: 99%;
        padding: 0px;
        h1{
            font-family: 'PT Sans';
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: white;
            padding: 20px;
        }
    }
}

#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0px 0px 0px;
  
  @include liquid-column-and-sidebar(237px,
                                  "left",
                                  "column",
                                  "sidebar",
                                  "content-inner",
                                  15px);

  .sidebar {
    .content {
      
      @include direct-links($list-item-height);
      
      h2.title {
        display: none;
      }
      
      ul {
        background: #053559;
        li {
          line-height: 47px;
          
          a {
            display: block;
            width: 100%;
            color: #01355b;
            line-height: inherit;
            text-decoration: none;
            font-weight: normal;
          }
          &.active{
            a{
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
          }
          &.active:hover{
            a{
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
          }
          &:hover{
                cursor: pointer;
                a{
                    color:  #0094d4;
                }
          }
        }
      }
    }//.sidebar.content
    
   .statistics {
      .statistics-inner {
        padding: 10px;
        position: relative;
      
        table {
          color: #35607d;
          font-size: 0.7em;
          width: 100%;
          border-collapse: collapse;
          border-spacing: 2px;
          *border-collapse: expression('separate', cellSpacing = '2px');              
          
          th {
            font-weight: bold;
            height: 36px;
          }
          
          th,
          td {
            text-align: center;            
          }

          td:first-child {
            text-align: left;
          }
          
          th,
          td:first-child {
            line-height: 27px;
            background: none;
          }

          thead{
              border-bottom: 1px solid #35607d;
          }
          
          tfoot{
              font-size:14px;
              
              a{
                  color: #35607d;
                  text-decoration: underline;
              }
              a:hover{
                  text-decoration: underline;
              }
              a:visited{
                  color: #35607d;
                  text-decoration: none;    
              }
              td:first-child {
                  text-align: right;
              }
          }
          
          tbody {        
            td {
                height: 30px;
            }
            
            td:first-child {
              border: none;
              width: 40px;
            }
            
            tr:last-child {
              margin-top: 50px;
            }
          }
        } //table
      } //.statistics-inner
    } //.statistics
  }//.sidebar
  
  .column {
    .tabs {
      @include tabs($list-item-height);
    }
    
    .user-profile{
        position: absolute;
        top: 17px;
        right: 41px;
        
        #user-profile-link{
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: bold;
         }
        .settings-list{
            background: #def0f4;
            list-style: none;
            position: absolute;
            display: none;
            border: 1px solid #65BDE2;
            border-radius: 5px;
            width: 200px;
            right: 0px;
            top: 20px;
            z-index: 100;
            @include box-shadow(0px 0px 5px black);
            .settings-list-item{
                padding-top:1px;
                float: none;
                border-top: 1px solid #38a8d0;
                .settings-list-link{
                    display: block;
                    font-size: 12px;
                    padding: 5px 14px;
                    color: #144062;
                    &:hover{
                        text-decoration: none;
                        color: #65BDE2;
                    }
                }
                &:first-child{
                    border-top: none;
                }
            }
            
        }
    }
    
    .inner {
      //background: #B0D7E2;
      padding: 10px;
      
      @include navigation-third-level();
      
      .navigation-fourth-level {
        border: 1px solid #3B7495;
        border-bottom: 1px solid #9BCCEE;
        border-right: 1px solid #9BCCEE;
      
		padding: 14px;
        width: 520px;
          
          li {
            @include inline-block;
            margin-bottom: 10px;
            margin-right: 50px;
            
            a {
              color: black;
              text-decoration: underline;
              font-family: 'Open Sans' !important;
              font-size: 12px;
            }
          }
          
          li.active {
            a {
              color: white;
              text-decoration: none;
            }
          }
          
          margin-bottom: 20px;
      }
      
      .breadcrumbs {
        a,
        span {
          color: black;
          font-size: 0.8em;
        }
        
        a {          
          text-decoration: underline;
        }
        
        margin-bottom: 20px;
      }
    }
  }  
  
  .content-inner {
    padding-bottom: 18px;
  } //.content-inner
} //#content

#scroll-up{
  cursor: pointer;
  position: fixed; 
  z-index: 9999; 
  bottom: 0%; 
  right: 0%;
  background-color: #7db9e8; 
  opacity: .3; 
  color: #fff; 
  padding: 10px; 
  margin: 5px 15px 15px 5px; 
  border-radius: 3px;
}
#scroll-up span{
  font-size: 20px;
}
#scroll-up:hover{
  opacity: .8;
}
#scroll-up:active{
  opacity: 1  ;
}

.actions {
	text-align: right;
}
#footer{
    padding-right: 9px;
}