@import "compass/layout.scss";
@import "compass/reset.scss";
@import "compass/utilities/sprites/base";
@import "fonts";
@import "compass/css3";
@import "conf";
@import "mixins";
@import "traverse";
@import "homepage/social-icons/*.png";
@include all-social-icons-sprites;

@include sticky-footer(72px, "#root", "#root_footer", "#footer");

/** Icons **/
$icons-layout:smart;
$icons-spacing: 5px;
$icons-sprite-base-class: ".icons";
$icons-sprite-dimensions: true;
$icons-play-spacing: 10px;

@import "icons/*.png";
@include all-icons-sprites;


/** Некоторые иконки являются сслыками <a href="" ... **/
.icons {
    display: block;
}
/** Icons end **/
.hidden {
    display: none;
}

html,
body {
    min-width: 1000px;
    font-family: 'PT Sans' !important;
}

body{
    & a {
        text-decoration: underline;
        color: $main-text-color-second;
    }
    //& a:hover {
    //    text-decoration: underline;
    //}
}

#root {
    position: relative;
    padding-left: $page-margin;
    padding-right: $page-margin;
    background: #053559;
    
    .bg {
        position: relative;
        display: block;
        background: $main-color-1;
        margin: 0 auto;
        @include box-shadow(0 0 8px 0 black);
        @include min-max-page-width;
    }    
}

#header {
    position: relative;
    
    .language {
        @include inline-block;
        margin-left: 30px;
        
        &>a {
            margin-right: 3px;
            @include inline-block;
        }
    }
    
    .social-buttons {
        position: relative;
        right: 14px;
        float: right;
        a{
            @include inline-block;
            margin-right: 3px;
        }
    } 
    .social-icons-sprite
    {
        width: 21px;
        height: 21px;
    }
    
    
    .navigation {
        color: white;
        text-transform: uppercase;
        padding: 0;
        color: $main-text-color;
        @include inline-block;
        background: none;
        border: none;
        font-size: 0.95em;
        margin-left: 10px;
        
        a {
            color: $main-text-color;
        }
        
        ul {
            background: $navigation-bg;
            color: white;
            margin-top: 32px;
        }
        
        li {
            cursor: pointer;
            line-height: 32px;
            font-weight: bold;
            padding: 0 10px;
            width: auto;
            border-bottom: 1px solid gray;
            font-weight: normal !important;
            margin: 0px !important;
            
            a {
                background: none;
                border: none;
            }
        }
        
        >li {
            @include inline-block;
            border-bottom: none;
        }
    } 
}

#header {
    position: relative;
    
    .logo-bitarget {
        position: absolute;
        width: image-width($logo-bitarget-filename);
        height: image-height($logo-bitarget-filename);
        background: image-url($logo-bitarget-filename);
        left: 21px;
        top: 15px;
        z-index: 500;
    }
    
    >.note {
        color: $main-text-color;
        position: absolute;
        left: 290px;
        top: 17px;
        line-height: 1.1em;
    }
    
    >.info {
        position: absolute;
        left: 266px;
        width: 500px;
        margin-top: 11px;
        @extend .t-info-text;
        
        .notice-text {
            float: left;
            color: #0094D6;
        }
        
        .notice-value {
            color: $main-text-color;
            font-weight: bold;
            
            &.money{
                display: inline-block;
                a{
                    color: $main-text-color;
                    text-decoration: underline;
                }
            }
        }
        
        .icon-ruble {
            display: inline-block;
            margin-left: 5px;
            width: image-width($ruble-header-filename);
            height: image-height($ruble-header-filename);
            line-height: image-height($ruble-header-filename);
            background: image-url($ruble-header-filename);
        }
    }         
    
    &>.registration {
        text-align: center;
        height: 115px;
        margin-right: 130px;
        
        >div {
            z-index: 10;          
        }
        
        .logout {
            position: absolute;
            right: 16px;
            top: 17px;
            
            .row {
                @include inline-block;
                text-align: right;
                margin-top: 0px;
                
                .entered-notice {
                    color: $main-text-color;
                    
                    .entered-username {
                        color: $main-text-color;
                        font-weight: bold;
                        text-decoration: underline;
                    }           
                }
                
                input[type="submit"] {
                    margin-top:7px;
                    padding: 3px 10px;
                }
            }           
        }        
        
        //Форма входа
        .login {
            position: absolute;
            right: 16px;
            top: 17px;
            .login-links {
                color: #053559;
                font-size: 14px;
            }
            &>span{
                margin:0 5px;
            }
            
            /*            * размеры поля ввода логина/пароля *
                $input-height: 25px;
                $input-width: 150px;
                
                * размеры кнопки отправки и регистрации *
                $submit-height: 25px;
                $submit-width: 121px;
                
                #login,
                #password {          
                position: absolute;
                background: transparent;
                border: none;
                width: $input-width;
                height: $input-height;
                }
                
                #login,
                #password,
                .for-login,
                .for-password {
                color: $form-input-text-color;
                font-size: 0.9em;
                text-indent: 11px;            
                }          
                
                .for-login,
                .for-password {
                border-top: 1px solid gray;
                border-left: 1px solid gray;
                border-bottom: 1px solid white;
                border-right: 1px solid white;
                
                position: absolute;
                background: $main-color-1;
                width: $input-width;
                height: $input-height - 5px;                    
                text-align: left;
                padding-top: 5px;
                }
                
                #password,
                .for-password {
                top: 32px;
                }
                
                .password-forgot {
                position: relative;
                top: 60px;
                left: 72px;
                color: $form-input-text-color;
                font-size: 0.8em;
                text-decoration: underline;            
                }
                
                #rememeber-me {
                position: absolute;
                top: 61px;
                }
                
                .for-remember-me {
                position: relative;
                color: $form-input-text-color;
                font-size: 0.75em;
                top: 61px;
                left: 21px;           
                }
                
                .registration {
                top: -1px;
                position: absolute;
                left: 154px;
                padding-right: 3px;
                width: $submit-width - 3px;
                height: $input-height - 4px;
                padding-top: 7px;
                font-size: 0.7em;
                font-weight: bold;
                text-transform: uppercase;
                color: black;
                }
                
                input[type="submit"] {
                position: absolute;
                left: 154px;
                top: 31px;
                width: $submit-width + 1;
                height: $input-height + 4;
                line-height: $input-height + 3;
                padding-bottom: 4px;
                border: none;
                text-transform: uppercase;
                font-size: 0.7em;
                font-weight: bold;            
                }
                
                input[type="submit"]:hover {
                cursor: pointer;
                text-decoration: underline;
                }
                
                .registration,
                input[type="submit"] {
                background: #082E52;
                text-align: center;
                color: white;
                border-left: 1px solid white;
                border-top: 1px solid white;
            }*/
        }
    }  
}

#content {
    position: relative;
    z-index: 100;
    
    >.description-wrapper {
        width: 98%;
        margin: 0 auto;    
    }
    
    >.sidebar {
        ul {      
            li {
                background-color: #cbe3ea;
                background-image: image-url("sidebar_menu_border.jpg");
                background-repeat: no-repeat;
                
                text-align: right;
            }
            li.active {
                @include box-shadow(-1px 0px 12px -3px black inset, -22px 0px 0px #053559);
                background: #0094d4;
                position: relative;
                margin-left: 8px;
                
                /*&:after {
                    content: "";
                    width: image-width('directions_nav_triangle.png');
                    height: image-height('directions_nav_triangle.png');
                    background: image-url('directions_nav_triangle.png');
                    position: absolute;
                    right: -25px;
                    top: 6px;
                }*/
            }
        }
    }
    
    .direction-description
    {
        padding: 60px;
        line-height: 1.4em; 
    }
    >.description-wrapper,
    >.content-inner .column .inner {
        h1 {
            font-size: 1.3em;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 25px;
            color: #053559;
        }
        
        h2 {
            font-size: 1em;
            font-weight: bold;
        }
        
        p {
            margin: 25px 0px;
            font-family: 'PT Sans';
            font-size: 14px;
        }
        
        &.wm {
            background: $direct-tab-1-color;
            box-shadow: 0 0 0px 1px #336D8B inset;
        }
        
        &.opt {
            background: $direct-tab-2-color;
            box-shadow: 0 0 2px 1px darken($direct-tab-2-color, 15%) inset;
        }
        
        .description {
            padding: 5px 40px 50px 40px;
            line-height: 1.3em;
        }
    }
    
    textarea {
        resize: vertical;
    }
}

#footer {
    margin: 0 auto;
    text-align: center;
    color: #053559;
    font-family: 'PT Sans';
    max-width: 1600px;
    min-width: 980px;
    height: 72px !important;
    clear: both;
    position: relative;
    padding-left: 10px;
    padding-right: 4px;
    z-index: 100;
    .footer-inner {
        height: 100%;
    }
    
    .copyright {
        margin-top: 30px;
        display: inline-block;
        color: $direct-tab-3-color;     
    }
    
    .logo-prostep {
        color: $footer-text-color;
        width: 257px;
        height: image-size('logo-prostep.png');
        line-height: 50px;
        position: absolute;
        right: 50px;
        bottom: 7px;
        background: image-url('logo-prostep.png') no-repeat right bottom;
        text-align: left;
    }
    
    .pay-systems {
        position: absolute;
        left: 39px;
        top: 15px;
        
        li {
            @include inline-block;
            margin-right: 1px;
            
            a {
                border-radius: 2px;
            }
        }
    }
}

.clearfix {
    clear: both;
}

h1 {
    color: #0094D3;
    font-size: 1.3em;
}
.ui-datepicker{
    .ui-datepicker-calendar{
        .ui-state-default{
            background: none;
        }
    }
}
/*Стилизация checkboxes*/
.custom_checkbox{
    @include inline-block;
    @include icons-sprite(checkbox_disabled);
}
.custom_checkbox_active{
    @include icons-sprite(checkbox_enabled); 
}
/*Стилизация radio*/
.custom_radio{
    @include inline-block;	
    @include icons-sprite(radio_disabled);
}
.custom_radio_active{
    @include icons-sprite(radio_enabled); 
}