img {
  vertical-align: middle !important;
  padding: 10px !important;
}

.image-wrapper,
.help-attention {
  padding: 20px;
  border: 2px solid #08355A;
  font-weight: bold;
  background: white;

  img {
    margin: 20px;
  }

  img.full-width {
    width: 95%;
  }
}

.image-wrapper {
  margin: 10px;
}

span.middle {
  vertical-align: middle;
}

span.image-description {
  margin-left: 50px;
  font-style: italic;
}

b {
  font-weight: bold !important;
}

.enumeration {
  line-height: 22px;
}

ol {
  list-style: decimal !important;
  list-style-position: inside !important;
  font-weight: bold !important;

  li span {
    font-weight: normal;
  }
}

ol.clarification {
  list-style: none !important;
  font-weight: normal !important;

  li {
    margin-top: 10px;
    padding-left: image-width('digits/1.png') + 5px;
    background-repeat: no-repeat;
  }

  li:first-child {
    background-image: image-url('digits/1.png');
  }

  li:first-child + li {
    background-image: image-url('digits/2.png');
  }

  li:first-child + li + li {
    background-image: image-url('digits/3.png');
  }

  li:first-child + li + li + li {
    background-image: image-url('digits/4.png');
  }

  li:first-child + li + li + li + li {
    background-image: image-url('digits/5.png');
  }

  li:first-child + li + li + li + li + li {
    background-image: image-url('digits/6.png');
  }

  li:first-child + li + li + li + li + li + li {
    background-image: image-url('digits/7.png');
  }

  li:first-child + li + li + li + li + li + li + li {
    background-image: image-url('digits/8.png');
  }

  li:first-child + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/9.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/10.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/11.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/12.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/13.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/14.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/15.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/16.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/17.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/18.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/19.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/20.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/21.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/22.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/23.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/24.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/25.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/26.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/27.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/28.png');
  }

  li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li {
    background-image: image-url('digits/29.png');
  }
}