/*
    Document   : modal
    Created on : 03.09.2013, 18:17:09
    Author     : fintroll
    Description:
    Purpose of the stylesheet follows.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#paulund_modal_box{
    position: relative; 
    left: 30px; 
    top: 20px;  
    width: 652px; 
    border: 1px solid rgb(255, 255, 255); 
    box-shadow: rgb(41, 41, 41) 0px 2px 7px;
    -webkit-box-shadow: rgb(41, 41, 41) 0px 2px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    background-color: #CBE3EA; 
    z-index: 50;
    display: none;
    .row{
        margin: 22px auto;
    }
    .notice{
        display: none;
        padding: 5px 0;
            &>.notice-text{
            font-size:1.2em;
            font-weight: bold;
        }
    }
    input{
        float: none;
    }
}
		
.modal_close{
    position: absolute; 
    top: 3px; 
    right: 3px;  
    display: block; 
    height: 14px; 
    width: 14px; 
    background-image: image-url('modal_close.png');
        z-index:50000;
}
.main-form{
    width:250px;
    margin:0 auto;
}

input[type="text"]{
    height: 20px;
}

.modal-header
{
    h2{
       color: #0495D4;
       text-align: center; 
    }
}





							
						
