
@import "compass/css3";
@import "conf";
@import "mixins";

#content {
    padding: 20px;
}

#fresh_news h1, #tags h1{
    color: #0495d4;
    font: arial;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    line-height: 90%;
    
}

#fresh_news h1{
    background: #e8f5f6;
}
    
#fresh_news_container{
    margin-top: 20px;
    height: 260px;
    
    div.cell_container{
        display: inline-block;
        width: 31%;
        height: 100%;
        line-height:14px;
        letter-spacing: 0px;
        word-spacing: 0px;
        vertical-align: top;
        padding-right: 2%;
        background: image-url("homepage/shadow.png");
        background-position: right center;
        background-repeat: no-repeat;
        &:last-child{
            background: none;
        }
        
        div.logo{
            position: relative;
            height: 0px;
                
            div.logo_container{
                width: image-width('news-image-bg.png');
                height: image-height('news-image-bg.png');
                //background: image-url('news-image-bg.png');
                background-repeat: no-repeat;
                position: absolute;
                right: 28px;
                top: 9px;
                
                a {
                    width: 100%;
                    height: 100%;
                    
                    img{
                        position: relative;
                        top: 5px;
                        left: 15px;
                        width: 100px;
                        height: 67px;
                    }
                }
                
            }
            
        }
        
        div.new_cell{
            display: block;
            padding: 16px 15px;
            height: 90%;
            overflow: hidden;
            
            div.update{
                width: 100px;
                background: #04355b;
                color: #ffffff;
                text-align: center;
                padding-top: 4px;
                padding-bottom: 3px;
                border-radius: 5px;
                font-size: 10pt;
            }
            
            div.label{
                margin-top: 18px;
                width: 50%;
                font-size: 22px;
                line-height: 100%;
                text-align: left;
                
                a, a:hover, a:active, a:link, a:visited{
                    font-weight: bold;
                    color: #053559;
                }
            }
            
            div.teaser{
                font-size: 10pt;
                margin-top: 22px;
                color: #fff;
                text-align: justify;
                line-height: 14px;
            }
        }
    }
}

#fresh_news #fresh_news_container .cell_container {
	width: 23%;
}

#tags_news{
    margin-top: 10px;
    
    #tags{
        display: inline-block;
        width: 246px;
        float: left;
        
        #tags_list{
            margin-top: 12px;
            margin-left: 6px;
            
            div.tag_name{
                margin-top: 10px;
                a, a:hover, a:active, a:link, a:visited{
                    font-size: 12pt;
                    color: #000000;
                    text-decoration: underline;
                    
                }
                
                
            }
            #selected{
                a, a:hover, a:active, a:link, a:visited{
                    font-size: 12pt;
                    color: #0495d4;
                    text-decoration: none;
                    font-weight: bold;
                 }
                    
            }
        }
        
        #ad240200{
            margin-left: 3px;
            margin-top: 30px;
            width: image-width('reklama240x200.jpg');
            height: image-height('reklama240x200.jpg');
            background: image-url('reklama240x200.jpg');
            
        }
        
        #ad240300{
            margin-left: 3px;
            margin-top: 14px;
            width: image-width('reklama240x300.jpg');
            height: image-height('reklama240x300.jpg');
            background: image-url('reklama240x300.jpg');
        }
    }
    
    #news{
        min-height: 846px;

        h3{
            font-size: 12pt;
            color: #0495d4;
            text-decoration: none;
            font-weight: bold;
            
            padding: 10px 12px;
            
            
        }
        #blue_container{
            padding: 10px;
            min-height: 155px;
            
            div.news_header{
                    padding-top: 3px;
                    margin-bottom: 15px;
                    a, a:hover, a:active, a:link, a:visited{
                        font-size: 14pt;
                        color: black;
                        font-weight: bold;
                    }
                }
            
            div.data_logo_container{
                width: 146px;
/*                height: 136px;*/
                float: left;
                margin-right: 26px;
                
                div.data_container{
                    background: #04355b;
                    color: #ffffff;
                    text-align: center;
                    padding-top: 4px;
                    padding-bottom: 3px;
                    border-radius: 5px;
                    font-size: 10pt;
                }
                
                div.news_logo_container{
                    width: image-width('news_bg.png');
                    height: image-height('news_bg.png');
                    background: image-url('news_bg.png');
                    background-repeat: no-repeat;
                    position: relative;
                    
                    img.news_logo{
                        position: absolute;
                        width: 134px;
                        height: 89px;
                        left: 6px;
                        top: 6px;
                    }
                }
            }
            div.news_container_big{
                
                margin-bottom: 20px;
                
                
                
                div.news_text{
                    text-align: justify;
                    margin-top: 17px;
                    font-size: 11pt;
                    line-height: 1.2;
                }
                
                .data_container{
                    color: #0495d4;
                    font-style: italic;
                }
            }
            
        }
    }
}

#to_up_page{
    text-align: right;
    padding-top: 5px;
    color: #003659;
    font-size: 20pt;
    a, a:hover, a:active, a:link, a:visited {
        font-size: 11pt;
        color: #003659;
        
    }
}

