@import "mixins";
@import "compass/utilities/sprites/base";

$notification-layout:smart;
$notification-spacing: 5px;
$notification-sprite-base-class: ".icons";
$notification-sprite-dimensions: true;
$notification-play-spacing: 10px;
@import "notification/*.png";
@include all-notification-sprites;

#messages {
    padding: 20px 15px 10px 15px;
    text-align: none;
    
    #notifications {
        border: none;
        width: 100%;
        min-height: 40px;
        
        #notification-navicon {
            vertical-align: top;
            .notification-navicon {
                cursor: pointer;
            }
        }

        #notification-items {
            vertical-align: middle;
            text-align: center;
            ul {
                @include inline-block;
                width: 70%;
                    li {
                        text-align: left;
                        margin-bottom: 10px;
                    }
            }
            .notification-item {
                .notification-info,
                .notification-important,
                .notification-admin,
                .notification-hint {
                    @include inline-block;
                }
                
                .notification-text {
                    @include inline-block;
                    padding: 0 20px;
                }
                
                .notification-hide-small {
                    cursor: pointer;
                    @include inline-block;
                }
                
                .notification-hide-big {
                    cursor: pointer;
                    @include inline-block;
                    position: absolute;
                    right: 15px;
                }
            }
        }
        
        #notifications-all {
            text-align: right;
            vertical-align: top;
            padding-bottom: 10px;
            a {
                font-family: 'PT Sans';
                font-size: 1.0em;
                color: white;
                text-decoration: underline;
            }
        }
    }
}