@import "compass/css3";
@import "conf";
/*Переменные*/

/*основной цвет, по умолчанию в макете был #0096D4*/
$paginator_main_color: $footer-text-color;

/*цвет для неактивных элементов*/
$paginator_hidden_color: lighten($paginator_main_color, 40%);

ul.yiiPager {
    font-size:12px;
    border:0;
    margin:0;
    padding:5px;
    line-height:100%;
    display: block;
    text-align: center;
    cursor: default;
}

ul.yiiPager li {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;

    a {
        text-decoration: none;
    }
}

/*Все элементы*/
ul.yiiPager a {
    color: white;
    background: $paginator_main_color;
    padding: 2px 6px;
    border: solid 1px $paginator_main_color;
    font-family: monospace;
    
    &:hover {
        text-decoration: none;
        background-color: $paginator_main_color; 
        @include background-image(radial-gradient(#74cdff, $paginator_main_color));
    }
    
    &:active {
        text-decoration: none;
        background-color: $paginator_main_color; 
        @include background-image(linear-gradient($paginator_main_color, #4070A0));
    }
}

/*Выделенный элемент*/
ul.yiiPager .selected a {
    background: white;
    color: $paginator_main_color;
    cursor: default;
}

/*Неактивный элемент*/
ul.yiiPager .hidden a {
    
    background: $paginator_hidden_color;
    border: solid 1px $paginator_hidden_color;
    cursor: default;
}
