@import "conf";
@import "mixins";
@import "traverse";

#root {
  @include top-spacer-with-menu();
}

#content {
  @include liquid-column-and-sidebar(245px, "right", "column", "sidebar");
  width: 98%;
  margin: 0 auto;
  
  .column {
    @include navigation-third-level();
    border: 1px solid #D4FBFF;
    border-top: 1px solid #84AEB9; 
    border-left: 1px solid #84AEB9;
    background: #B0D7E2;
    
    .navigation-third-level {
      margin: 10px;
    }
    
    h1 {
      color: #0094D3;
      font-size: 1.3em;      
      margin: 10px;      
    }
  }
  
  .user-info {
    margin: 20px;
    margin-left: 244px;
  }
  
  .tabs {
    display: table;
    position: relative;
    
    li {
      @include inline-block;
      display: table-cell;
      width: 96px;
      padding: 1px;
      padding-left: 7px;
      padding-right: 10px;
      height: 100%;
      position: relative;
      text-align: center;
      
      a {
        text-transform: uppercase;
        text-decoration: underline;
        color: black;
        font-size: 0.8em;
      }
      
      &.long-text {
        width: 125px;
      }
      
      &.active {
        border-top: 1px solid #84AEB9; 
        border-left: 1px solid #84AEB9;
        border-right: 1px solid #D4FBFF;
        @include border-radius(5px 5px 0 0);
        background: #B0D7E2;
        position: relative;
        
        a {
          color: #1294D3;
          text-decoration: none;
        }
        
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background: #B0D7E2;
          // background: red;
          left: 0;
          bottom: -2px;
        }
      }
    }
  }
  
  .sidebar {
    .balance-info {
      @extend .t-info-text;
      margin-left: 10px;
    }
    
    .another-links {
      @include direct-links-unactive-link();
      margin: 20px 10px;      
    }
    
    h2 {
      @extend .t-header-2;
      margin: 20px 10px;
    }
    
    .news {
      @include sidebar-list-links();
    }
    
    .direct-links {
      @include direct-links($list-item-height);
      @include t-direct-links-dropdown;
      
      h2 {
        margin: 0;
      }
      
      h2 .arrow {
        display: inline;
      }
    }
  }
}

.profile-note {
  margin-left: 10px;
  font-size: 0.9em;
  width: 400px;
  line-height: 19px;  
}

.ahtung {
  color: red;
}
