@import "conf";
@import "mixins";

.blue_container{
    background-color: #0094D4;
    padding: 20px 15px;
    border: 1px solid #547390;
    
    .grey_container{
        background-color: #cbe3ea;
        padding: 15px 10px;
        border: 1px solid #a5b2b8;
    }
}
.profile-tabs{
    @include profile-tabs($list-item-height);
}
