@import "conf";
@import "mixins";
@import "forms";
@import "buttons";


#root {
    @include top-spacer-with-menu();
}

$main-panel-width: 750px;

#content {
    padding-bottom: 40px;
    
    .content-inner {
        width: $main-panel-width;
        margin: 0 auto;
        float: none;
        padding-bottom: 50px;
        
        & > * {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    h1 {
        @extend .t-header-1;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    
    h1.top-line {
        padding: 0;
        text-align: center;
        color: $form-input-text-color;
        font-size: 0.9em;
        margin-bottom: 50px;
    }
    
    .top-line {
        padding: 0;
        width: 100%;
        line-height: 32px;
        font-size: 0.9em;
        color: $main-text-color-second;
        text-indent: 14px;
        margin-bottom: 20px;  
        .cell {
            display: block;
            float: left;
            color: #0094D3;
            width: 44%;
            margin-left:3%;
            font-style: italic;
            
            &.description {
                font-size: 0.8em;
            }
            
            &:first-child {
                text-indent: 40px;
            }
        }
        
        &.step3 .cell {
            &:first-child {
                background: image-url('adv-circle-blue.png') no-repeat 17px center;
            }
            
            &:first-child + .cell {
                background: image-url('adv-circle-white.png') no-repeat left center;
            }
        }
    }
    
    .registration-first-form form {
        .submit{
            text-align: center;
        }   
        width: 80%;
        
        .cell:first-child {
            width: 300px;
            
            label {
                padding-left: 30px;
                display: block;
                background: red;
                background: image-url('adv-circle-blue.png') no-repeat 8px center;
                
                &.unrequired {
                    background: image-url('adv-circle-white.png') no-repeat 8px center;
                }
            }
        }
        
        .cell {
            width: 49% !important;
            @include inline-block;
        }
        
        input[type="submit"]{
            @extend .registration-submit-button-leave;
            line-height: 1px;
            height: 32px;
            //float: right;
            margin-right: 10px;
            margin-left: auto;
        }
        span{
            input[type="radio"]{
                margin-left: 25px;
            }
        }
    }
    
    .registration-second-step1 {
        
        .cell.description {
            padding-left: 30px;
        }
        .cell {
            width: 100% !important;
            label{
                font-weight: normal;
            }
        }
        input[type="submit"]{
            @extend .registration-submit-button-leave;
            line-height: 1px;
            height: 32px;
            float: right;
            margin:0;
        }  
    }
    
    .registration-second-step2 {
        label {
            line-height: 30px;
        }
        .cell:first-child {
            width: 300px;
            @include inline-block;
            label{
                font-weight: normal;
            }
        }
        .cell.description {
            padding-left: 10px;
            width: 395px;
            @include inline-block;
            color: #0094D3;
            font-style: italic;
            letter-spacing: 1px;
            font-size:12px;
        }
        input[type="submit"]{
            @extend .registration-submit-button-leave;
            line-height: 1px;
            height: 32px;
            float: right;
            margin:0;
        }
    }
    
    .registration-second-step3 {
        .cell:first-child {
            width: 300px;
            
            label {
                padding-left: 30px;
                display: block;
                background: red;
                background: image-url('adv-circle-blue.png') no-repeat 8px center;
                
                &.unrequired {
                    background: image-url('adv-circle-white.png') no-repeat 8px center;
                }
            }
        }
        
        .cell input[type="text"] {
            width: 330px;
        }
        
        .cell {
            width: 49% !important;
            @include inline-block;
        }
        
        input[type="submit"]{
            @extend .registration-submit-button-leave;
            line-height: 1px;
            height: 32px;
            float: right;
            margin:0;
        }
        span{
            input[type="radio"]{
                margin-left: 25px;
            }
        }
    }
    
    .registration-second-step4 {
        .cell:first-child + .cell {
            padding: 3px;
            border: 1px solid #cbe3ea;
            outline: 1px solid white;
            background: white;
        }
        input[type="submit"]{
            @extend .registration-submit-button-leave;
            line-height: 1px;
            height: 32px;
            float: right;
            margin:0;
        }  
        .cell {
            @include inline-block;
            width: 35%;
            
            text-align: justify;
            &:first-child{
                width: 63% !important;
            }
            &.description {
                font-size: 0.8em;
            }
        }
    }
    
    .registration-second-step4-user-info{
        @extend .registration-second-step4;
        margin: 0 auto;
        .disabled{
            color: $main-text-color;
        }
        tr{
            height: 35px;
            td{
                input:disabled{
                    @extend .disabled;
                }
            }
        }
    }
    
    
    
    form {
        margin: 0 auto;
        
        h1 {
            font-weight: bold;
        }
        
        .row {
            margin: 10px 0;
            a{
                height: 24px !important;
            }
        }
        
        label {
            font-weight: bold;
        }
        
        .cell:first-child,
        .errors {
            width: 200px;
        }
        
        .errorMessage {
            color: red;
            font-size: 0.7em;
        }
        
        .error,
        .errorMessage {
            
        }
        
        input.error,
        input.error-second {
            outline: 1px solid red;
        }
        
        .submit-button {
            font-size: 1em;
        }
    }
}

#registration-second-navigation {
    width: $main-panel-width;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: default;
    li.registration-second-navigation-li{
        @extend .registration-submit-button-base;
        cursor: default;
        &.current{
            @extend .registration-submit-button-active-base;
        }
    }
    
    .submit-button {
        position: relative;
        margin-right: 25px;
        margin-left: 25px;
        width: 100px;
        @include inline-block;
        padding: 4px;
        
        &:after {
            content: "►";
            position: absolute;
            right: -38px;
            color: #0094D3;
        }
        
        &.last-child {
            &:after {
                content: "";
            }
        }
    }
}

/** Buttons **/

.submit-button-fixed-width {
    width: 170px;
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin: 0 auto;
    padding: 9px;
}

.submit-button-dark {
    @extend .registration-submit-button-leave;
    
    margin-bottom: 20px;
    margin-left: 4px;
    width: 196px !important;
}

.submit-button-light {
    @extend .registration-submit-button-leave;
}

/** Login form **/

.login-form {
    text-align: center;
    
    .row .centered {
        
        label {
            text-align: left;
            @include inline-block;
        }
        
        a {
            color: $main-text-color-second;
            text-decoration: underline; 
        }
        
        input{
            float: none;
        }
        .left{
            label{
                width:17px;
            }
            text-align: left;
            
        }
    }
    
    label {
        @extend .form-fixed-width-blue-label;
    }
    
    .row {
        margin-top: 17px !important;
        margin-bottom: 17px !important;
        
    }
    
    .row.rememberMe {
        .centered {
            width: 330px;
            margin: 0 auto;
        }
        
        .left,
        .right {
            width: 50%;
        }
        
        .left {
            float: left;
            
            input,
            label {
                vertical-align: middle;
            }
        }
        
        .right {
            float: right;
            margin-top: 8px;
        }
    }
}

.form-fixed-width-blue-label {
    color: $main-text-color-second;
    font-weight: normal !important;
    width: 140px;
}

.terms {
    width: 715px;
    height: 430px;
    border: 1px #000 solid;
}
