@import "compass/css3";
@import "traverse";

/*variables*/
$sub_table_header_color : #BEDAE4;
$sub_table_odd_color : #DFECF5;
$sub_table_even_color : #AECFE1;
$sub_table_empty_color : #DFECF5;
$error_color: #fa6466;
$description_color: #5291ce;

.datatable_header{
    width: 100%;
    
    color: #32525F;
    font-size: 0.9em;
    text-shadow: 1px 1px 0 white;
    box-shadow: 0 0 2px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    tr.odd td {
        background: #D5EAEA;
    }
    
    tr.even td {
        background: #F4F9F9;
    }
    
    & > thead tr {
        height: 40px;
        
        td,
        th {
            background: $sub_table_header_color;
        }
    }
    
    th,
    td {
        padding: 5px;
    }
}

.datatable {
    @extend .datatable_header;
    
    td.empty {
        background: $sub_table_empty_color;
    }
        
    th,
    td {
        text-align: center;
    }
    
    & > tr:hover {
        background: #DAE9EE;
    }
    
    
    & > thead {
        tr:first-child th:first-child,
        tr:first-child td:first-child {
            border-top-left-radius: 3px;
        }
        
        tr:first-child th:last-child,
        tr:first-child td:last-child {
            border-top-right-radius: 3px;
        }
    }
    
    & > tbody {
        tr:last-child td:first-child {
            border-bottom-left-radius: 3px;
        }
        
        tr:last-child td:last-child {
            border-bottom-right-radius: 3px;
        }
        
        tr.l2 td:first-child + td {
            
            .toggle {
                margin-left: 10px;
            }
        }
        
        tr.header {
            td {
                background: $sub_table_header_color;
                padding: 15px;
            }
            
            td:first-child {
                background: none;
            }
        }
    }
}

.datatable-simple {
    @extend .datatable;
    width: 100%;
    
    td:first-child {
        text-align: left;
    }
}

.datatable-simple-word-wrap {
    @extend .datatable-simple;
    
    table-layout: fixed;
    
    td,
    th {
        word-wrap: break-word;
    }
}

.datatable-simple-collapse {
    @extend .datatable-simple;

    .toggle {
      text-decoration: none;
    }

    table-layout: fixed;
    
    td.empty {
        background: $sub_table_empty_color;
    }
    
    td:first-child {
        width: 5px;
    }
    
    td:last-child {
        width: 5px;
    }  
    
    tr td:first-child + td {
        text-align: left;
        
        .toggle,
        .name-wrapper {
            @extend .inline-block;
        }
    }  
    
    tr.l2.odd td,
    table tr.odd td{
        background: $sub_table_odd_color;
    }
    
    tr.l2.even td,
    table tr.even td{
        background: $sub_table_even_color;
    }
    
    tr.l2 {
        margin-left: 20px;
    }
    
    tr.l2 td:first-child,
    tr.l2 td:last-child,
    tr.header td:first-child,
    tr.header td:last-child {
        background: none;
    }
    
    tr.l2 td:first-child + td,
    tr.header td:first-child + td {
        @include box-shadow(-18px 0 0 0 $main-color-1);
        border-left: 1px solid gray;
    }
    
    .last-visible-cell {
        @include box-shadow(18px 0 0 0 $main-color-1);
        border-right: 1px solid gray;
    }    
    
    .toggle {
        font-family: monospace;
        background: #BEDAE5;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
        
        &.unactive {
            color: gray;
            cursor: default;
        }
    }

    table {
      width: 100%;
    }
}

.datatable-simple-collapse-fixed-opt-places {
    @extend .datatable-simple-collapse;
    
}

.datatable-simple-collapse-fixed-wm-places {
    @extend .datatable-simple-collapse-fixed-opt-places;
}

.datatadble-simple-collpase-profile {
    @extend .datatable-simple-collapse;
}

.datamultytable_collapse{
    @extend .datatable_header;
    
    table-layout: fixed;
    
    th,
    td {
        text-align: left;
        
        .send_form_submit_button{
            text-shadow: none;
            font-size: 12px;
            &:hover{
                text-decoration: none;
            }
        }
    }
    
    th.hidden_left, th.hidden_right{
        width: 10px;
        padding: 0;
    }
    
    tbody tr{
        height: 34px;
        td.hidden_left, td.hidden_right{
            width: 10px;
            padding: 0;
        }
    }
    
    tbody tr.hidden_row{
        td.hidden_left, td.hidden_right{  
            background: none;
            width: 10px;
        }
        
        
        
        td.hidden_left {
            @include box-shadow(-5px 0 0 0 #CBE3EA);
            border-right: 1px solid gray;
            border-left: none;
            
        }
        
        td.hidden_right {
            @include box-shadow(5px 0 0 0 #CBE3EA);
            border-left: 1px solid gray;
            border-right: none;
        }
        
        td.sub_table_container{
            padding: 0;
            
            table.colapse_sub_table{
                width:100%;
                
                thead{
                    tr{
                        background-color: $sub_table_header_color;
                        border-bottom:1px solid $sub_table_odd_color;
                    }
                }
                
                tbody{
                    tr.document_data{
                        background-color: $sub_table_odd_color;
                        
                        td:last-child{
                            background-color: $sub_table_even_color;
                            text-align: center;
                            padding: 0;
                            padding-top: 6px;
                            width: 55px;
                            
                        }
                    }
                    
                    tr.document_discription{
                        
                        background-color: $sub_table_even_color;
                        
                        .image_form_container{
                            width: 165px;
                            
                            .error_text {
                                color: #fa6466;
                                padding-top: 5px;
                                font-style: italic;
                                font-size: .85em;
                                text-shadow: none;
                            }
                            .file_button_div{
                                text-shadow: none;
                            }
                            
                        }
                        td.italic_discription{
                            font-style: italic;
                            text-shadow: none;
                            padding: 20px;
                        }
                        td.italic_error.italic_discription{
                            color: #fa6466; 
                        }
                        td.italic_no_error.italic_discription{
                            color: #5291ce; 
                        }
                    }
                    
                    tr.document_separator{
                        background-color: $sub_table_header_color;
                        height: 12px;
                        
                        border-bottom:1px solid $sub_table_odd_color;
                        border-top:1px solid $sub_table_odd_color;
                        
                    }
                    tr:last-child{
                        display: none;
                    }
                    
                }
            }
        }
    }
    
    
    
}

/*
    * Vertical
    * With cellspacing
    * Without header
*/

.datatable-vert-cellspacing-without-header {
    @extend .datatable;
}

/** Optimizer tables **/

.opt-prj {
    @extend .datatable-simple;
}

/** Webmaster tables **/

.wmsite-pages {
    @extend .datatable-simple-collapse;
}


/** Profile tables **/

.reporting_main_table{
    @extend .datamultytable_collapse;
}

.reporting_sub_table{
    width:100%;
    
    thead{
        tr{
            background-color: $sub_table_header_color;
        }
    }
    
}

.div-with-bg {
  background: $main-color-1;
  padding: 15px;
  margin-bottom: 26px;
}