@import "conf";
@import "mixins";
@import "traverse";

.custom_radio{
    display: none  !important;
}

#add {
    font-family: 'PT Sans';
    background: #cbe3ea;

    h1{
        margin: 0 !important;
        padding-bottom: 20px;
    }

    .flash-error,
    .flash-notice,
    .flash-success {
    padding:.8em;
    margin-bottom:1em;
    font-size: 0.9em;
    border:2px solid #ddd;
    }

    .flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;

        a {
            color: #8a1f11;
            text-decoration: underline; 
        }
    }

    .flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;

        a {
            color: #514721;
            text-decoration: underline; 
        }
    }

    .flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
        a {
            color: #264409;
            text-decoration: underline; 
        }
    }

    #balanceadd-form {
        padding: 0px 20px;

        #systems {
            label,
            input {
                display: none;
            }

            .system-note {
                margin: 0px 0px;
                padding-top: 40px;
                text-align: justify;
            }
        }

        #money {
            padding-top: 50px;
        }

        .row {
            padding-top: 20px;
            text-align: center;

            label {
                font-weight: bold;

                .required {
                    color: red;
                }
            }

            .hint {
                font-size: 0.9em;
                font-style: italic;
            }

            input[type="text"] {
                border: 1px solid #279BD6;
                outline: 1px solid white;
                background: #E8F5F6;
                height: 21px !important;
                @include box-shadow(0px 0px 12px #CBE3EA inset);

                &:focus{
                    background: whitesmoke;
                }
            }

            input[type="submit"]{
                @extend .registration-submit-button-leave;
                line-height: 1px;
                height: 32px;
                margin:0;
            }

            &.error {
                input[type="text"] {
                    outline: 1px solid red;
                    background: #FEE;
                }
            }

            &.success {
                input[type="text"] {
                    outline: 1px solid #C6D880;
                    background: #E6EFC2;
                }
            }
        }
    }
    
    div.payment_container{
        table.payment{
            margin: auto;
            td{
                padding: 5px;
            }
        }

    }
}