@import "conf";
@import "compass/css3";
@import "mixins";
.form-with-bg {
  background: $main-color-1;
  width: 500px; 
  margin-bottom: 26px; 
}

.form-with-border {
  @extend .form-with-bg;
  margin: 0 auto;
}

.form-header{
    color : #32525F;
    text-shadow: 1px 1px 0 white;
     height: 40px;
    line-height: 40px;
    text-align: center;
    background: #B0D7E2;
}

.text-area-bl{
    width:99%;
}

.form-with-border-bl{
@extend .form-with-border;
        width:100%;
}

@include liquid-column-and-sidebar(327px,
                                  "right",
                                  "gbl-left",
                                  "gbl-right",
                                  "blacklist"); 
.blacklist
{
    background: #cbe3ea;
    padding-left:16pt;
    padding-top:10pt;
    width: 98%;
    @include box-shadow(0px 0px 2px 0px);
    @include border-radius(3px);
    margin-top:20px;
    min-height: 1100px;
    
    .group-add {
       @extend .group-remove;
       background: #B0D7E2;
       form {
            padding-bottom: 10px !important;
            width: 90% !important;
            margin: 0 auto !important;
                       label{
                           color: #0094D4;
                           font-style: italic;
                       }
       }
    }  
    
    .group-remove {
        margin-bottom: 10px;
        margin-top: 30px;
        width: 70%;
        input{margin-top:10px;}
        .elements{
            border: 1px solid #ACBCC1;
            form {
                
                padding:0;
                width:100%;
                margin:0;
                ul {
                    li:nth-child(even) {
                        @extend .form-header;
                        padding-left: 10px;
                        background: #B4CFDE;
                        color: #043559;
                        text-align: left;
                    }
                    li:nth-child(odd) {
                        @extend .form-header;
                        padding-left: 10px;
                        background: #E8F5F6;
                        color: #043559;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.gbl-right{
    margin-top: 62px;
    background: #B0D7E2;
    margin-right: -99% !important;
    border: 1px solid #ACBCC1;

    .group-search
    {
        padding: 10px;
        margin-bottom: 10px;
        .row{
             padding-top:10px;
             padding-bottom:10px;
             margin: 0;
             background: #B0D7E2;
        }
        form{
            .form-header{
                 color: black;
            }
        }
        .search-date-label{
             padding-left: 3px;

        }
    }
        
    .blacklist-letters{
        @extend .group-search;
        .form-header{
             color: black;
        }
        a{
            color: black;
            text-decoration: underline;
            display: block;
            margin-left: 38px;
            margin-bottom: 8px;
        }

    }
    
    .blacklist-letters-row{
        margin-top:10px;
        width: 70px;
        @include inline-block;
        vertical-align: top;
        span, a {
                float: left;
                margin-left: 45px;
                margin-bottom: 3px;  
           }
           a{color: #0094D4;}
           
    }

    #black_list_letters4
    {
        @extend .blacklist-letters-row;
    }
}