@import "conf";
@import "compass/css3";

.contact_container{
    width: 248px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border-left: 5px solid #0094D4;
    border-bottom: 1px solid #9f9f9f;
    padding: 20px 24px 15px 34px;
    position: relative;
    font-size:14px;
    
    
    
    a{
        text-decoration: underline;
    }
    
    .contract_icon{
        position: absolute;
        top: -12px;
        left: 6px;
    }
    
    .gray_text{
        padding-top: 4px;
        color: #9f9f9f;
        //margin-bottom :13px;
    }
    
    .send-document{
        margin-top: 13px;
    }
    
    .file_input{
        color: red;
        opacity:0.0;
    }
    
    .error_text{
        color: #fa6466;
        padding-top: 5px;
        font-style: italic;
        font-size: .85em;
    }
        
}


