.form{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom:20px;
    width: 70%;
    padding: 20px;
    border: 1px solid #0681b9;
    
    .row{
        margin-top:15px;
        .errorMessage{
            color: red;
            padding-bottom: 10px;
        }
    }
}
.errorMessage{
    margin-left: 10px;
    margin-top:15px;
    color: red;
    padding-bottom: 10px;
}
