@import "conf";

#content {
  .content-inner {
    overflow: hidden !important;
    width: 1000px !important;
    padding: 0 !important;
    background: none;
    float: none !important;
  }
}

.tablet {
  width: 980px;
  margin: 0 auto;
  height: 771px;
  background: image-url('hand_with_tablet.png') no-repeat bottom -1px left;
  border: 0;
  outline: none;
  position: relative;
  
  h1 {
    margin-left: 20px;
  }
  
  .top-line {
    margin-bottom: 10px !important;
    margin-left: 0;       
  }
  
  .screen {
    position: relative;
    left: 225px;
    top: 84px;
    width: 624px;
    height: 395px;
  }
  
  form .notice {
    background: none !important;
    width: 270px !important;
    text-align: left !important;
    left: -30px;
    top: -27px;
    color: black !important;
    font-style: italic;
  }
  
  .registration-first-form {
    label {
      font-weight: normal !important;
      color: $form-input-text-color;
    }
  }
  
  .right-hand {
    position: absolute;
    bottom: -28px;
    right: 0;
    height: image-height('right_hand.png');
    width: image-width('right_hand.png');
    background: image-url('right_hand.png');
  }
  
  .row {
    .cell {
      width: 140px !important;
    }
  }
}