
<ul class="nav nav-tabs">
	{foreach $model->getNetworks() as $network}
	<li class="active"><a href="#link" data-toggle="tab">Ссылка</a></li>
	<li><a href="#image" data-toggle="tab">Картинки</a></li>
	<li><a href="#video" data-toggle="tab">Видео</a></li>
	{/foreach}
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="link">
		1
	</div>
	<div class="tab-pane" id="image">
		2
	</div>
	<div class="tab-pane" id="video">
		3
	</div>
</div>