{foreach $model->get_attach() as $image}
	<div id="img_{$image.id}" class="img_div">
		<img src="data:{$image.mime};base64,{$image.img_body}" />
		<a class="img_a" href="#" title="Удалить"><span class="glyphicon glyphicon-trash"></span></a>
	</div>
{/foreach}