
{use class="frontend\assets\MainJsAsset"}
{MainJsAsset::register($this)|void}

<div class="about">
	<div class="about__title-top">Мы дадим<br>вам инструмент</div>
	<div class="about__title-bottom">достижения ваших целей</div>
	<div class="about__description">Сотни тысяч профессионалов интернет-рекламы по всему миру используют
		Рекламную Систему BITARGET для продвижения сайтов и стабильного заработка.
		Присоединяйтесь и работайте с нами!
	</div>
</div>
<div class="capabilities"><input id="cap-11" type="radio" name="capabilities-2" class="trigger"><input id="cap-12"
																									   type="radio"
																									   name="capabilities-2"
																									   class="trigger"><input
			id="cap-13" type="radio" name="capabilities-2" class="trigger"><input id="cap-14" type="radio"
																				  name="capabilities-2" checked
																				  class="trigger">
	<ul class="capabilities__list"><label for="cap-11" class="capabilities__mobile-title">Я вебмастер</label>
		<li class="capabilities__item"><input id="cap-01" type="radio" name="capabilities" checked
											  class="trigger cap"><label for="cap-01" class="capabilities__title">Я
				вебмастер</label>

			<div class="capabilities__description">Рекламная Система BITARGET предоставляет Вебмастеру возможность
				комфортно
				работать и хорошо зарабатывать, используя новые направления рекламы и
				продвижения. Система BITARGET привлекает Вебмастеров простотой работы,
				удобством, а также возможностью одновременно зарабатывать на нескольких
				направлениях.
			</div>
			<ul class="capabilities__sub-list">
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества
					сайтов
				</li>
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества сайтов
				</li>
			</ul>
		</li>
		<label for="cap-12" class="capabilities__mobile-title">Я оптимизатор</label>
		<li class="capabilities__item"><input id="cap-02" type="radio" name="capabilities"
											  class="trigger cap"><label for="cap-02" class="capabilities__title">Я
				оптимизатор</label>

			<div class="capabilities__description">Система BITARGET предоставляет Вебмастеру возможность комфортно
				работать и хорошо зарабатывать, используя новые направления рекламы и
				продвижения. Система BITARGET привлекает Вебмастеров простотой работы,
				удобством, а также возможностью одновременно зарабатывать на нескольких
				направлениях.
			</div>
			<ul class="capabilities__sub-list">
				<li class="capabilities__sub-item">Рекламная Система предоставляет Вебмастеру возможность
					комфортно
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества
					сайтов
				</li>
				<li class="capabilities__sub-item">Рекламная Система предоставляет Вебмастеру возможность
					комфортно
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества сайтов
				</li>
			</ul>
		</li>
		<label for="cap-13" class="capabilities__mobile-title">Я из рекламного агентства</label>
		<li class="capabilities__item"><input id="cap-03" type="radio" name="capabilities"
											  class="trigger cap"><label for="cap-03" class="capabilities__title">Я
				из рекламного агентства</label>

			<div class="capabilities__description">BITARGET предоставляет Вебмастеру возможность комфортно
				работать и хорошо зарабатывать, используя новые направления рекламы и
				продвижения. Система BITARGET привлекает Вебмастеров простотой работы,
				удобством, а также возможностью одновременно зарабатывать на нескольких
				направлениях.
			</div>
			<ul class="capabilities__sub-list">
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества
					сайтов
				</li>
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества сайтов
				</li>
			</ul>
		</li>
		<label for="cap-14" class="capabilities__mobile-title">Я партнер</label>
		<li class="capabilities__item"><input id="cap-04" type="radio" name="capabilities"
											  class="trigger cap"><label for="cap-04" class="capabilities__title">Я
				партнер</label>

			<div class="capabilities__description">BITARGET Рекламная Система предоставляет Вебмастеру возможность
				комфортно
				работать и хорошо зарабатывать, используя новые направления рекламы и
				продвижения. Система BITARGET привлекает Вебмастеров простотой работы,
				удобством, а также возможностью одновременно зарабатывать на нескольких
				направлениях.
			</div>
			<ul class="capabilities__sub-list">
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества
					сайтов
				</li>
				<li class="capabilities__sub-item">Возможность удобной работы по нескольким рекламным направлениям
				</li>
				<li class="capabilities__sub-item">Быстрое и удобное добавление в систему большого количества сайтов
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="stat-price">
	<div class="single-item stat-price__list">
		<div class="stat-price__item">
			<div class="stat-price__price">155<span class="text">рублей</span></div>
			<div class="stat-price__title">Максимальная цена рекламы в системе</div>
			<div class="stat-price__description">(по данным статистики за <?php echo date('d.m.y');?>)</div>
		</div>
		<div class="stat-price__item">
			<div class="stat-price__price">132<span class="text">рублей</span></div>
			<div class="stat-price__title">Минимальная цена рекламы в системе</div>
			<div class="stat-price__description">(по данным статистики за <?php echo date('d.m.y');?>)</div>
		</div>
		<div class="stat-price__item">
			<div class="stat-price__price">142<span class="text">рублей</span></div>
			<div class="stat-price__title">Средняя цена рекламы в системе</div>
			<div class="stat-price__description">(по данным статистики за <?php echo date('d.m.y');?>)</div>
		</div>
	</div>
</div>
<div class="stat-graphic"></div>
<div class="reclama"><h2 class="reclama__title">Основные рекламные направления</h2>
	<ul class="reclama__list">
		<li class="reclama__item"><h3 class="reclama__name">Контекстная реклама</h3>

			<div class="reclama__text">Сервис по покупке и продаже контекстной рекламы с различных сайтов, также
				призванной увеличить тематический индекс цитирования (ТИЦ) и Пэйдж-Рэнк (PR) сайта в основных
				поисковых системах. Основной целью такой рекламы является увеличение посещаемости сайта и
				привлечение на него клиентов. Контекстная реклама находится в контексте страниц и отображается
				посетителям во время чтения интернет-страницы. Тематика сайта, на котором размещается контекстная
				реклама, пересекается с тематикой рекламируемого сайта, что, в свою очередь, повышает вероятность
				отклика на рекламу целевой аудитории.
			</div>
		</li>
		<li class="reclama__item"><h3 class="reclama__name">Ссылки</h3>

			<div class="reclama__text">Один из наиболее популярных, востребованных и эффективных сервисов по покупке
				и продаже SEO-ссылок с различных сайтов, служащий увеличению тематического индекса цитирования (ТИЦ)
				и Пэйдж-Рэнк (PR) сайта в основных поисковых системах, а также улучшению других показателей сайта.
				Ссылкам уделяется особое внимание, так как именно они связывают между собой страницы сайтов,
				осуществляют переходы между сайтами и их страницами. Благодаря размещению ссылок на различных сайтах
				рекламируемому объекту обеспечивается постоянный приток новых пользователей и клиентов, сайт
				"раскручивается", продвигается рекламируемый продукт. Это важнейший вид интернет-рекламы, способный
				поднять сайт на передовые позиции в поисковых системах.
			</div>
		</li>
		<li class="reclama__item"><h3 class="reclama__name">Заметки</h3>

			<div class="reclama__text">Относительно новый сервис, ориентированный на размещение рекламы на страницах
				сайта в виде графических заметок с указанием исходного материала. Суть заметок — в отображении
				ориентира, пройдя по которому пользователь получает конечный результат. Главный плюс заметок в том,
				что их расположение возможно в любом желаемом месте на странице сайта, не ограничивая рекламодателя
				конкретным местом расположения рекламы. С помощью Заметок пользователь получает возможность напрямую
				добраться до значимой информации. Заметки являются одним из самых эффективных способов донесения до
				пользователя конкретной важной информации.
			</div>
		</li>
		<li class="reclama__item"><h3 class="reclama__name">Аудит</h3>

			<div class="reclama__text">Рекламная Система Bitarget предлагает подробный технический и поисковый аудит
				сайтов на наличие ошибок, негативно влияющих на его продвижение и препятствующих попаданию сайта в
				топы поисковых систем. Сервис для производства полного анализа всех страниц сайта, способного
				выявить проблемы сайта с точки зрения поисковых систем, а также предоставить конкретные методы
				решения и устранения таких проблем. Аудит позволяет решить целый ряд существующих и потенциальных
				проблем сайта, о которых владелец зачастую даже и не догадывается.
			</div>
		</li>
		<li class="reclama__item"><h3 class="reclama__name">Телетекст</h3>

			<div class="reclama__text">Сервис по покупке и продаже текстовой рекламы в блоге с бегущим текстом.
				Подобная реклама призвана привлечь внимание пользователей и быстро увеличить показатели
				тематического индекса цитирования (ТИЦ) и Пэйдж-Рэнк (PR) сайта в основных поисковых системах.
				Современный доступный способ передачи самой разнообразной текстовой информации. Как правило, на
				одной странице может быть расположено до трех блоков телетекст-рекламы. Рекламная система Bitarget
				предлагает создание и размещение на страницах сайта эффективной телетекст-рекламы.
			</div>
		</li>
	</ul>
</div>
<div class="news">
	<ul class="news__list">
		<li class="news__item">
			<div class="news__date">
				23.06.2014            </div>
			<a href="/news" class="news__title">Адаптивный дизайн Рекламной системы Bitarget</a>
			<div class="news__text">
				Рекламная Cистема Bitarget рада предложить своим пользователям свой обновленный сайт в еще более удобном формате. Использованная при обновлении сайта технология адаптивного дизайна обеспечивает удобное и правильное восприятие сайта на устройствах разного типа. Сайт с адаптивным дизайном можно назвать универсальным.           </div>
		</li>
		<li class="news__item">
			<div class="news__date">
				29.05.2014            </div>
			<a href="/news" class="news__title">Пополняйте с помощью WebMoney.</a>
			<div class="news__text">
				Рекламная Cистема Bitarget рада предложить своим пользователям новую возможность пополнения своих счетов в личном кабинете с помощью электронных WM-кошельков системы WebMoney. Данная услуга позволяет осуществлять пополнение WM-кошельков и вести расчёты в электронной системе не только физическим, но и юридическим лицам.            </div>
		</li>
		<li class="news__item">
			<div class="news__date">
				15.10.2013            </div>
			<a href="/news" class="news__title">Партнёрский вид сотрудничества</a>
			<div class="news__text">
				Рекламная Система Bitarget продолжает совершенствоваться для своих Пользователей и в связи с этим мы рады сообщить, что наша Система ввела новый вид сотрудничества - возможность работы с Системой в качестве Партнёра. Партнером Рекламной Системы Bitarget можно стать не владея ни одним интернет-сайтом!            </div>
		</li>
	</ul>
</div>
