/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.8.0
* Docs at http://davidtheclark.github.io/scut
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #dce3eb url(../images/fon.png) repeat;
  font-family: 'PT Sans', sans-serif;
  color: #414141;
}

.trigger {
  display: none;
}

.first-icon, .second-icon, .icon, .btn * {
  font-size: 100%;
}

.error {
  border-color: #E74C3C !important;
}

header {
  position: relative;
}

.logo {
  width: 217px;
  margin: 0 auto;
  margin-top: 20px;
}

.description {
  margin: 30px auto;
  width: 265px;
  font-size: 13px;
  text-align: center;
}
.description .bolder {
  font-weight: bold;
  font-size: 12px;
}

.header-nav {
  margin: 10px auto;
  text-align: center;
}
.header-nav__item {
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.header-nav__link {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: #414141;
}
.header-nav__link:hover {
  text-decoration: underline;
}

.authorization {
  margin: 20px auto;
  width: 300px;
}
.authorization__input, .contact-form__input, .contact-form__input-cod, .contact-form .uneditable-input, .contact-form__fileinput {
  display: inline-block;
  width: 140px;
  height: 30px;
  margin: 5px;
  vertical-align: top;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-style: italic;
  text-indent: 7px;
  border-radius: 15px;
}
.authorization__input:focus::-webkit-input-placeholder, .contact-form__input:focus::-webkit-input-placeholder, .contact-form__input-cod:focus::-webkit-input-placeholder, .contact-form .uneditable-input:focus::-webkit-input-placeholder, .contact-form__fileinput:focus::-webkit-input-placeholder {
  color: transparent;
}
.authorization__input:focus::-moz-placeholder, .contact-form__input:focus::-moz-placeholder, .contact-form__input-cod:focus::-moz-placeholder, .contact-form .uneditable-input:focus::-moz-placeholder, .contact-form__fileinput:focus::-moz-placeholder {
  color: transparent;
}
.authorization__input:focus:-ms-input-placeholder, .contact-form__input:focus:-ms-input-placeholder, .contact-form__input-cod:focus:-ms-input-placeholder, .contact-form .uneditable-input:focus:-ms-input-placeholder, .contact-form__fileinput:focus:-ms-input-placeholder {
  color: transparent;
}
.authorization__input:focus::placeholder, .contact-form__input:focus::placeholder, .contact-form__input-cod:focus::placeholder, .contact-form .uneditable-input:focus::placeholder, .contact-form__fileinput:focus::placeholder {
  color: transparent;
}
.authorization__checkbox {
  cursor: pointer;
}
.authorization__label {
  display: inline-block;
  margin: 5px;
  font-size: 13px;
  font-style: italic;
  cursor: pointer;
  color: #fff;
}
.authorization__label .first-icon {
  color: #fff;
}
.authorization__label .second-icon {
  color: #fff;
}
.authorization__link {
  display: inline-block;
  margin: 5px;
  font-size: 13px;
  color: #414141;
}
.authorization .getpass {
  margin-left: 25px;
  line-height: 20px;
}
.authorization .getpass:before {
  padding-right: 10px;
  font-family: 'Flat-UI-Icons';
  font-size: 20px;
  vertical-align: bottom;
  content: "\e018";
}
.authorization__button, .contact-form__button {
  width: 140px;
  margin: 5px;
  padding: 9px 15px;
  display: inline-block;
  border-radius: 15px;
  font-size: 13px;
  line-height: 1;
  font-style: italic;
  vertical-align: top;
  cursor: pointer;
}
.authorization .reg {
  background: #08355A;
}
.authorization .reg:hover {
  background: #3498DB;
}
.authorization__captcha {
  position: relative;
  margin: 5px;
  height: 50px;
}
.authorization__captcha-img {
  position: absolute;
  left: 0px;
  top: 0;
  width: 140px;
}
.authorization__captcha-link {
  position: absolute;
  left: 162px;
  top: 0;
  font-size: 13px;
}
.authorization .captcha-input {
  position: absolute;
  left: 145px;
  top: 15px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  margin: 5px;
  padding: 6px 10px;
  font-style: italic;
  font-size: 13px;
  text-indent: 7px;
  line-height: 1.462;
  border: 2px solid #BDC3C7;
  border-radius: 15px;
  outline: none;
  color: #34495E;
}

.capcha-form .authorization__input-cod,
.capcha-form .authorization__img {
  display: inline-block;
}

.about {
  background: url(../images/men-768.png) 0 75px no-repeat;
  background-size: contain;
  text-align: center;
  position: relative;
  padding-bottom: 80%;
  margin-bottom: 70px;
}
.about__title-top {
  font-size: 34px;
  font-weight: bold;
  color: #ff4200;
}
.about__title-bottom {
  padding-top: 15px;
  font-size: 18px;
  color: #414141;
}
.about__description {
  position: absolute;
  bottom: -70px;
  left: 50%;
  margin-left: -145px;
  width: 290px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  line-height: 1.3;
}

.capabilities {
  text-align: center;
  margin-top: 90px;
}
#cap-11:checked ~ .capabilities__list > .capabilities__item:nth-of-type(1), #cap-12:checked ~ .capabilities__list > .capabilities__item:nth-of-type(2), #cap-13:checked ~ .capabilities__list > .capabilities__item:nth-of-type(3), #cap-14:checked ~ .capabilities__list > .capabilities__item:nth-of-type(4) {
  height: auto;
  border: 2px solid #08355A;
  max-height: 440px;
}
#cap-11:checked ~ .capabilities__list .capabilities__mobile-title:nth-of-type(1), #cap-12:checked ~ .capabilities__list .capabilities__mobile-title:nth-of-type(2), #cap-13:checked ~ .capabilities__list .capabilities__mobile-title:nth-of-type(3), #cap-14:checked ~ .capabilities__list .capabilities__mobile-title:nth-of-type(4) {
  background: #08355A;
  color: #FFF;
}
.capabilities__list {
  margin: 0 10px;
}
.capabilities__item {
  padding: 0 10px;
  overflow: hidden;
  border: transparent;
  border-radius: 10px;
  max-height: 10px;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}
.capabilities__mobile-title {
  background: #cff1ff;
  display: inline-block;
  margin-bottom: -15px;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  color: #08355A;
}
.capabilities__description {
  padding-top: 25px;
  text-align: left;
  line-height: 1.2;
  font-size: 13px;
}
.capabilities__sub-list {
  margin-top: 25px;
}
.capabilities__sub-item {
  height: 50px;
  padding-left: 60px;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  position: relative;
}
.capabilities__sub-item:before {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0px;
  border: 2px solid #08355a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  color: #08355a;
}
.capabilities__sub-item:nth-of-type(1):before {
  content: "1";
}
.capabilities__sub-item:nth-of-type(2):before {
  content: "2";
}
.capabilities__sub-item:nth-of-type(3):before {
  content: "3";
}
.capabilities__sub-item:nth-of-type(4):before {
  content: "4";
}

.stat-price {
  margin: 40px 0;
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
}
.stat-price .slick-prev {
  border: 15px solid transparent;
  border-right: 15px solid #414141;
}
.stat-price .slick-next {
  border: 15px solid transparent;
  border-left: 15px solid #414141;
}
.stat-price__list {
  margin: 0 25px;
  height: 100%;
}
.stat-price__item {
  padding: 25px 0;
  text-align: center;
}
.stat-price__price {
  font-size: 54px;
  font-weight: bold;
  color: #FF4200;
}
.stat-price__price .text {
  padding-left: 7px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  vertical-align: top;
  line-height: 54px;
}
.stat-price__title {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.stat-price__description {
  margin-top: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.reclama {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.reclama:after {
  position: absolute;
  top: 10px;
  left: 0;
  content: '';
  width: 94%;
  margin: 0 3%;
  border-bottom: 1px dashed #08355A;
}
.reclama__title, .content-title__title {
  background: #dce3eb url(../images/fon.png) repeat;
  display: inline-block;
  padding: 0 94px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #08355A;
  position: relative;
  z-index: 1;
}
.reclama__title:before, .content-title__title:before {
  background: url(../images/strelka-p.png) 0 0 no-repeat;
  position: absolute;
  top: 40%;
  left: 10px;
  z-index: 1;
  width: 77px;
  height: 5px;
  content: "";
}
.reclama__title:after, .content-title__title:after {
  background: url(../images/strelka-l.png) 0 0 no-repeat;
  position: absolute;
  top: 40%;
  right: 10px;
  z-index: 1;
  width: 77px;
  height: 5px;
  content: "";
}
.reclama__list {
  margin-top: 15px;
  padding: 0 20px;
  text-align: left;
}
.reclama__item {
  display: block;
  margin-top: 15px;
  padding: 0 0px;
  vertical-align: top;
}
.reclama__name {
  margin: 15px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  color: #08355A;
}
.reclama__text {
  font-size: 13px;
  line-height: 1.3;
}

.news__list {
  margin: 50px 10px;
  margin-bottom: 0px;
  border-top: 1px dashed #08355A;
}
.news__item {
  display: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: top;
  padding: 15px 0;
  padding-left: 45px;
}
.news__item:first-child {
  display: block;
  padding-left: 0px;
}
.news__date {
  background: #08355A;
  display: inline-block;
  padding: 1px 7px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.news__title {
  display: block;
  margin: 10px 0;
  width: 60%;
  font-size: 12px;
  color: #08355A;
  line-height: 1.2;
}
.news__text {
  font-size: 12px;
  line-height: 1.2;
}

footer {
  background: inherit;
  height: 60px;
  padding-top: 20px;
  border-top: 1px dashed #08355A;
}

.payment {
  text-align: center;
}
.payment__item {
  display: inline-block;
  margin: 0 10px;
}
.payment__img {
  height: 30px;
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
    height: 150px;
  }

  .logo {
    position: absolute;
    top: 0px;
    left: 20px;
  }

  .description {
    position: absolute;
    top: 20px;
    left: 270px;
    width: 200px;
    margin: 0;
    text-align: left;
  }

  .authorization {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0;
  }

  .header-nav {
    position: absolute;
    top: 108px;
    left: 87px;
    margin: 0;
  }
  .header-nav__item {
    margin: 0 10px;
  }
  .header-nav__link {
    font-size: 13px;
  }

  .about {
    background: url(../images/men-1024.png) 55px 0 no-repeat;
    background-size: 90%;
    margin-bottom: 0;
    padding-bottom: 78%;
    z-index: -1;
  }
  .about__title-top {
    position: absolute;
    top: 15%;
    left: 20%;
    font-size: 31px;
  }
  .about__title-bottom {
    position: absolute;
    top: 25%;
    left: 23%;
    width: 180px;
  }
  .about__description {
    left: 12%;
    bottom: 62px;
    margin-left: 0;
    width: 260px;
  }

  .capabilities {
    text-align: left;
    margin: 0 50px;
    margin-top: 0px;
    margin-bottom: 120px;
  }
  #cap-11:checked ~ .capabilities__list > .capabilities__item:nth-of-type(1), #cap-12:checked ~ .capabilities__list > .capabilities__item:nth-of-type(2), #cap-13:checked ~ .capabilities__list > .capabilities__item:nth-of-type(3), #cap-14:checked ~ .capabilities__list > .capabilities__item:nth-of-type(4) {
    border: none;
  }
  .capabilities__mobile-title {
    display: none;
  }
  .capabilities__list {
    position: relative;
    width: 100%;
    height: 155px;
    margin: 0;
    border: 1px solid #08355a;
    border-radius: 10px;
  }
  .capabilities__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    overflow: visible;
    border: none;
  }
  .capabilities__title {
    background: #cff1ff;
    position: absolute;
    top: -22px;
    padding: 5px 20px 3px 20px;
    color: #08355a;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    cursor: pointer;
    line-height: 1;
  }
  .capabilities__title[for="cap-01"] {
    left: 10px;
  }
  .capabilities__title[for="cap-02"] {
    left: 23%;
  }
  .capabilities__title[for="cap-03"] {
    right: 23%;
  }
  .capabilities__title[for="cap-04"] {
    right: 10px;
  }
  .cap:checked ~ .capabilities__title {
    background: #08355a;
    color: #fff;
  }
  .capabilities__description {
    display: none;
    padding: 30px 50px;
    text-align: center;
    font-size: 13px;
    line-height: 1.3;
  }
  .cap:checked ~ .capabilities__description {
    display: block;
  }
  .capabilities__sub-list {
    display: none;
  }
  .cap:checked ~ .capabilities__sub-list {
    display: block;
  }
  .capabilities__sub-item {
    position: absolute;
    top: 187px;
    width: 150px;
    height: auto;
    padding-left: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
  }
  .capabilities__sub-item:before {
    background: #fff;
    position: absolute;
    top: -60px;
    left: 35%;
    border: 1px solid #08355a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: #08355a;
  }
  .capabilities__sub-item:nth-of-type(1) {
    left: 10px;
  }
  .capabilities__sub-item:nth-of-type(1):before {
    content: "1";
  }
  .capabilities__sub-item:nth-of-type(2) {
    left: 27%;
  }
  .capabilities__sub-item:nth-of-type(2):before {
    content: "2";
  }
  .capabilities__sub-item:nth-of-type(3) {
    right: 27%;
  }
  .capabilities__sub-item:nth-of-type(3):before {
    content: "3";
  }
  .capabilities__sub-item:nth-of-type(4) {
    right: 10px;
  }
  .capabilities__sub-item:nth-of-type(4):before {
    content: "4";
  }

  .reclama__title, .content-title__title {
    font-size: 20px;
  }
  .reclama__list {
    padding: 0;
  }
  .reclama__item {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    padding: 0 30px;
  }
  .reclama__name {
    margin: 20px 0;
    font-size: 21px;
  }
  .reclama__text {
    font-size: 13px;
    line-height: 1.3;
  }

  .news__list {
    margin: 50px 30px;
    margin-bottom: 0;
  }
  .news__item {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    padding: 20px 0;
    padding-left: 45px;
    width: 28%;
  }
  .news__item:first-child {
    display: inline-block;
    padding-left: 0px;
  }

  footer {
    position: relative;
    height: 70px;
  }

  .payment {
    position: absolute;
    top: 20px;
    left: 50px;
  }

  .footer-text {
    position: absolute;
    top: 20px;
    right: 50px;
    height: 30px;
    line-height: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #414141;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .description {
    width: 210px;
    top: 23px;
    left: 260px;
  }

  .authorization {
    right: 3px;
  }

  .header-nav {
    left: 133px;
  }
  .header-nav__item {
    margin: 0 15px;
  }
  .header-nav__link {
    font-size: 15px;
  }

  .about {
    background: none;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 420px;
    text-align: center;
  }
  .about:before {
    background: url(../images/men-1024.png) 0 0 no-repeat;
    position: absolute;
    top: -325px;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 900px;
  }
  .about__title-top {
    top: 0px;
    left: 180px;
    font-size: 46px;
  }
  .about__title-bottom {
    top: 95px;
    left: 172px;
    width: 330px;
    padding-top: 15px;
    font-size: 18px;
    color: #414141;
  }
  .about__description {
    left: 215px;
    bottom: auto;
    top: 345px;
    text-align: left;
  }

  .capabilities {
    text-align: left;
    margin: 0 50px;
    margin-top: 85px;
  }
  .capabilities__mobile-title {
    display: none;
  }
  .capabilities__list {
    position: relative;
    width: 100%;
    height: 135px;
    margin: 0;
    border: 1px solid #08355a;
    border-radius: 10px;
  }
  .capabilities__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    overflow: visible;
  }
  .capabilities__title {
    background: #cff1ff;
    position: absolute;
    top: -22px;
    padding: 5px 20px 3px 20px;
    color: #08355a;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    cursor: pointer;
  }
  .capabilities__title[for="cap-01"] {
    left: 10px;
  }
  .capabilities__title[for="cap-02"] {
    left: 26%;
  }
  .capabilities__title[for="cap-03"] {
    right: 26%;
  }
  .capabilities__title[for="cap-04"] {
    right: 10px;
  }
  .cap:checked ~ .capabilities__title {
    background: #08355a;
    color: #fff;
  }
  .capabilities__description {
    display: none;
    padding: 30px 50px;
    text-align: center;
    font-size: 13px;
    line-height: 1.3;
  }
  .cap:checked ~ .capabilities__description {
    display: block;
  }
  .capabilities__sub-list {
    display: none;
  }
  .cap:checked ~ .capabilities__sub-list {
    display: block;
  }
  .capabilities__sub-item {
    position: absolute;
    top: 170px;
    width: 160px;
    height: auto;
    padding-left: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
  }
  .capabilities__sub-item:before {
    background: #fff;
    position: absolute;
    top: -65px;
    left: 35%;
    border: 1px solid #08355a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: #08355a;
  }
  .capabilities__sub-item:nth-of-type(1) {
    left: 10px;
  }
  .capabilities__sub-item:nth-of-type(1):before {
    content: "1";
  }
  .capabilities__sub-item:nth-of-type(2) {
    left: 27%;
  }
  .capabilities__sub-item:nth-of-type(2):before {
    content: "2";
  }
  .capabilities__sub-item:nth-of-type(3) {
    right: 27%;
  }
  .capabilities__sub-item:nth-of-type(3):before {
    content: "3";
  }
  .capabilities__sub-item:nth-of-type(4) {
    right: 10px;
  }
  .capabilities__sub-item:nth-of-type(4):before {
    content: "4";
  }

  .stat-price {
    margin: 130px auto 0;
    width: 500px;
  }

  .reclama:after {
    position: absolute;
    top: 10px;
    left: 0;
    content: '';
    width: 90%;
    margin: 0 5%;
    border-bottom: 1px dashed #08355A;
  }
  .reclama__list {
    padding: 0 20px;
  }
  .reclama__item {
    padding: 0 40px;
  }
  .reclama__name {
    font-size: 24px;
  }

  .news__list {
    margin: 50px;
    margin-bottom: 0;
  }
  .news__item {
    width: 30%;
  }

  .payment {
    position: absolute;
    top: 20px;
    left: 50px;
  }
  .payment__item {
    display: inline-block;
  }

  .footer-text {
    top: 20px;
  }
}
@media screen and (min-width: 1367px) {
  .wrapper {
    width: 1300px;
  }

  .logo__img {
    width: 110%;
  }

  .description {
    left: 300px;
    width: 300px;
    line-height: 1.1;
    font-size: 15px;
  }

  .header-nav {
    left: 145px;
  }
  .header-nav__link {
    font-size: 18px;
  }

  .about {
    background: none;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 420px;
    text-align: center;
  }
  .about:before {
    background: url(../images/men-1024.png) 0 0 no-repeat;
    position: absolute;
    background-size: 100%;
    height: 1100px;
  }
  .about__title-top {
    top: 100px;
    left: 266px;
    font-size: 52px;
  }
  .about__title-bottom {
    top: 210px;
    left: 281px;
    font-size: 24px;
  }
  .about__description {
    top: 550px;
    width: 370px;
    font-size: 18px;
  }

  .capabilities {
    margin-top: 344px;
  }
  .capabilities__title {
    top: -44px;
    padding: 15px 30px 10px 30px;
    border-radius: 15px 15px 0 0;
    font-size: 18px;
  }
  .capabilities__title[for="cap-01"] {
    left: 15px;
  }
  .capabilities__title[for="cap-02"] {
    left: 25%;
  }
  .capabilities__title[for="cap-03"] {
    right: 25%;
  }
  .capabilities__title[for="cap-04"] {
    right: 15px;
  }
  .capabilities__description {
    font-size: 18px;
  }
  .capabilities__list {
    border-radius: 15px;
    height: 165px;
  }
  .capabilities__sub-item {
    top: 200px;
    width: 220px;
    font-size: 17px;
  }

  .stat-price {
    width: 700px;
  }
  .stat-price__price {
    font-size: 70px;
  }
  .stat-price__price .text {
    font-size: 21px;
    line-height: 73px;
  }
  .stat-price__title {
    font-size: 34px;
  }
  .stat-price__description {
    font-size: 18px;
  }

  .reclama:after {
    top: 13px;
  }
  .reclama__title, .content-title__title {
    font-size: 28px;
  }
  .reclama__name {
    font-size: 30px;
  }
  .reclama__text {
    font-size: 18px;
  }

  .news__date {
    padding: 3px 10px;
    font-size: 18px;
  }
  .news__title {
    font-size: 20px;
  }
  .news__text {
    font-size: 16px;
  }

  footer {
    height: 90px;
  }

  .payment {
    left: 100px;
  }
  .payment__img {
    height: 50px;
  }

  .footer-text {
    right: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-loading .slick-list {
  background: white url(/images/loading.gif) center center no-repeat;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-slide img.slick-loading {
  background: white url(/images/loading.gif) center center no-repeat;
  padding-bottom: 100%;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:focus, .slick-next:focus {
  outline: none;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.content-title {
  margin: 20px 10px;
  text-align: center;
  border-bottom: 1px dashed #08355A;
  position: relative;
}
.content-title__title {
  top: 9px;
}

.news-nav {
  margin: 15px auto;
  width: 290px;
}
.news-nav__item {
  margin: 10px 0;
  text-align: center;
}
.news-nav__item.active a {
  text-decoration: none;
  color: #3498DB;
}
.news-nav__link {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  text-decoration: underline;
  color: #08355A;
}

.search {
  width: 290px;
  margin: 15px auto;
}
.search__input {
  height: 30px;
  border-radius: 15px;
  vertical-align: top;
  font-style: italic;
  font-size: 12px;
  text-indent: 7px;
}
.search__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search__input:focus::-moz-placeholder {
  color: transparent;
}
.search__input:focus:-ms-input-placeholder {
  color: transparent;
}
.search__input:focus::placeholder {
  color: transparent;
}
.search__button {
  height: 30px;
  border-radius: 15px;
}
.search__button .fui-search {
  top: -4px;
}
.search__button .fui-search:before {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.search__input:focus + .input-group-btn .btn {
  border-color: #3498DB;
}
.search__input:focus + .input-group-btn .btn .fui-search:before {
  color: #3498DB;
}

.calendar {
  width: 290px;
  margin: 15px auto;
}
.calendar a {
  font-size: 14px;
}
.calendar span {
  font-size: 14px;
}
.calendar .ui-datepicker {
  width: auto;
  border: 2px solid #3498DB;
  border-radius: 15px;
  box-shadow: none;
}
.calendar .ui-datepicker .ui-datepicker-header {
  margin: -7px -2px 2px;
  border-radius: 15px;
  border: none;
}
.calendar .ui-datepicker .ui-datepicker-next,
.calendar .ui-datepicker .ui-datepicker-prev {
  border-radius: 15px;
  border: none;
}

.news-block {
  margin: 15px auto;
  margin-bottom: 30px;
}
.news-block__list {
  margin: 0 10px;
  border-top: 1px dashed #08355A;
}
.news-block__item {
  margin: 25px 0;
}
.news-block__title {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  color: #08355A;
}
.news-block__date {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: right;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  color: #08355A;
  font-weight: bold;
}
.news-block__text {
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .content-title {
    margin: 20px;
  }
  .content-title__title {
    top: 11px;
    font-size: 22px;
  }

  .sidebar {
    display: table-cell;
    width: 320px;
    vertical-align: top;
  }

  .news-nav__item {
    text-align: right;
    margin-right: 5px;
  }
  .news-nav__link {
    font-size: 18px;
  }

  .news-content {
    display: table-cell;
    width: auto;
    vertical-align: top;
  }

  .news-block {
    margin: 0 20px;
  }
  .news-block__list {
    border: none;
  }
  .news-block__item {
    margin-top: 15px;
  }
  .news-block__title {
    font-size: 18px;
  }
  .news-block__date {
    font-size: 18px;
  }
  .news-block__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .content-title {
    margin: 50px;
    margin-top: 20px;
  }
  .content-title__title {
    top: 14px;
    font-size: 24px;
  }

  .sidebar {
    padding-left: 50px;
  }

  .news-nav {
    width: auto;
    margin: 0;
  }
  .news-nav__item {
    text-align: right;
  }

  .search {
    margin: 20px 0;
    margin-left: 20px;
    width: 300px;
  }

  .calendar {
    margin: 20px 0;
    margin-left: 20px;
    width: 300px;
  }

  .news-content {
    padding-right: 50px;
  }

  .news-block {
    margin: 0;
    margin-left: 30px;
  }
  .news-block__item {
    margin-top: 10px;
  }
  .news-block__title {
    font-size: 20px;
  }
  .news-block__date {
    font-size: 20px;
  }
  .news-block__text {
    margin: 20px 0;
    font-size: 15px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1367px) {
  .content-title__title {
    top: 16px;
    font-size: 28px;
  }

  .news-nav__link {
    font-size: 22px;
  }

  .news-block {
    margin-left: 60px;
  }
  .news-block__title {
    font-size: 24px;
  }
  .news-block__date {
    font-size: 24px;
  }
  .news-block__text {
    font-size: 18px;
  }
}
.content {
  margin-top: 35px;
  margin-bottom: 20px;
}
.content p {
  margin: 10px 20px;
  font-size: 13px;
  line-height: 1.3;
}
.content__sub-title {
  margin: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #08355A;
}
.content__item {
  position: relative;
  margin: 10px 20px;
  padding-left: 25px;
  font-size: 13px;
  font-style: italic;
  line-height: 1.3;
  color: #08355A;
}
.content__item:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Flat-UI-Icons';
  font-size: 16px;
  font-style: normal;
  content: "\e006";
  color: #08355A;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .content p {
    margin: 15px 30px;
    font-size: 14px;
  }
  .content__sub-title {
    margin: 30px;
    font-size: 18px;
  }
  .content__item {
    margin: 15px 30px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    padding: 0 30px;
  }
  .content p {
    font-size: 15px;
  }
  .content__sub-title {
    font-size: 21px;
  }
  .content__item {
    padding-left: 30px;
    font-size: 15px;
  }
  .content__item:before {
    font-size: 18px;
  }
}
@media screen and (min-width: 1367px) {
  .content p {
    margin: 20px 30px;
    font-size: 18px;
  }
  .content__sub-title {
    margin: 40px 30px;
    font-size: 24px;
  }
  .content__item {
    padding-left: 35px;
    font-size: 18px;
  }
  .content__item:before {
    font-size: 22px;
  }
}
.contact-form {
  width: 290px;
  margin: 15px auto;
}
.contact-form .visible {
  opacity: 1 !important;
}
.contact-form__input, .contact-form__input-cod {
  width: 290px;
  margin: 8px 0;
}
.contact-form__input:focus + ul li, .contact-form__input-cod:focus + ul li {
  opacity: 0 !important;
}
.contact-form__input:focus, .contact-form__input-cod:focus {
  border-color: #3498DB !important;
  color: #34495E !important;
}
.contact-form .filter-option {
  font-size: 13px;
  font-style: italic;
}
.contact-form select {
  opacity: 0;
  width: 0;
  height: 0;
  position: relative;
  top: 34px;
  left: 20px;
}
.contact-form .select {
  margin: 0 0 8px;
}
.contact-form .select .btn {
  width: 290px;
}
.contact-form .btn.btn-hg {
  margin: 5px 0;
  height: 30px;
  border-radius: 15px;
  line-height: 1;
}
.contact-form .btn.btn-hg .filter-option {
  top: 9px;
}
.contact-form .dropdown-menu {
  width: 100%;
}
.contact-form .dropdown-menu li a span {
  font-size: 13px;
}
.contact-form textarea.form-control {
  margin: 2px 0 8px;
  width: 290px;
  height: 150px;
  border-radius: 15px;
  font-size: 13px;
}
.contact-form textarea:focus + ul li {
  opacity: 0 !important;
}
.contact-form textarea:focus {
  border-color: #3498DB !important;
  color: #34495E !important;
}
.contact-form .uneditable-input {
  width: 100%;
  margin: 5px 0;
}
.contact-form__fileinput {
  width: 290px;
  margin: 5px 0;
  padding: 6px 12px;
  text-indent: 0;
  font-size: 13px;
}
.contact-form .fileinput {
  margin-bottom: 5px;
}
.contact-form div.fileinput-new {
  display: none;
}
.contact-form div.first {
  display: inline-block;
}
.contact-form .fileinput-exists + div.fileinput-new {
  display: inline-block;
}
.contact-form .form-group {
  margin-bottom: 0;
}
.contact-form .fileinput-filename {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 13px;
}
.contact-form .close {
  float: none;
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
  opacity: 1;
  color: #414141;
}
.contact-form .close:before {
  font-family: 'Flat-UI-Icons';
  content: "\e00b";
  padding-right: 3px;
  font-size: 12px;
}
.contact-form .close:hover {
  color: #3498DB;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}
.contact-form__text {
  margin: 5px 0;
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
}
.contact-form__img {
  margin: 5px 0;
  width: 140px;
  height: 30px;
  vertical-align: top;
}
.contact-form__input-cod {
  vertical-align: top;
  width: 140px;
  margin-left: 8px;
}
.contact-form__button {
  margin: 5px 0;
  margin-top: 15px;
  width: 140px;
  margin-left: 148px;
}
.contact-form__input-wrapp {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.contact-form__error-item {
  opacity: 0;
  position: absolute;
  bottom: -5px;
  right: 15px;
  font-size: 12px;
  color: #E74C3C;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.contact-form__error-item:before {
  content: "\e001";
  font-family: 'Flat-UI-Icons';
  position: absolute;
  top: -4px;
  left: -16px;
  font-size: 15px;
}
.contact-form .dropdown-menu li[rel="0"] {
  display: none;
}
.contact-form .noValue {
  bottom: 0px;
}
.contact-form .open + ul li {
  opacity: 0 !important;
}

.contacts {
  margin: 10px;
  margin-bottom: 30px;
  border-top: 3px solid #414141;
}
.contacts__list-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.contacts__sub-list-name {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  font-weight: normal;
}
.contacts__sub-list-item {
  display: inline-block;
  font-size: 13px;
}

.emails {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .contact-form {
    width: 760px;
    margin: 0 auto;
    padding: 30px;
  }
  .contact-form__fieldset {
    display: inline-block;
    width: 300px;
    vertical-align: text-top;
  }
  .contact-form__fieldset.right {
    margin-left: 80px;
  }
  .contact-form__input, .contact-form__input-cod {
    width: 300px;
  }
  .contact-form .select {
    margin: 2px 0 8px;
  }
  .contact-form .select .btn {
    width: 300px;
  }
  .contact-form textarea.form-control {
    width: 300px;
    height: 230px;
  }
  .contact-form__text {
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
  }
  .contact-form .bottom {
    margin-top: 5px;
  }
  .contact-form__fileinput {
    width: 300px;
  }
  .contact-form__input-cod {
    width: 140px;
    margin-left: 20px;
  }
  .contact-form__button {
    display: block;
    margin-left: 160px;
  }

  .contacts {
    margin: 10px 30px 30px 30px;
  }

  .emails {
    margin: 20px 0;
  }
}
@media screen and (min-width: 1024px) {
  .contact-form {
    margin: 30px 50px;
    padding: 0;
    width: 900px;
  }
  .contact-form__fieldset.left {
    width: 650px;
  }
  .contact-form__fieldset.right {
    width: 250px;
    padding: 0;
    margin-left: 0;
  }
  .contact-form__input, .contact-form__input-cod {
    width: 190px;
    margin: 7px;
  }
  .contact-form .select {
    width: 200px;
    padding: 5px;
  }
  .contact-form .select .btn {
    width: 190px;
    margin: 0px;
  }
  .contact-form textarea.form-control {
    width: 600px;
    height: 335px;
    margin: 7px;
  }
  .contact-form__fileinput {
    width: 250px;
    margin: 5px 0;
  }
  .contact-form__img {
    margin: 5px 7px;
  }
  .contact-form__input-cod {
    margin: 5px 7px;
    width: 140px;
  }
  .contact-form__button {
    display: inline-block;
    margin: 5px 7px;
    margin-left: 160px;
  }
  .contact-form__text {
    margin: 10px 0;
  }
  .contact-form__text.bottom {
    margin-left: 10px;
  }
  .contact-form .noValue {
    right: 20px;
  }

  .contacts {
    width: 900px;
    margin: 30px 60px;
  }
  .contacts__list {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 0 20px;
  }
  .contacts .emails {
    font-size: 15px;
  }
}
@media screen and (min-width: 1367px) {
  .contact-form {
    margin: 30px 60px;
    width: 1180px;
  }
  .contact-form__fieldset.left {
    width: 930px;
  }
  .contact-form__fieldset.right {
    width: 250px;
  }
  .contact-form__input, .contact-form__input-cod {
    width: 260px;
  }
  .contact-form .select {
    width: 270px;
  }
  .contact-form .select .btn {
    width: 260px;
  }
  .contact-form textarea.form-control {
    width: 810px;
    height: 335px;
  }
  .contact-form__fileinput {
    width: 250px;
  }
  .contact-form__img {
    margin: 7px;
  }
  .contact-form__input-cod {
    width: 140px;
    margin: 7px;
  }
  .contact-form__button {
    margin: 7px;
    margin-left: 220px;
  }
  .contact-form__text.bottom {
    display: inline-block;
    width: 140px;
    margin: 0px;
    margin-top: 3px;
    margin-left: 10px;
  }

  .contacts {
    margin: 30px 60px;
    width: 1180px;
  }
  .contacts__list {
    padding: 0 40px;
    width: 350px;
  }
  .contacts .emails {
    display: inline-block;
    width: 130px;
    text-align: left;
  }
}
