/*
    Document   : modal
    Created on : 03.09.2013, 18:17:09
    Author     : fintroll
    Description:
    Purpose of the stylesheet follows.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/modal.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 25, ../sass/modal.scss */
#paulund_modal_box {
  position: relative;
  left: 30px;
  top: 20px;
  width: 652px;
  border: 1px solid white;
  box-shadow: #292929 0px 2px 7px;
  -webkit-box-shadow: #292929 0px 2px 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #CBE3EA;
  z-index: 50;
  display: none;
}
/* line 40, ../sass/modal.scss */
#paulund_modal_box .row {
  margin: 22px auto;
}
/* line 43, ../sass/modal.scss */
#paulund_modal_box .notice {
  display: none;
  padding: 5px 0;
}
/* line 46, ../sass/modal.scss */
#paulund_modal_box .notice > .notice-text {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 51, ../sass/modal.scss */
#paulund_modal_box input {
  float: none;
}

/* line 56, ../sass/modal.scss */
.modal_close {
  position: absolute;
  top: 3px;
  right: 3px;
  display: block;
  height: 14px;
  width: 14px;
  background-image: url('/themes/modern/img/modal_close.png?1402925060');
  z-index: 50000;
}

/* line 66, ../sass/modal.scss */
.main-form {
  width: 250px;
  margin: 0 auto;
}

/* line 71, ../sass/modal.scss */
input[type="text"] {
  height: 20px;
}

/* line 77, ../sass/modal.scss */
.modal-header h2 {
  color: #0495D4;
  text-align: center;
}
