@charset "UTF-8";
/**
 *   t(traverse) - Префикс
 *   Классы и миксины для совмещения одинаковых стилей на разных страницах
 */
/**
 *   direction_layout and profile (layout)
 */
/**
    *   Buttons
*/
/* line 4, ../sass/_buttons.scss */
.registration-submit-button-base, .registration-submit-button, .registration-submit-button-leave, a.registration-submit-button-leave, .submit-button, .no-submit-button {
  font-weight: bold;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d7e2), color-stop(100%, #87a5ae));
  background-image: -webkit-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -moz-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: -o-linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  background-image: linear-gradient(#b0d7e2 0%, #87a5ae 100%);
  line-height: 24px;
  color: #053559;
  border: 1px solid #96BDCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 20, ../sass/_buttons.scss */
.registration-submit-button-active-base, .registration-submit-button:active, .registration-submit-button-leave:active, .submit-button:active, .no-submit-button:active {
  border: 1px solid transparent;
  background: #b0d7e2;
  -webkit-box-shadow: 0px 0px 10px #87a5ae inset;
  -moz-box-shadow: 0px 0px 10px #87a5ae inset;
  box-shadow: 0px 0px 10px #87a5ae inset;
}

/* line 26, ../sass/_buttons.scss */
.registration-submit-button, .registration-submit-button-leave, a.registration-submit-button-leave, .submit-button, .no-submit-button {
  cursor: pointer;
  height: 32px;
  text-decoration: none;
}
/* line 34, ../sass/_buttons.scss */
.registration-submit-button a, .registration-submit-button-leave a, .submit-button a, .no-submit-button a {
  color: #053559;
}

/* line 37, ../sass/_buttons.scss */
.registration-submit-button-leave, a.registration-submit-button-leave, .submit-button {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a1));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a1 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a1 100%);
  border: 1px solid #0C89CC;
}
/* line 42, ../sass/_buttons.scss */
.registration-submit-button-leave:active, .submit-button:active {
  border: 1px solid transparent;
  background: #0094d4;
  -webkit-box-shadow: 0px 0px 10px #0571a1 inset;
  -moz-box-shadow: 0px 0px 10px #0571a1 inset;
  box-shadow: 0px 0px 10px #0571a1 inset;
}
/* line 47, ../sass/_buttons.scss */
.registration-submit-button-leave a, .submit-button a {
  color: #ffffff;
  text-decoration: none;
}

/* line 54, ../sass/_buttons.scss */
a.registration-submit-button-leave:link, a.submit-button:link {
  color: #ffffff;
  text-decoration: none;
}

/* line 60, ../sass/_buttons.scss */
.send_form_submit_button, .simple-rounded-submit, .simple-submit {
  color: white;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #0084c8;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d4), color-stop(100%, #0571a3));
  background-image: -webkit-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -moz-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: -o-linear-gradient(#0094d4 0%, #0571a3 100%);
  background-image: linear-gradient(#0094d4 0%, #0571a3 100%);
}
/* line 74, ../sass/_buttons.scss */
.send_form_submit_button:active, .simple-rounded-submit:active, .simple-submit:active {
  border: 1px solid transparent;
  background: #15a0e8;
  -webkit-box-shadow: 0px 0px 15px #006196 inset;
  -moz-box-shadow: 0px 0px 15px #006196 inset;
  box-shadow: 0px 0px 15px #006196 inset;
}
/* line 80, ../sass/_buttons.scss */
.send_form_submit_button:hover, .simple-rounded-submit:hover, .simple-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d5ff), color-stop(100%, #0084cb));
  background-image: -webkit-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -moz-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: -o-linear-gradient(#00d5ff 0%, #0084cb 100%);
  background-image: linear-gradient(#00d5ff 0%, #0084cb 100%);
}

/* line 93, ../sass/_buttons.scss */
.simple-rounded-submit, .simple-submit {
  margin-top: 7px;
  padding: 3px 10px;
  float: none;
}

/* line 98, ../img/sites_menu_icons/*.png */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  background: url('/themes/modern/img/../img/sites_menu_icons-sf8dc6e5734.png') no-repeat;
}

/* line 60, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}
/* line 43, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-money:hover, .sites_menu_icons-money.money_hover, .sites_menu_icons-money.money-hover {
  background-position: 0 -15px;
}

/* line 60, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages {
  background-position: 0 -56px;
  height: 14px;
  width: 13px;
}
/* line 43, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-pages:hover, .sites_menu_icons-pages.pages_hover, .sites_menu_icons-pages.pages-hover {
  background-position: 0 -70px;
}

/* line 60, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup {
  background-position: 0 -30px;
  height: 13px;
  width: 13px;
}
/* line 43, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-setup:hover, .sites_menu_icons-setup.setup_hover, .sites_menu_icons-setup.setup-hover {
  background-position: 0 -43px;
}

/* line 60, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats {
  background-position: 0 -84px;
  height: 12px;
  width: 13px;
}
/* line 43, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sites_menu_icons-stats:hover, .sites_menu_icons-stats.stats_hover, .sites_menu_icons-stats.stats-hover {
  background-position: 0 -96px;
}

/* line 6, ../sass/_icons_wmsites.scss */
.sites_menu_icons-sprite, .sites_menu_icons-money, .sites_menu_icons-pages, .sites_menu_icons-setup, .sites_menu_icons-stats {
  display: block;
  float: left;
  margin-left: 15px;
}

/* line 14, ../sass/_traverse.scss */
.t-info-text {
  font-style: italic;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 19, ../sass/_traverse.scss */
.t-info-text .notice-text {
  float: left;
  color: #0094D6;
}

/* line 25, ../sass/_traverse.scss */
.t-header-1 {
  color: #0495D5;
  font-size: 1.5em;
}

/* line 30, ../sass/_traverse.scss */
.t-header-2 {
  color: #0495D5;
  font-size: 1.2em;
}

/* line 50, ../sass/_traverse.scss */
.inline-block, .datatable-simple-collapse tr td:first-child + td .toggle, .datatable-simple-collapse-fixed-opt-places tr td:first-child + td .toggle, .datatable-simple-collapse-fixed-wm-places tr td:first-child + td .toggle, .datatadble-simple-collpase-profile tr td:first-child + td .toggle, .wmsite-pages tr td:first-child + td .toggle,
.datatable-simple-collapse tr td:first-child + td .name-wrapper,
.datatable-simple-collapse-fixed-opt-places tr td:first-child + td .name-wrapper,
.datatable-simple-collapse-fixed-wm-places tr td:first-child + td .name-wrapper,
.datatadble-simple-collpase-profile tr td:first-child + td .name-wrapper,
.wmsite-pages tr td:first-child + td .name-wrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 54, ../sass/_traverse.scss */
.drop-down-menu {
  margin-top: 8px;
  color: #38a8d0;
  background: white;
}

/* line 60, ../sass/_traverse.scss */
.input, .error {
  color: #38a8d0;
}

/* line 64, ../sass/_traverse.scss */
.error {
  color: black;
  border-color: #FC5A5C;
}

/* line 71, ../sass/_traverse.scss */
.errorMessage {
  color: #FC5A5C;
}

/* line 76, ../sass/_traverse.scss */
.vertical-form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
}

/* line 81, ../sass/_traverse.scss */
.notice, .errorSummary {
  width: 100%;
  background: #0094D4;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

/* line 95, ../sass/_traverse.scss */
.notice.attention .attention, .attention.errorSummary .attention {
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

/* line 103, ../sass/_traverse.scss */
.errorSummary {
  background: #FC5A5C;
}

/** Уведомления **/
/* line 111, ../sass/_traverse.scss */
#messages, #message-homepage {
  padding: 26px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'PT Sans Caption';
  background: #0094D4;
  text-align: center;
  font-size: 1.1em;
  color: white;
  position: relative;
  -webkit-box-shadow: -1px 0px 12px -3px black inset;
  -moz-box-shadow: -1px 0px 12px -3px black inset;
  box-shadow: -1px 0px 12px -3px black inset;
}

/* line 124, ../sass/_traverse.scss */
#message-homepage {
  text-align: left;
}
/* line 128, ../sass/_traverse.scss */
#message-homepage .how-to {
  font-size: 12px;
  color: white;
  font-style: italic;
  position: absolute;
  display: block;
  height: 20px;
  line-height: 100%;
  width: 110px;
  bottom: 20px;
  right: 50px;
  text-decoration: underline;
}
/* line 141, ../sass/_traverse.scss */
#message-homepage .how-to img {
  top: 3px;
  position: relative;
  right: -8px;
}
/* line 148, ../sass/_traverse.scss */
#message-homepage .control {
  margin: 0 auto;
  width: 700px;
  position: relative;
}
/* line 153, ../sass/_traverse.scss */
#message-homepage .control .start {
  z-index: 200;
}
/* line 156, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site {
  width: 532px;
  height: 45px;
  background-image: url('/themes/modern/img/homepage/earth.png?1399990302');
  background-color: #E8F5F6;
  color: #849190;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  padding-top: 8px;
  padding-left: 50px;
  font-size: 18px;
  border: transparent;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 2px 2px 4px -2px black inset;
  -moz-box-shadow: 2px 2px 4px -2px black inset;
  box-shadow: 2px 2px 4px -2px black inset;
}
/* line 171, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site:focus {
  outline: none;
}
/* line 177, ../sass/_traverse.scss */
#message-homepage .control .start .promotion-site,
#message-homepage .control .start .button-go {
  vertical-align: middle;
}
/* line 181, ../sass/_traverse.scss */
#message-homepage .control .start .button-go {
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -webkit-box-shadow: 0px 2px 4px -2px black inset;
  -moz-box-shadow: 0px 2px 4px -2px black inset;
  box-shadow: 0px 2px 4px -2px black inset;
  height: 54px;
  border: transparent;
  background-image: url('/themes/modern/img/homepage/go.png?1399990302');
  background-color: #D4E9EE;
  background-repeat: no-repeat;
  background-position: center center;
  width: 76px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  left: -14px;
}
/* line 198, ../sass/_traverse.scss */
#message-homepage .control .to-optimizer {
  font-family: "PT Sans", Arial;
  position: relative;
  font-size: 16px;
  width: 400px;
  text-align: left;
  line-height: 150%;
  padding-bottom: 65px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 209, ../sass/_traverse.scss */
#message-homepage .control .begin-note {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('/themes/modern/img/homepage/start-img.png?1399990302');
  height: 114px;
  width: 265px;
  z-index: 1;
  left: 117px;
  bottom: 13px;
}
/* line 220, ../sass/_traverse.scss */
#message-homepage .control .begin-arrow {
  width: 87px;
  height: 41px;
  background: url('/themes/modern/img/homepage/begin_arrow.png?1399990302');
  position: absolute;
  right: -60px;
  top: 29px;
}

/*variables*/
/* line 12, ../sass/tables.scss */
.datatable_header, .datatable, .datatable-simple, .datatable-simple-word-wrap, .datatable-simple-collapse, .datatable-simple-collapse-fixed-opt-places, .datatable-simple-collapse-fixed-wm-places, .datatadble-simple-collpase-profile, .wmsite-pages, .opt-prj, .datatable-vert-cellspacing-without-header, .datamultytable_collapse, .reporting_main_table {
  width: 100%;
  color: #32525F;
  font-size: 0.9em;
  text-shadow: 1px 1px 0 white;
  box-shadow: 0 0 2px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 22, ../sass/tables.scss */
.datatable_header tr.odd td, .datatable tr.odd td, .datatable-simple tr.odd td, .datatable-simple-word-wrap tr.odd td, .datatable-simple-collapse tr.odd td, .datatable-simple-collapse-fixed-opt-places tr.odd td, .datatable-simple-collapse-fixed-wm-places tr.odd td, .datatadble-simple-collpase-profile tr.odd td, .wmsite-pages tr.odd td, .opt-prj tr.odd td, .datatable-vert-cellspacing-without-header tr.odd td, .datamultytable_collapse tr.odd td, .reporting_main_table tr.odd td {
  background: #D5EAEA;
}
/* line 26, ../sass/tables.scss */
.datatable_header tr.even td, .datatable tr.even td, .datatable-simple tr.even td, .datatable-simple-word-wrap tr.even td, .datatable-simple-collapse tr.even td, .datatable-simple-collapse-fixed-opt-places tr.even td, .datatable-simple-collapse-fixed-wm-places tr.even td, .datatadble-simple-collpase-profile tr.even td, .wmsite-pages tr.even td, .opt-prj tr.even td, .datatable-vert-cellspacing-without-header tr.even td, .datamultytable_collapse tr.even td, .reporting_main_table tr.even td {
  background: #F4F9F9;
}
/* line 30, ../sass/tables.scss */
.datatable_header > thead tr, .datatable > thead tr, .datatable-simple > thead tr, .datatable-simple-word-wrap > thead tr, .datatable-simple-collapse > thead tr, .datatable-simple-collapse-fixed-opt-places > thead tr, .datatable-simple-collapse-fixed-wm-places > thead tr, .datatadble-simple-collpase-profile > thead tr, .wmsite-pages > thead tr, .opt-prj > thead tr, .datatable-vert-cellspacing-without-header > thead tr, .datamultytable_collapse > thead tr, .reporting_main_table > thead tr {
  height: 40px;
}
/* line 34, ../sass/tables.scss */
.datatable_header > thead tr td, .datatable > thead tr td, .datatable-simple > thead tr td, .datatable-simple-word-wrap > thead tr td, .datatable-simple-collapse > thead tr td, .datatable-simple-collapse-fixed-opt-places > thead tr td, .datatable-simple-collapse-fixed-wm-places > thead tr td, .datatadble-simple-collpase-profile > thead tr td, .wmsite-pages > thead tr td, .opt-prj > thead tr td, .datatable-vert-cellspacing-without-header > thead tr td, .datamultytable_collapse > thead tr td, .reporting_main_table > thead tr td,
.datatable_header > thead tr th,
.datatable > thead tr th,
.datatable-simple > thead tr th,
.datatable-simple-word-wrap > thead tr th,
.datatable-simple-collapse > thead tr th,
.datatable-simple-collapse-fixed-opt-places > thead tr th,
.datatable-simple-collapse-fixed-wm-places > thead tr th,
.datatadble-simple-collpase-profile > thead tr th,
.wmsite-pages > thead tr th,
.opt-prj > thead tr th,
.datatable-vert-cellspacing-without-header > thead tr th,
.datamultytable_collapse > thead tr th,
.reporting_main_table > thead tr th {
  background: #bedae4;
}
/* line 40, ../sass/tables.scss */
.datatable_header th, .datatable th, .datatable-simple th, .datatable-simple-word-wrap th, .datatable-simple-collapse th, .datatable-simple-collapse-fixed-opt-places th, .datatable-simple-collapse-fixed-wm-places th, .datatadble-simple-collpase-profile th, .wmsite-pages th, .opt-prj th, .datatable-vert-cellspacing-without-header th, .datamultytable_collapse th, .reporting_main_table th,
.datatable_header td,
.datatable td,
.datatable-simple td,
.datatable-simple-word-wrap td,
.datatable-simple-collapse td,
.datatable-simple-collapse-fixed-opt-places td,
.datatable-simple-collapse-fixed-wm-places td,
.datatadble-simple-collpase-profile td,
.wmsite-pages td,
.opt-prj td,
.datatable-vert-cellspacing-without-header td,
.datamultytable_collapse td,
.reporting_main_table td {
  padding: 5px;
}

/* line 48, ../sass/tables.scss */
.datatable td.empty, .datatable-simple td.empty, .datatable-simple-word-wrap td.empty, .datatable-simple-collapse td.empty, .datatable-simple-collapse-fixed-opt-places td.empty, .datatable-simple-collapse-fixed-wm-places td.empty, .datatadble-simple-collpase-profile td.empty, .wmsite-pages td.empty, .opt-prj td.empty, .datatable-vert-cellspacing-without-header td.empty {
  background: #dfecf5;
}
/* line 53, ../sass/tables.scss */
.datatable th, .datatable-simple th, .datatable-simple-word-wrap th, .datatable-simple-collapse th, .datatable-simple-collapse-fixed-opt-places th, .datatable-simple-collapse-fixed-wm-places th, .datatadble-simple-collpase-profile th, .wmsite-pages th, .opt-prj th, .datatable-vert-cellspacing-without-header th,
.datatable td,
.datatable-simple td,
.datatable-simple-word-wrap td,
.datatable-simple-collapse td,
.datatable-simple-collapse-fixed-opt-places td,
.datatable-simple-collapse-fixed-wm-places td,
.datatadble-simple-collpase-profile td,
.wmsite-pages td,
.opt-prj td,
.datatable-vert-cellspacing-without-header td {
  text-align: center;
}
/* line 57, ../sass/tables.scss */
.datatable > tr:hover, .datatable-simple > tr:hover, .datatable-simple-word-wrap > tr:hover, .datatable-simple-collapse > tr:hover, .datatable-simple-collapse-fixed-opt-places > tr:hover, .datatable-simple-collapse-fixed-wm-places > tr:hover, .datatadble-simple-collpase-profile > tr:hover, .wmsite-pages > tr:hover, .opt-prj > tr:hover, .datatable-vert-cellspacing-without-header > tr:hover {
  background: #DAE9EE;
}
/* line 64, ../sass/tables.scss */
.datatable > thead tr:first-child th:first-child, .datatable-simple > thead tr:first-child th:first-child, .datatable-simple-word-wrap > thead tr:first-child th:first-child, .datatable-simple-collapse > thead tr:first-child th:first-child, .datatable-simple-collapse-fixed-opt-places > thead tr:first-child th:first-child, .datatable-simple-collapse-fixed-wm-places > thead tr:first-child th:first-child, .datatadble-simple-collpase-profile > thead tr:first-child th:first-child, .wmsite-pages > thead tr:first-child th:first-child, .opt-prj > thead tr:first-child th:first-child, .datatable-vert-cellspacing-without-header > thead tr:first-child th:first-child,
.datatable > thead tr:first-child td:first-child,
.datatable-simple > thead tr:first-child td:first-child,
.datatable-simple-word-wrap > thead tr:first-child td:first-child,
.datatable-simple-collapse > thead tr:first-child td:first-child,
.datatable-simple-collapse-fixed-opt-places > thead tr:first-child td:first-child,
.datatable-simple-collapse-fixed-wm-places > thead tr:first-child td:first-child,
.datatadble-simple-collpase-profile > thead tr:first-child td:first-child,
.wmsite-pages > thead tr:first-child td:first-child,
.opt-prj > thead tr:first-child td:first-child,
.datatable-vert-cellspacing-without-header > thead tr:first-child td:first-child {
  border-top-left-radius: 3px;
}
/* line 69, ../sass/tables.scss */
.datatable > thead tr:first-child th:last-child, .datatable-simple > thead tr:first-child th:last-child, .datatable-simple-word-wrap > thead tr:first-child th:last-child, .datatable-simple-collapse > thead tr:first-child th:last-child, .datatable-simple-collapse-fixed-opt-places > thead tr:first-child th:last-child, .datatable-simple-collapse-fixed-wm-places > thead tr:first-child th:last-child, .datatadble-simple-collpase-profile > thead tr:first-child th:last-child, .wmsite-pages > thead tr:first-child th:last-child, .opt-prj > thead tr:first-child th:last-child, .datatable-vert-cellspacing-without-header > thead tr:first-child th:last-child,
.datatable > thead tr:first-child td:last-child,
.datatable-simple > thead tr:first-child td:last-child,
.datatable-simple-word-wrap > thead tr:first-child td:last-child,
.datatable-simple-collapse > thead tr:first-child td:last-child,
.datatable-simple-collapse-fixed-opt-places > thead tr:first-child td:last-child,
.datatable-simple-collapse-fixed-wm-places > thead tr:first-child td:last-child,
.datatadble-simple-collpase-profile > thead tr:first-child td:last-child,
.wmsite-pages > thead tr:first-child td:last-child,
.opt-prj > thead tr:first-child td:last-child,
.datatable-vert-cellspacing-without-header > thead tr:first-child td:last-child {
  border-top-right-radius: 3px;
}
/* line 75, ../sass/tables.scss */
.datatable > tbody tr:last-child td:first-child, .datatable-simple > tbody tr:last-child td:first-child, .datatable-simple-word-wrap > tbody tr:last-child td:first-child, .datatable-simple-collapse > tbody tr:last-child td:first-child, .datatable-simple-collapse-fixed-opt-places > tbody tr:last-child td:first-child, .datatable-simple-collapse-fixed-wm-places > tbody tr:last-child td:first-child, .datatadble-simple-collpase-profile > tbody tr:last-child td:first-child, .wmsite-pages > tbody tr:last-child td:first-child, .opt-prj > tbody tr:last-child td:first-child, .datatable-vert-cellspacing-without-header > tbody tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
/* line 79, ../sass/tables.scss */
.datatable > tbody tr:last-child td:last-child, .datatable-simple > tbody tr:last-child td:last-child, .datatable-simple-word-wrap > tbody tr:last-child td:last-child, .datatable-simple-collapse > tbody tr:last-child td:last-child, .datatable-simple-collapse-fixed-opt-places > tbody tr:last-child td:last-child, .datatable-simple-collapse-fixed-wm-places > tbody tr:last-child td:last-child, .datatadble-simple-collpase-profile > tbody tr:last-child td:last-child, .wmsite-pages > tbody tr:last-child td:last-child, .opt-prj > tbody tr:last-child td:last-child, .datatable-vert-cellspacing-without-header > tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
/* line 85, ../sass/tables.scss */
.datatable > tbody tr.l2 td:first-child + td .toggle, .datatable-simple > tbody tr.l2 td:first-child + td .toggle, .datatable-simple-word-wrap > tbody tr.l2 td:first-child + td .toggle, .datatable-simple-collapse > tbody tr.l2 td:first-child + td .toggle, .datatable-simple-collapse-fixed-opt-places > tbody tr.l2 td:first-child + td .toggle, .datatable-simple-collapse-fixed-wm-places > tbody tr.l2 td:first-child + td .toggle, .datatadble-simple-collpase-profile > tbody tr.l2 td:first-child + td .toggle, .wmsite-pages > tbody tr.l2 td:first-child + td .toggle, .opt-prj > tbody tr.l2 td:first-child + td .toggle, .datatable-vert-cellspacing-without-header > tbody tr.l2 td:first-child + td .toggle {
  margin-left: 10px;
}
/* line 91, ../sass/tables.scss */
.datatable > tbody tr.header td, .datatable-simple > tbody tr.header td, .datatable-simple-word-wrap > tbody tr.header td, .datatable-simple-collapse > tbody tr.header td, .datatable-simple-collapse-fixed-opt-places > tbody tr.header td, .datatable-simple-collapse-fixed-wm-places > tbody tr.header td, .datatadble-simple-collpase-profile > tbody tr.header td, .wmsite-pages > tbody tr.header td, .opt-prj > tbody tr.header td, .datatable-vert-cellspacing-without-header > tbody tr.header td {
  background: #bedae4;
  padding: 15px;
}
/* line 96, ../sass/tables.scss */
.datatable > tbody tr.header td:first-child, .datatable-simple > tbody tr.header td:first-child, .datatable-simple-word-wrap > tbody tr.header td:first-child, .datatable-simple-collapse > tbody tr.header td:first-child, .datatable-simple-collapse-fixed-opt-places > tbody tr.header td:first-child, .datatable-simple-collapse-fixed-wm-places > tbody tr.header td:first-child, .datatadble-simple-collpase-profile > tbody tr.header td:first-child, .wmsite-pages > tbody tr.header td:first-child, .opt-prj > tbody tr.header td:first-child, .datatable-vert-cellspacing-without-header > tbody tr.header td:first-child {
  background: none;
}

/* line 103, ../sass/tables.scss */
.datatable-simple, .datatable-simple-word-wrap, .datatable-simple-collapse, .datatable-simple-collapse-fixed-opt-places, .datatable-simple-collapse-fixed-wm-places, .datatadble-simple-collpase-profile, .wmsite-pages, .opt-prj {
  width: 100%;
}
/* line 107, ../sass/tables.scss */
.datatable-simple td:first-child, .datatable-simple-word-wrap td:first-child, .datatable-simple-collapse td:first-child, .datatable-simple-collapse-fixed-opt-places td:first-child, .datatable-simple-collapse-fixed-wm-places td:first-child, .datatadble-simple-collpase-profile td:first-child, .wmsite-pages td:first-child, .opt-prj td:first-child {
  text-align: left;
}

/* line 112, ../sass/tables.scss */
.datatable-simple-word-wrap {
  table-layout: fixed;
}
/* line 118, ../sass/tables.scss */
.datatable-simple-word-wrap td,
.datatable-simple-word-wrap th {
  word-wrap: break-word;
}

/* line 123, ../sass/tables.scss */
.datatable-simple-collapse, .datatable-simple-collapse-fixed-opt-places, .datatable-simple-collapse-fixed-wm-places, .datatadble-simple-collpase-profile, .wmsite-pages {
  table-layout: fixed;
}
/* line 126, ../sass/tables.scss */
.datatable-simple-collapse .toggle, .datatable-simple-collapse-fixed-opt-places .toggle, .datatable-simple-collapse-fixed-wm-places .toggle, .datatadble-simple-collpase-profile .toggle, .wmsite-pages .toggle {
  text-decoration: none;
}
/* line 132, ../sass/tables.scss */
.datatable-simple-collapse td.empty, .datatable-simple-collapse-fixed-opt-places td.empty, .datatable-simple-collapse-fixed-wm-places td.empty, .datatadble-simple-collpase-profile td.empty, .wmsite-pages td.empty {
  background: #dfecf5;
}
/* line 136, ../sass/tables.scss */
.datatable-simple-collapse td:first-child, .datatable-simple-collapse-fixed-opt-places td:first-child, .datatable-simple-collapse-fixed-wm-places td:first-child, .datatadble-simple-collpase-profile td:first-child, .wmsite-pages td:first-child {
  width: 5px;
}
/* line 140, ../sass/tables.scss */
.datatable-simple-collapse td:last-child, .datatable-simple-collapse-fixed-opt-places td:last-child, .datatable-simple-collapse-fixed-wm-places td:last-child, .datatadble-simple-collpase-profile td:last-child, .wmsite-pages td:last-child {
  width: 5px;
}
/* line 144, ../sass/tables.scss */
.datatable-simple-collapse tr td:first-child + td, .datatable-simple-collapse-fixed-opt-places tr td:first-child + td, .datatable-simple-collapse-fixed-wm-places tr td:first-child + td, .datatadble-simple-collpase-profile tr td:first-child + td, .wmsite-pages tr td:first-child + td {
  text-align: left;
}
/* line 154, ../sass/tables.scss */
.datatable-simple-collapse tr.l2.odd td, .datatable-simple-collapse-fixed-opt-places tr.l2.odd td, .datatable-simple-collapse-fixed-wm-places tr.l2.odd td, .datatadble-simple-collpase-profile tr.l2.odd td, .wmsite-pages tr.l2.odd td,
.datatable-simple-collapse table tr.odd td,
.datatable-simple-collapse-fixed-opt-places table tr.odd td,
.datatable-simple-collapse-fixed-wm-places table tr.odd td,
.datatadble-simple-collpase-profile table tr.odd td,
.wmsite-pages table tr.odd td {
  background: #dfecf5;
}
/* line 159, ../sass/tables.scss */
.datatable-simple-collapse tr.l2.even td, .datatable-simple-collapse-fixed-opt-places tr.l2.even td, .datatable-simple-collapse-fixed-wm-places tr.l2.even td, .datatadble-simple-collpase-profile tr.l2.even td, .wmsite-pages tr.l2.even td,
.datatable-simple-collapse table tr.even td,
.datatable-simple-collapse-fixed-opt-places table tr.even td,
.datatable-simple-collapse-fixed-wm-places table tr.even td,
.datatadble-simple-collpase-profile table tr.even td,
.wmsite-pages table tr.even td {
  background: #aecfe1;
}
/* line 163, ../sass/tables.scss */
.datatable-simple-collapse tr.l2, .datatable-simple-collapse-fixed-opt-places tr.l2, .datatable-simple-collapse-fixed-wm-places tr.l2, .datatadble-simple-collpase-profile tr.l2, .wmsite-pages tr.l2 {
  margin-left: 20px;
}
/* line 170, ../sass/tables.scss */
.datatable-simple-collapse tr.l2 td:first-child, .datatable-simple-collapse-fixed-opt-places tr.l2 td:first-child, .datatable-simple-collapse-fixed-wm-places tr.l2 td:first-child, .datatadble-simple-collpase-profile tr.l2 td:first-child, .wmsite-pages tr.l2 td:first-child,
.datatable-simple-collapse tr.l2 td:last-child,
.datatable-simple-collapse-fixed-opt-places tr.l2 td:last-child,
.datatable-simple-collapse-fixed-wm-places tr.l2 td:last-child,
.datatadble-simple-collpase-profile tr.l2 td:last-child,
.wmsite-pages tr.l2 td:last-child,
.datatable-simple-collapse tr.header td:first-child,
.datatable-simple-collapse-fixed-opt-places tr.header td:first-child,
.datatable-simple-collapse-fixed-wm-places tr.header td:first-child,
.datatadble-simple-collpase-profile tr.header td:first-child,
.wmsite-pages tr.header td:first-child,
.datatable-simple-collapse tr.header td:last-child,
.datatable-simple-collapse-fixed-opt-places tr.header td:last-child,
.datatable-simple-collapse-fixed-wm-places tr.header td:last-child,
.datatadble-simple-collpase-profile tr.header td:last-child,
.wmsite-pages tr.header td:last-child {
  background: none;
}
/* line 175, ../sass/tables.scss */
.datatable-simple-collapse tr.l2 td:first-child + td, .datatable-simple-collapse-fixed-opt-places tr.l2 td:first-child + td, .datatable-simple-collapse-fixed-wm-places tr.l2 td:first-child + td, .datatadble-simple-collpase-profile tr.l2 td:first-child + td, .wmsite-pages tr.l2 td:first-child + td,
.datatable-simple-collapse tr.header td:first-child + td,
.datatable-simple-collapse-fixed-opt-places tr.header td:first-child + td,
.datatable-simple-collapse-fixed-wm-places tr.header td:first-child + td,
.datatadble-simple-collpase-profile tr.header td:first-child + td,
.wmsite-pages tr.header td:first-child + td {
  -webkit-box-shadow: -18px 0 0 0 #cbe3ea;
  -moz-box-shadow: -18px 0 0 0 #cbe3ea;
  box-shadow: -18px 0 0 0 #cbe3ea;
  border-left: 1px solid gray;
}
/* line 180, ../sass/tables.scss */
.datatable-simple-collapse .last-visible-cell, .datatable-simple-collapse-fixed-opt-places .last-visible-cell, .datatable-simple-collapse-fixed-wm-places .last-visible-cell, .datatadble-simple-collpase-profile .last-visible-cell, .wmsite-pages .last-visible-cell {
  -webkit-box-shadow: 18px 0 0 0 #cbe3ea;
  -moz-box-shadow: 18px 0 0 0 #cbe3ea;
  box-shadow: 18px 0 0 0 #cbe3ea;
  border-right: 1px solid gray;
}
/* line 185, ../sass/tables.scss */
.datatable-simple-collapse .toggle, .datatable-simple-collapse-fixed-opt-places .toggle, .datatable-simple-collapse-fixed-wm-places .toggle, .datatadble-simple-collpase-profile .toggle, .wmsite-pages .toggle {
  font-family: monospace;
  background: #BEDAE5;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}
/* line 192, ../sass/tables.scss */
.datatable-simple-collapse .toggle.unactive, .datatable-simple-collapse-fixed-opt-places .toggle.unactive, .datatable-simple-collapse-fixed-wm-places .toggle.unactive, .datatadble-simple-collpase-profile .toggle.unactive, .wmsite-pages .toggle.unactive {
  color: gray;
  cursor: default;
}
/* line 198, ../sass/tables.scss */
.datatable-simple-collapse table, .datatable-simple-collapse-fixed-opt-places table, .datatable-simple-collapse-fixed-wm-places table, .datatadble-simple-collpase-profile table, .wmsite-pages table {
  width: 100%;
}

/* line 216, ../sass/tables.scss */
.datamultytable_collapse, .reporting_main_table {
  table-layout: fixed;
}
/* line 222, ../sass/tables.scss */
.datamultytable_collapse th, .reporting_main_table th,
.datamultytable_collapse td,
.reporting_main_table td {
  text-align: left;
}
/* line 225, ../sass/tables.scss */
.datamultytable_collapse th .send_form_submit_button, .reporting_main_table th .send_form_submit_button, .datamultytable_collapse th .simple-rounded-submit, .reporting_main_table th .simple-rounded-submit, .datamultytable_collapse th .simple-submit, .reporting_main_table th .simple-submit,
.datamultytable_collapse td .send_form_submit_button,
.reporting_main_table td .send_form_submit_button,
.datamultytable_collapse td .simple-rounded-submit,
.reporting_main_table td .simple-rounded-submit,
.datamultytable_collapse td .simple-submit,
.reporting_main_table td .simple-submit {
  text-shadow: none;
  font-size: 12px;
}
/* line 228, ../sass/tables.scss */
.datamultytable_collapse th .send_form_submit_button:hover, .reporting_main_table th .send_form_submit_button:hover, .datamultytable_collapse th .simple-rounded-submit:hover, .reporting_main_table th .simple-rounded-submit:hover, .datamultytable_collapse th .simple-submit:hover, .reporting_main_table th .simple-submit:hover,
.datamultytable_collapse td .send_form_submit_button:hover,
.reporting_main_table td .send_form_submit_button:hover,
.datamultytable_collapse td .simple-rounded-submit:hover,
.reporting_main_table td .simple-rounded-submit:hover,
.datamultytable_collapse td .simple-submit:hover,
.reporting_main_table td .simple-submit:hover {
  text-decoration: none;
}
/* line 234, ../sass/tables.scss */
.datamultytable_collapse th.hidden_left, .reporting_main_table th.hidden_left, .datamultytable_collapse th.hidden_right, .reporting_main_table th.hidden_right {
  width: 10px;
  padding: 0;
}
/* line 239, ../sass/tables.scss */
.datamultytable_collapse tbody tr, .reporting_main_table tbody tr {
  height: 34px;
}
/* line 241, ../sass/tables.scss */
.datamultytable_collapse tbody tr td.hidden_left, .reporting_main_table tbody tr td.hidden_left, .datamultytable_collapse tbody tr td.hidden_right, .reporting_main_table tbody tr td.hidden_right {
  width: 10px;
  padding: 0;
}
/* line 248, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.hidden_left, .reporting_main_table tbody tr.hidden_row td.hidden_left, .datamultytable_collapse tbody tr.hidden_row td.hidden_right, .reporting_main_table tbody tr.hidden_row td.hidden_right {
  background: none;
  width: 10px;
}
/* line 255, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.hidden_left, .reporting_main_table tbody tr.hidden_row td.hidden_left {
  -webkit-box-shadow: -5px 0 0 0 #cbe3ea;
  -moz-box-shadow: -5px 0 0 0 #cbe3ea;
  box-shadow: -5px 0 0 0 #cbe3ea;
  border-right: 1px solid gray;
  border-left: none;
}
/* line 262, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.hidden_right, .reporting_main_table tbody tr.hidden_row td.hidden_right {
  -webkit-box-shadow: 5px 0 0 0 #cbe3ea;
  -moz-box-shadow: 5px 0 0 0 #cbe3ea;
  box-shadow: 5px 0 0 0 #cbe3ea;
  border-left: 1px solid gray;
  border-right: none;
}
/* line 268, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container, .reporting_main_table tbody tr.hidden_row td.sub_table_container {
  padding: 0;
}
/* line 271, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table {
  width: 100%;
}
/* line 275, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table thead tr, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table thead tr {
  background-color: #bedae4;
  border-bottom: 1px solid #dfecf5;
}
/* line 282, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_data, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_data {
  background-color: #dfecf5;
}
/* line 285, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_data td:last-child, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_data td:last-child {
  background-color: #aecfe1;
  text-align: center;
  padding: 0;
  padding-top: 6px;
  width: 55px;
}
/* line 295, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription {
  background-color: #aecfe1;
}
/* line 299, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container {
  width: 165px;
}
/* line 302, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container .error_text, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container .error_text {
  color: #fa6466;
  padding-top: 5px;
  font-style: italic;
  font-size: .85em;
  text-shadow: none;
}
/* line 309, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container .file_button_div, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription .image_form_container .file_button_div {
  text-shadow: none;
}
/* line 314, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_discription, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_discription {
  font-style: italic;
  text-shadow: none;
  padding: 20px;
}
/* line 319, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_error.italic_discription, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_error.italic_discription {
  color: #fa6466;
}
/* line 322, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_no_error.italic_discription, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_discription td.italic_no_error.italic_discription {
  color: #5291ce;
}
/* line 327, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_separator, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr.document_separator {
  background-color: #bedae4;
  height: 12px;
  border-bottom: 1px solid #dfecf5;
  border-top: 1px solid #dfecf5;
}
/* line 335, ../sass/tables.scss */
.datamultytable_collapse tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr:last-child, .reporting_main_table tbody tr.hidden_row td.sub_table_container table.colapse_sub_table tbody tr:last-child {
  display: none;
}

/*
    * Vertical
    * With cellspacing
    * Without header
*/
/** Optimizer tables **/
/** Webmaster tables **/
/** Profile tables **/
/* line 377, ../sass/tables.scss */
.reporting_sub_table {
  width: 100%;
}
/* line 381, ../sass/tables.scss */
.reporting_sub_table thead tr {
  background-color: #bedae4;
}

/* line 388, ../sass/tables.scss */
.div-with-bg {
  background: #cbe3ea;
  padding: 15px;
  margin-bottom: 26px;
}
