/**
 Css Audit style
*/
.row{
    position: relative;
}
/*form*/
div#createform-useaudit label{
    display: block;
    font-size: 13px !important;
}

span.ch-bx-meta, div#summary-audit>span{
    display: inline;
    float: right;
}

label.error{
    color: #ff0000;
}

div#createform-useaudit label>span.icons{
    position: relative;
    display: inline-block;
}
div#createform-useaudit label>span.icons>span{
    position: absolute;
}
.form-control {
    margin: 13px auto;
}
textarea.form-control{
    min-height: 73px;
}

.row .subscribe{
    font-size: 12px;
    margin: 13px auto;
}
/*end form*/

/*list*/
div#list-orders-audit{
    margin: 25px auto
}

div.row.list-audit-header,
div.row.list-att-header{
    padding: 11px 0;
    background-color: #FF836E;
    color: #FCFCFC;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    /*background-color: #3498DB;*/
}

div.list-audit-header>div.row.list-audit-header,
div.row.list-att-header {
    background-color: #3498DB;
}

.found{
    text-align: center;
    display: block;
    min-height: 25px;
}
.list-records .found{
    border-bottom: 15px solid #DDE0EA;
}

div#list-orders{
    text-align: center
}
div.items-audit{
    cursor: pointer;

}

div.exist-item-audit{
    background-color: rgb(255, 239, 231);
}

div.exist-item-audit:hover{
    background-color: rgb(250, 209, 184);
}

div.exist-item-audit>div{
    text-align: left;
    padding: 4px 14px;
}

div.exist-item-audit>div.date-list-audit, .att-date{
    font-size: 13px;
    margin-top: 9px;
}

div.exist-item-audit>div.status-list-audit>div.status-audit-item{
    font-size: 26px;
}

div.exist-item-audit>div.unique-list-audit>div.unique-audit-item{
    font-size: 23px;
    letter-spacing: 0.00000001em;
}

div.exist-item-audit>div.name-list-audit>div.name-audit-item{
    font-size: 16px;
}

div.exist-item-audit>div.name-list-audit>div.url-audit-item{
    font-size: 12px;
}

div.exist-item-audit>div.date-list-audit>div>span{
    display: inline;
    float: right;
}

div.list-audit-header{
    text-align: left;
}

div.icon-filter {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 30px;
    height: 30px;
    border: 0px solid #ffffff;
    text-align: center !important;
    display: block;
    padding: 0;
    margin: 0;
}

.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 15px;
    -moz-osx-font-smoothing: grayscale;
    /* height: 72px; */
    vertical-align: bottom;
    margin: auto;
    text-align: center;
}
/*end list*/

/*process audit*/
.process-partition-audits,
.process-about-audits,
.process-attachments-audits{
    min-height: 50px !important;
    text-align: left;
    padding: 15px;
}
div.process-partition-audits>ul>li>span.price{
    float: right;
}
.process-items-audit{
    display: none;
}
.process-items-audit,.items-audit {
    background-color: #ffffff;
}

label.label-default{
    padding: 0 5px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: inherit;
    
}
.process-partition-audits ul{
    margin-left: 21px;
}
.process-partition-audits ul>li{
    margin: 7px 0 ;
    border-bottom: 1px dotted rgb(203, 203, 203);
}

.about-audits {
    padding: 4px 50px 4px 23px;
}

.active_header{
    background-color: #EC7552 !important;
    color: #ffffff;
}
.active_body>span.exists-audit>div>div.row{
    background-color: rgb(239, 236, 234);
}

div.wrp-more-button {
    height: 39px;
    text-align: center;
    background-color: #E4DDCF;
    color: darkgrey;
}
/*end process audit*/
/*attach adudits*/
.att-id{width:4%}
.att-comment{width:55%; padding: 5px 13px}
.att-status{width:13%}
.att-date{width:16%}
.att-href{width:8%; text-align: left}
.attach-audits>div{
    padding: 5px 13px;
    vertical-align: middle;
}
.attach-audits{
    background-color: rgb(234, 241, 250);
    padding: 5px 0;
}
.attach-audits:hover{
    background-color: rgb(216, 234, 255);
}

div.wrp-more-button {
    box-shadow: 1px 5px 13px -6px rgba(50, 50, 50, 0.65);
}

div.list-orders-audit div.wrp-more-button{
    border-top: 0px solid rgb(255, 239, 231);
    background-color: rgb(250, 209, 184);
}

div.process-attachments-audits div.wrp-more-button{
    border-top: 0px solid rgb(234, 241, 250);
    background-color: rgb(216, 234, 255);
}
/*end attach audits*/