div.row.header{
    background-color: rgb(80, 174, 202);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.013em;
    text-align: left;
}




div.row.header>div,
div.row.list-sites>div{
    padding: 13px;
}

div.row.list-sites>div{
    padding: 5px;
}

/*div.row.list-sites>div:nth-child(1)::before{*/
    /*content: "";*/
    /*width: 9px;*/
    /*background-color: rgb(193, 201, 210);*/
    /*height: 50px;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 3px;*/
/*}*/
div.row.list-sites>div:nth-child(1)>div.form-group{
    margin: -5px;
}

/*div.row.list-sites>div:nth-child(1) input{*/
    /*padding-left: 25px;*/
    /*letter-spacing: 0.01em;*/
    /*font-stretch: condensed;*/
    /*font-family: inherit;*/
    /*text-transform: uppercase;*/
    /*font-size: 16px;*/
    /*color: inherit;*/
    /*font-style: normal;*/
    /*border: 0;*/
    /*outline: 0;*/
    /*background-color: inherit;*/
/*}*/

input[type="text"]{
    width: 135px;
}

div.row.list-sites>div:nth-child(2){
    padding: 0;
    margin-left: -5px;
}

div.row.list-sites>div:nth-child(3){
    padding: 5px 13px;
}
div.row.list-sites>div:nth-child(4){
    text-align: center;
}

div.row.header>div{
    /*border: 3px solid #DDE0EA;*/
}

div.row.list-sites{
    margin-bottom: 3px;
}

div.list-sites .btn-sm {
    padding: 9px 13px;
    font-size: 13px;
    line-height: 1.385;
    border-radius: 4px;
    margin: -13px;
}


ul#j-ban-webmaster-nav>li{
    display: inline-block;
}