div.nav-title{
    background-color: rgb(184, 102, 78);
    margin: 0;
    padding: 11px;
    width: 100%;
    height: 44px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    font-family: sans-serif;
}
div.wrapper_content {
    background: #DDE0EA;
    padding: 0 !important;
    min-height: 800px;
}
div.content-header {
    height: 44px;
    background-color: #B87884;
    padding: 13px 33px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.13em;
}
div.row-content-wrapper{
    padding: 0 15px;
}
ul#navigation>li{
    background-color: rgb(229, 206, 202);
}
ul#navigation>li>a{
    color: rgb(107, 95, 100) !important;
}

div.form-group select.select-sm{
    outline: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(131, 145, 158);
    border-radius: 26px;
    margin: 0;
}

div.form-group select:after{
    display: inline-block;
    content: "\e114";
    font-size: 13px;
    /* position: absolute; */
    margin-left: 4px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}