table.dataTable {
	font-size: 14px;
}

td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.details td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}

tr.group,
tr.group:hover {
	background-color: #ddd !important;
}

#data_table_filter {
	display: none;
}