/**
 *   Миксины для страниц направлений
 */
/**
 *   Табы на странице направления
 */
/* Табы на странице профиля */
/**
 *   Список ссылок на страницы описания направлений
 */
/* line 4, ../../sass/pages/blacklist.scss */
.form-with-bg, .form-with-border, .form-with-border-bl {
  background: #cbe3ea;
  width: 500px;
  margin-bottom: 26px;
}

/* line 10, ../../sass/pages/blacklist.scss */
.form-with-border, .form-with-border-bl {
  margin: 0 auto;
}

/* line 15, ../../sass/pages/blacklist.scss */
.form-header, .blacklist .group-remove .elements form ul li:nth-child(even), .blacklist .group-add .elements form ul li:nth-child(even), .blacklist .group-remove .elements form ul li:nth-child(odd), .blacklist .group-add .elements form ul li:nth-child(odd) {
  color: #32525F;
  text-shadow: 1px 1px 0 white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #B0D7E2;
}

/* line 24, ../../sass/pages/blacklist.scss */
.text-area-bl {
  width: 99%;
}

/* line 28, ../../sass/pages/blacklist.scss */
.form-with-border-bl {
  width: 100%;
}

/* line 23, ../../sass/_mixins.scss */
.blacklist {
  float: right;
  width: 100%;
}

/* line 32, ../../sass/_mixins.scss */
.gbl-left {
  padding: 0;
  margin-right: 327px;
}

/* line 41, ../../sass/_mixins.scss */
.gbl-right {
  padding-right: 0;
  float: right;
  width: 327px;
  margin-right: -100%;
}

/* line 39, ../../sass/pages/blacklist.scss */
.blacklist {
  background: #cbe3ea;
  padding-left: 16pt;
  padding-top: 10pt;
  width: 98%;
  -webkit-box-shadow: 0px 0px 2px 0px;
  -moz-box-shadow: 0px 0px 2px 0px;
  box-shadow: 0px 0px 2px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  min-height: 1100px;
}
/* line 49, ../../sass/pages/blacklist.scss */
.blacklist .group-add {
  background: #B0D7E2;
}
/* line 52, ../../sass/pages/blacklist.scss */
.blacklist .group-add form {
  padding-bottom: 10px !important;
  width: 90% !important;
  margin: 0 auto !important;
}
/* line 56, ../../sass/pages/blacklist.scss */
.blacklist .group-add form label {
  color: #0094D4;
  font-style: italic;
}
/* line 63, ../../sass/pages/blacklist.scss */
.blacklist .group-remove, .blacklist .group-add {
  margin-bottom: 10px;
  margin-top: 30px;
  width: 70%;
}
/* line 67, ../../sass/pages/blacklist.scss */
.blacklist .group-remove input, .blacklist .group-add input {
  margin-top: 10px;
}
/* line 68, ../../sass/pages/blacklist.scss */
.blacklist .group-remove .elements, .blacklist .group-add .elements {
  border: 1px solid #ACBCC1;
}
/* line 70, ../../sass/pages/blacklist.scss */
.blacklist .group-remove .elements form, .blacklist .group-add .elements form {
  padding: 0;
  width: 100%;
  margin: 0;
}
/* line 76, ../../sass/pages/blacklist.scss */
.blacklist .group-remove .elements form ul li:nth-child(even), .blacklist .group-add .elements form ul li:nth-child(even) {
  padding-left: 10px;
  background: #B4CFDE;
  color: #043559;
  text-align: left;
}
/* line 83, ../../sass/pages/blacklist.scss */
.blacklist .group-remove .elements form ul li:nth-child(odd), .blacklist .group-add .elements form ul li:nth-child(odd) {
  padding-left: 10px;
  background: #E8F5F6;
  color: #043559;
  text-align: left;
}

/* line 96, ../../sass/pages/blacklist.scss */
.gbl-right {
  margin-top: 62px;
  background: #B0D7E2;
  margin-right: -99% !important;
  border: 1px solid #ACBCC1;
}
/* line 103, ../../sass/pages/blacklist.scss */
.gbl-right .group-search, .gbl-right .blacklist-letters {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 106, ../../sass/pages/blacklist.scss */
.gbl-right .group-search .row, .gbl-right .blacklist-letters .row {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background: #B0D7E2;
}
/* line 113, ../../sass/pages/blacklist.scss */
.gbl-right .group-search form .form-header, .gbl-right .blacklist-letters form .form-header, .gbl-right .group-search .blacklist .group-remove .elements form ul li:nth-child(even), .blacklist .group-remove .elements .gbl-right .group-search form ul li:nth-child(even), .gbl-right .blacklist-letters .blacklist .group-remove .elements form ul li:nth-child(even), .blacklist .group-remove .elements .gbl-right .blacklist-letters form ul li:nth-child(even), .gbl-right .group-search .blacklist .group-add .elements form ul li:nth-child(even), .blacklist .group-add .elements .gbl-right .group-search form ul li:nth-child(even), .gbl-right .blacklist-letters .blacklist .group-add .elements form ul li:nth-child(even), .blacklist .group-add .elements .gbl-right .blacklist-letters form ul li:nth-child(even), .gbl-right .group-search .blacklist .group-remove .elements form ul li:nth-child(odd), .blacklist .group-remove .elements .gbl-right .group-search form ul li:nth-child(odd), .gbl-right .blacklist-letters .blacklist .group-remove .elements form ul li:nth-child(odd), .blacklist .group-remove .elements .gbl-right .blacklist-letters form ul li:nth-child(odd), .gbl-right .group-search .blacklist .group-add .elements form ul li:nth-child(odd), .blacklist .group-add .elements .gbl-right .group-search form ul li:nth-child(odd), .gbl-right .blacklist-letters .blacklist .group-add .elements form ul li:nth-child(odd), .blacklist .group-add .elements .gbl-right .blacklist-letters form ul li:nth-child(odd) {
  color: black;
}
/* line 117, ../../sass/pages/blacklist.scss */
.gbl-right .group-search .search-date-label, .gbl-right .blacklist-letters .search-date-label {
  padding-left: 3px;
}
/* line 125, ../../sass/pages/blacklist.scss */
.gbl-right .blacklist-letters .form-header, .gbl-right .blacklist-letters .blacklist .group-remove .elements form ul li:nth-child(even), .blacklist .group-remove .elements form ul .gbl-right .blacklist-letters li:nth-child(even), .gbl-right .blacklist-letters .blacklist .group-add .elements form ul li:nth-child(even), .blacklist .group-add .elements form ul .gbl-right .blacklist-letters li:nth-child(even), .gbl-right .blacklist-letters .blacklist .group-remove .elements form ul li:nth-child(odd), .blacklist .group-remove .elements form ul .gbl-right .blacklist-letters li:nth-child(odd), .gbl-right .blacklist-letters .blacklist .group-add .elements form ul li:nth-child(odd), .blacklist .group-add .elements form ul .gbl-right .blacklist-letters li:nth-child(odd) {
  color: black;
}
/* line 128, ../../sass/pages/blacklist.scss */
.gbl-right .blacklist-letters a {
  color: black;
  text-decoration: underline;
  display: block;
  margin-left: 38px;
  margin-bottom: 8px;
}
/* line 138, ../../sass/pages/blacklist.scss */
.gbl-right .blacklist-letters-row, .gbl-right #black_list_letters4 {
  margin-top: 10px;
  width: 70px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 143, ../../sass/pages/blacklist.scss */
.gbl-right .blacklist-letters-row span, .gbl-right #black_list_letters4 span, .gbl-right .blacklist-letters-row a, .gbl-right #black_list_letters4 a {
  float: left;
  margin-left: 45px;
  margin-bottom: 3px;
}
/* line 148, ../../sass/pages/blacklist.scss */
.gbl-right .blacklist-letters-row a, .gbl-right #black_list_letters4 a {
  color: #0094D4;
}
