/* line 4, ../../sass/pages/contract.scss */
.contact_container {
  width: 248px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  border-left: 5px solid #0094D4;
  border-bottom: 1px solid #9f9f9f;
  padding: 20px 24px 15px 34px;
  position: relative;
  font-size: 14px;
}
/* line 17, ../../sass/pages/contract.scss */
.contact_container a {
  text-decoration: underline;
}
/* line 21, ../../sass/pages/contract.scss */
.contact_container .contract_icon {
  position: absolute;
  top: -12px;
  left: 6px;
}
/* line 27, ../../sass/pages/contract.scss */
.contact_container .gray_text {
  padding-top: 4px;
  color: #9f9f9f;
}
/* line 33, ../../sass/pages/contract.scss */
.contact_container .send-document {
  margin-top: 13px;
}
/* line 37, ../../sass/pages/contract.scss */
.contact_container .file_input {
  color: red;
  opacity: 0.0;
}
/* line 42, ../../sass/pages/contract.scss */
.contact_container .error_text {
  color: #fa6466;
  padding-top: 5px;
  font-style: italic;
  font-size: .85em;
}
