/* line 4, ../../sass/pages/tablet.scss */
#content .content-inner {
  overflow: hidden !important;
  width: 1000px !important;
  padding: 0 !important;
  background: none;
  float: none !important;
}

/* line 13, ../../sass/pages/tablet.scss */
.tablet {
  width: 980px;
  margin: 0 auto;
  height: 771px;
  background: url('/themes/modern/img/hand_with_tablet.png?1380818687') no-repeat bottom -1px left;
  border: 0;
  outline: none;
  position: relative;
}
/* line 22, ../../sass/pages/tablet.scss */
.tablet h1 {
  margin-left: 20px;
}
/* line 26, ../../sass/pages/tablet.scss */
.tablet .top-line {
  margin-bottom: 10px !important;
  margin-left: 0;
}
/* line 31, ../../sass/pages/tablet.scss */
.tablet .screen {
  position: relative;
  left: 225px;
  top: 84px;
  width: 624px;
  height: 395px;
}
/* line 39, ../../sass/pages/tablet.scss */
.tablet form .notice {
  background: none !important;
  width: 270px !important;
  text-align: left !important;
  left: -30px;
  top: -27px;
  color: black !important;
  font-style: italic;
}
/* line 50, ../../sass/pages/tablet.scss */
.tablet .registration-first-form label {
  font-weight: normal !important;
  color: #38a8d0;
}
/* line 56, ../../sass/pages/tablet.scss */
.tablet .right-hand {
  position: absolute;
  bottom: -28px;
  right: 0;
  height: 420px;
  width: 446px;
  background: url('/themes/modern/img/right_hand.png?1380818687');
}
/* line 66, ../../sass/pages/tablet.scss */
.tablet .row .cell {
  width: 140px !important;
}
